[2020-10-09 13:35] ingalless commented on #279
@Spectrem12 Great suggestion! Am I to understand there are two issues here? (just in the interest of cleaning things up)

**1. Feature**
It would be nice to be able to create headings within that file when the link is created.

EX: [[example]](#foobar)
Would create a file called example.md with the following inside of it
[code]
**2. Bug**
As well, when creating something like

[example](./../my-ex

[2020-10-09 15:45] #276 closed

[2020-10-09 20:53] Spectrem12 commented on #279
I think you are correct, but I think since you didnt wrap the example in ``` it doesnt literate exactly what you mean.
But yes, you are correct! I think ultimately, the want is to be able to link to headings within a new page when creating wikilinks.

I just discovered another bug or rather.. an unexpected behavior that is directly related to this.

If you create a heading with a wikilink to anoth

[2020-10-10 11:12] TommasoBendinelli opened #285 "Focus on the autogenerate graph when clicking on a link"
Hello,
I have a graph with many different bubbles. It would be possible, when clicking on a bubble to have the graph to autofocus on the selected bubble?

Best,
Tommaso

[2020-10-10 12:14] ingalless commented on #285
@TommasoBendinelli this looks like a fix for the tchayen/markdown-links repository if I understand correctly.

heres a link: https://github.com/tchayen/markdown-links

Looks a good suggestion!

[2020-10-10 16:40] TommasoBendinelli commented on #285
I have open an issue there as well

[2020-10-10 18:16] SanketDG commented on #275
Yes, I would definitely love something that's integrated in the extension (so it just works in VSCode irrespective of everything else) with CLI as secondary (just like `janitor`)

[2020-10-10 18:29] riccardoferretti commented on #285
For reference, here is the link @TommasoBendinelli created in Markdown Links: https://github.com/tchayen/markdown-links/issues/65

[2020-10-10 18:41] riccardoferretti commented on #279
good point @Spectrem12 - I think this is a bit tricky because TOC generation is provided by Markdown All-in-one, which per se doesn't support wikilinks.
Support for wikilinks is added via Markdown Notes, a different plugin.

So the case you are describing falls exactly in the cracks between the two plugins..

Could you file an issue with Markdown All-in-one and see if they are open to addressing i

[2020-10-11 02:41] yufanlu commented on #75
It would be awesome if this is supported! Could fully migrate to foam with this feature

[2020-10-11 10:49] #44 closed

[2020-10-11 22:40] mrusso99 opened #286 "Add wikilink support to md preview (was: Use vscode-memo for bidirectional linking)"
Using vscode-memo fixes the uppercase linking issue present in foam

https://github.com/svsool/vscode-memo

[2020-10-12 11:00] riccardoferretti commented on #286
hi @mrusso99, can you please describe the bug or include a link to the relevant issue?

[2020-10-12 11:16] mrusso99 commented on #286
Using the vscode extension vscode-memo allows me to define markdown links in any way that i like, as you can see from the image, fix the case sensitive issue previously present in Foam

![Screenshot_20201012_131353](https://user-images.githubusercontent.com/28223818/95740537-3e8f7880-0c7c-11eb-99c8-e55ff677dc21.png)

[2020-10-12 11:55] mrusso99 commented on #286
Without the extension enabled as you can see from the [docs](https://github.com/foambubble/foam/blob/master/docs/link-formatting-and-autocompletion.md) i cannot define links with Uppercase names nor with a space.

![Screenshot_20201012_134759](https://user-images.githubusercontent.com/28223818/95743167-d0998000-0c80-11eb-93c2-90986c0089cc.png)

As you can see from the screenshot, disabling this ex

[2020-10-12 12:05] mrusso99 commented on #286
A way to replicate this bug is by creating a `.md` file like this `Example.md`.\
If i create on another file a wiki link backtracing to `Example.md`, the markdown preview does not show the link, instead, just shows what i wrote in the `.md` like in the screenshot.\
For reference here's is a foam workspace that replicates the issue.

[Issue#286.zip](https://github.com/foambubble/foam/files/5364987/

[2020-10-13 12:51] clementoriol opened #288 "Hash symbols in filenames or titles breaks Link References and Backlinks"
**Describe the bug**
I've started tagging my bubbles using tags, in the way that @picolino describes here: https://github.com/foambubble/foam/issues/34#issuecomment-703263753

However, I've notice a issues when using hash (`#`) symbols:

**A/** When a file starts with an `#`, autocomplete doesn't work and it's impossible to create a proper Link Reference (it doesn't show up at the bottom of the fi

[2020-10-14 02:59] astrelochnik commented on #34
Just to clarify for anyone who also likes this solution. For me the `#` at the beginning of the wiki-link breaks the `ctrl+left-click` "open definition" feature. You have to name your tag notes like this to get it working again: `#\[tag-name].md`. Also, to search your workspace for tags, you press `ctrl+shift+f` (WIN) to search "#\\[tag-name].md."

[2020-10-14 08:30] ingalless commented on #75
@yufanlu @arnarthor Although it doesn't support deadlines, [this extension](https://marketplace.visualstudio.com/items?itemName=Gruntfuggly.todo-tree) may be useful.

@sauravkhdoolia Looks a good lib! I wonder if this would be better developed as an extension that could be curated into Foam rather than baked into Foam. @riccardoferretti any thoughts? Could this be a good candidate for a plugin too

[2020-10-14 08:40] riccardoferretti commented on #75
Yeah it's definitely something people are interested in managing via foam.
My take is that it's good to get started with a recipe, using a third party extension (like the ones that have been mentioned) to gather some experience and data on the use cases.
A template-level plugin sounds like a good option for someone that needs deeper integration as well.
Eventually it might be built into foam core,

[2020-10-14 11:44] Jackiexiao commented on #188
Foam的中文交流QQ群：610013037，欢迎加入

[2020-10-14 18:50] ingalless commented on #288
Just a little thought dump to get this moving...

This feels quite difficult to solve, because #something is a reference to a heading _within_ a page, not usually used in a filename. As a work around, is there an alternative qualifying character you could try, perhaps a tilde (~) to see if the problem persists even with that? That may at least confirm my thoughts...

[2020-10-15 09:05] riccardoferretti commented on #34
thanks @picolino, it's a very good idea to build a convention to work around the current limitation in foam!

per @astrelochnik's comment and #288, I would suggest not using the `#` character though, as it has deep semantic meaning in markdown.
I like the suggestion by @ingalless (in #288) of using `~`, I tested it and it doesn't break the linking/autocompletion.

[2020-10-16 12:40] clementoriol commented on #288
Hey, thank you for your input !
I juste tested it and other special chars seems to break for me when at the beginning of the file name. Like my case A/ from the original post.

Autocompletion is there, but it does not create link references :
![image](https://user-images.githubusercontent.com/3337108/96259050-4b360880-0fbd-11eb-8ae0-e7720ca4900f.png)

[2020-10-19 17:21] anthrolisp opened #291 "["Question"] Possible to have more than one workspace or database?"
Is it possible to have more than one workspace or database? Thanks!

[2020-10-20 14:48] riccardoferretti commented on #291
yes, any directory can be a foam repo. there is no need for a db, the files are the source of truth

[2020-10-20 14:48] #291 closed

[2020-10-20 14:49] #285 closed

[2020-10-20 14:50] #279 closed

[2020-10-20 14:57] riccardoferretti commented on #240
Added to default template in https://github.com/foambubble/foam-template/commit/b6ec501cf1cf11e193e66a733ff8e75ceda7e7a4

[2020-10-20 14:57] #240 closed

[2020-10-21 16:52] Yaski opened #293 "["BUG"] Link Reference Definition uses different path slashes format on Win and Mac"
I use Foam on Mac Os and on Win Os at the same time
And when I save a page on Win it uses backslashes in paths for link reference definitions
But when I open and resave the same page on Mac it changes all links to using forward slashes.
It makes excess changes for Git commit.

[2020-10-21 16:54] Yaski commented on #293
Btw. I don't uses any other markdown generator tools so for me it would be perfect to disable "Link reference definitions" at all. Is there an option for that?

[2020-10-22 18:45] robgrace opened #294 "Add support for block-level linking"
(This is more of a core feature, rather than an enhancement, inasmuch as foam is trying to replicate Roam behavior):

Roam, and now Obsidian, provide support for block-level linking between markdown notes.  It would be great if Roam could follow suit and provide this capapbilty.

Unfortunately, there are now three styles of intra-note linking to choose from:
- **Roam**:   ((block-id))      to text

[2020-10-22 19:48] ingalless commented on #294
Hey @robgrace!
Great suggestion, and one that had work started on it a while back:

[Foam Sneak Peek: Block Referencing and Block Embedding](https://youtu.be/ZqLEGGmOw-8)

It's one of the features we want in Foam

[2020-10-23 06:48] riccardoferretti commented on #293
Great point @Yaski, this is mainly meant to help github pages, so we should just go for the unix style path

[2020-10-23 08:16] Yaski commented on #293
@riccardoferretti  I agree on that. If somebody can point me to the part of code where the paths are constructing I can try to fix that myself.

[2020-10-23 15:56] riccardoferretti commented on #293
Yes, it can be disabled as of https://github.com/foambubble/foam/pull/282

[2020-10-23 19:35] riccardoferretti opened #295 "Add to docs migration from MS Word to docs"
Inspired by https://forum.obsidian.md/t/simple-powershell-for-now-script-to-convert-microsoft-word-files-into-markdown-with-pandoc/7121

[2020-10-24 07:48] Craskermasker opened #296 "["Issue"] Disable links from daily notes"
Links from daily notes link across unrelated topics and clutter up the knowledge graph. Is there a config option that can disable outward links from daily notes?

[2020-10-24 07:49] Craskermasker commented on #296
Links from daily notes link across unrelated topics and clutter up the knowledge graph. Is there a config option that can disable outward links from daily notes?

[2020-10-24 07:59] Craskermasker commented on #296
Resolved by moving daily notes into a subfolder and configuring foam to make daily notes in a subfolder. Added the following line to settings.json

"foam.openDailyNote.directory": "dailies"

[2020-10-24 07:59] #296 closed

[2020-10-25 12:51] jmg-duarte opened #299 "Foam Graph should take into account direct MD links"
This issue is related to this comment https://github.com/foambubble/foam/pull/290#issuecomment-713870715.

As stated in the comment and in this issue's title: Foam should be able to parse links of the form `[[title](link)]`.

I am not familiarized with the parsing process for the Foam, however, the strategy can be to first include all double braced links (both `[[]]` and `[[]()]`) and then validat

[2020-10-27 12:02] ingalless commented on #115
Dumping some initial notes:

Templates could live in the directory `.foam/templates/`

Some things to consider (will be updated)

- [ ] Does Foam exclude `.foam` from parsing?
- [ ] Setting a daily note template to be the ID of one of the templates

[2020-10-27 13:25] riccardoferretti commented on #115
more considerations from my conversation with @ingalless and random thoughts:
- add a new `Create new note from template..` command, which would then let select the template from the list and the file name
- shall the template also specify (optionally) in which directory to create the note? (e.g. imagine the person template saying that all people are saved in the "people" directory)
- what's the f

[2020-10-28 10:05] jmg-duarte opened #300 "The link generator should take into account ignored folders"
I'm currently trying to build a site for https://github.com/rustype/notes using https://github.com/mathieudutour/foam-gatsby-template.
However, when building locally (for debug purposes) the wiki-link generator starts using the `.md` files from the `_layouts` folder.

This should be an easy fix, add an `ignore` setting as follows:
[code]

And filter out files whose path is prefixed with any of the

[2020-10-28 13:42] donniep opened #301 "["BUG"] Show Graph map keys error"
**Describe the bug**

When I execute the Show Graph command I get:
Command 'Foam: Show graph' resulted in an error (Map keys must be unique; "null" is repeated)

**Affected package**

- [ ] `foam-cli`
- [ ] `foam-core`
- [ ] `foam-vscode`
- [ ] `other/meta/???`
Sorry, don't know

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Command Palette'
2. Click on 'Foam: Show graph'
3. Scroll d

[2020-10-28 14:05] riccardoferretti commented on #301
thanks for reporting this @donniep, I think I know the code that is causing the issue, but I am surprised of how that could be the case. how big is your workspace? any chance to get a reproducible repo to test this on? thanks!

[2020-10-28 14:14] riccardoferretti commented on #300
hey @jmg-duarte, thanks for reporting this bug, can you tell me which file and definition is being incorrectly generated? I will try reproduce it to better understand the issue.
A configuration option to exclude some links might be a good solution, but let me first fully understand the problem at hand, thanks!

[2020-10-28 14:25] riccardoferretti commented on #288
@clementoriol I am surprised that those chars don't work as I don't think they have special meaning in markdown, and I tested `~` before, might need to look into it

my suggestion in the meantime would be to use a `tags/` directory (consider that to be a prefix, just like `@` or `~`).

Support for tags will be coming soon

[2020-10-28 14:35] jmg-duarte commented on #300
I was trying to reproduce the problem to upload it as a branch but I was unable to.
Either way, what happened was:
- I built the site under `_layouts` using https://github.com/mathieudutour/foam-gatsby-template
- When the link generator kicked in, instead of using my actual markdown files, it would get the rendered `.md` files present in the `_layout`

I'd end up with a final link like:
[code]

[2020-10-28 14:42] riccardoferretti opened #302 "Add basic tag support"
Add support for tags in the foam workspace.

Each note would be able to define tags in 2 ways:
- by having a `tags` property in YAML
  - syntax for this property will be lose, so all of the following will yield the same result:
    - `tags: tag1, tag2`
    - `tags: tag1 tag2`
    - `tags: #tag1 tag2`
    - `tags: [tag1, #tag2]`
- by having `#tag` anywhere in the file

---

- [ ] Support defining t

[2020-10-28 14:59] riccardoferretti commented on #300
it sounds like foam was parsing the files inside your `_layout` directory (which would make sense) and that would cause a conflict with the regular files.

The solution here is telling foam to ignore the files in the `_layout` directory altogether.
More in general, the solution is to support glob include/exclude patterns in foam.

[2020-10-28 15:03] jmg-duarte commented on #300
Exactly! I am available to help implement the feature

[2020-10-28 15:04] ingalless commented on #300
@jmg-duarte at least to get you started for now, you may want to specify the `files.exclude`.

For reference, here's our companies `files.exclude` value in the `.vscode/settings.json`

[code]

[2020-10-28 15:05] jmg-duarte commented on #300
While that works, it sadly hides the files in the file pane

[2020-10-28 15:10] ingalless commented on #300
@jmg-duarte Yeah, that's the only downside! I didn't mind for node_modules, but perhaps your use case is different.

Here's some thoughts around globbing:
- Perhaps .gitignore should be obeyed, but then what if there's a local file that they are hiding from their GitHub for specific reasons?
- We could have a .foamignore?
- Or, a "include"/"exclude" as @riccardoferretti mentioned in a foam specifi

[2020-10-28 15:10] riccardoferretti commented on #300
@ingalless might be worth expanding a bit on the role of the `files.exclude` option in vscode.

By looking at the foam code, we don't filter any file (see https://github.com/foambubble/foam/blob/a34842b95722cdbaa86ce07a5549bbf3947208a9/packages/foam-core/src/bootstrap.ts#L31), so it sounds like those patterns above are used in vscode itself and are totally invisible to anything running inside it,

[2020-10-28 15:16] jmg-duarte commented on #300
I'd say VSCode itself turns a blind eye to files in `files.exclude`, but they should appear when querying the filesystem through VSCode.

I'd say it is a matter of where you want to place the configuration, in the `foam.json` file, to be made available to the foam-cli or in VSCode. Or both! Since the VSCode could override the settings if present in the VSCode config.

I'd say we flesh the idea out

[2020-10-28 15:22] riccardoferretti commented on #300
@jmg-duarte sounds good to me.
The bootstrap function(s) is where the loading of the files happen, so any filtering would be around there.

These could be good places to start:

https://github.com/foambubble/foam/blob/a34842b95722cdbaa86ce07a5549bbf3947208a9/packages/foam-core/src/bootstrap.ts#L44

and

https://github.com/foambubble/foam/blob/a34842b95722cdbaa86ce07a5549bbf3947208a9/packages/foam-

[2020-10-28 15:27] riccardoferretti commented on #293
hi @Yaski, it would be great if you could make a PR for this, I think this should be a good starting point:

https://github.com/foambubble/foam/blob/a34842b95722cdbaa86ce07a5549bbf3947208a9/packages/foam-core/src/janitor/index.ts#L22

Let me know if you need any support here or on discord!

[2020-10-28 16:00] riccardoferretti commented on #286
thanks @mrusso99, I was able to reproduce it.

Looks like vscode-memo addresses it by [extending markdown-it](https://code.visualstudio.com/api/extension-guides/markdown-extension) in [the code](https://github.com/svsool/vscode-memo/blob/master/src/features/extendMarkdownIt.ts)

Thanks for reporting the issue, would you be interested in looking into it?

[2020-10-28 16:02] mrusso99 commented on #286
Unfortunately i don't nave any competence in neither CSS nor typescript,
sorry.

Il mer 28 ott 2020, 17:00 Riccardo <notifications@github.com> ha scritto:

[2020-10-28 16:05] riccardoferretti commented on #299
@jmg-duarte thanks for reporting this. As a reference, the place where this would need to be addressed is during the creation of the foam model:

https://github.com/foambubble/foam/blob/a34842b95722cdbaa86ce07a5549bbf3947208a9/packages/foam-core/src/markdown-provider.ts#L48

Either as part of this function, or by adding a similar one, we would also capture internal links that are not defined using

[2020-10-28 16:12] jmg-duarte commented on #300
Just happened with the new graph
![image](https://user-images.githubusercontent.com/15343819/97463946-3865f100-1938-11eb-8767-2675919a9d8f.png)
I'm putting the image here since the links affect both.
Most of the points are from the site build in `_layouts`

[2020-10-28 16:14] donniep commented on #301
The repository is years of private notes, so not a reproducible repo, but it’s 68 .md files totaling about 1.1 MB.

[2020-10-28 16:29] riccardoferretti commented on #301
hi @donniep, I guess I will start by at least suppressing the problem to get the graph working.
I wonder if in your repo there are "unusual" files or links, e.g. files with only special characters, or empty wikilinks, ...

Basically _my guess_ is the problem is happening here:

https://github.com/foambubble/foam/blob/a34842b95722cdbaa86ce07a5549bbf3947208a9/packages/foam-vscode/src/features/datavi

[2020-10-28 16:31] riccardoferretti commented on #300
yes that makes perfect sense.
The graph uses the foam model, the same used by the generator, so errors should show across features.

That's actually one of the main benefits of consolidating under one model, fix it in one place, fix it everywhere :)

[2020-10-28 16:32] riccardoferretti commented on #286
@mrusso99 thanks anyways for spotting the issue and the path to the solution, we'll sort it out :)

[2020-10-28 17:01] ingalless commented on #300
Yes, sorry. `files.exclude` instructs the native `vscode.workspace.findFiles` API to exclude them from a glob.

So, where you've got `const files = await workspace.findFiles("**/*");`, VSCode will already be excluding those matching the globs defined in `files.exclude`.

These are great points, wholeheartedly agree!

[2020-10-28 17:13] jmg-duarte commented on #300
From my experimentation
https://github.com/foambubble/foam/blob/a34842b95722cdbaa86ce07a5549bbf3947208a9/packages/foam-core/src/bootstrap.ts#L44
Here is too soon, the call returns an empty array.

We can filter here:
https://github.com/foambubble/foam/blob/a34842b95722cdbaa86ce07a5549bbf3947208a9/packages/foam-vscode/src/extension.ts#L65

The code below is a quick experiment that assumes all paths

[2020-10-28 17:13] riccardoferretti commented on #301
@donniep do you have any YAML in your notes? just came across this: https://github.com/eemeli/yaml/issues/3

[2020-10-28 17:43] riccardoferretti commented on #300
that was quick, thanks @jmg-duarte!

That doesn't feel right, this is where the legwork should really happen, maybe there is a bug in the code. what's the value of `folder`?

That's a good starting point, we just need to make the filters more configurable, so that it works with each person's individual setup.

Also, we use https://github.com/isaacs/node-glob in the `bootstrap.ts` file, it might ma

[2020-10-28 18:02] jmg-duarte commented on #300
The code does not run because `config.workspaceFolders` returns an empty array.

I also get this `Could not read configuration from ~/.foam/config.json`. I'm not sure how related it is.

I'll add a setting for multiple ignore paths and submit a PR, we can then move discussion there.

I also prefer prioritizing excludes, this errs on the safer way, in general this would help not leaking important i

[2020-10-28 18:10] Yaski commented on #293
@riccardoferretti as I understand "relativePath" variable should be fixed on Win?
On this line
https://github.com/foambubble/foam/blob/a34842b95722cdbaa86ce07a5549bbf3947208a9/packages/foam-core/src/markdown-provider.ts#L201

Do we need a parameter to toggle this behaviour in settings for old users to keep backward compatibility?

[2020-10-28 18:23] ingalless opened #303 "Following daily note wiki link does not create file correctly"
Following a wiki-link generated by a daily note snippet doesn't apply the daily note settings

**Affected package**
`foam-vscode`

**To Reproduce**
Steps to reproduce the behavior:
1. Set `foam.snippets.navigateOnSelect` to false
2. Generate a wiki link using the snippet **to a day where a note does not yet exist**
3. Ctrl click or f2 into the note
4. Page won't generate following daily note setti

[2020-10-28 18:26] Yaski commented on #293
More questions to come.
Probably it is better to fix the path right in the place where it is written in file, to avoid possible errors when relativePath property is used somewhere else in a function and that function expects it to be in Win format.

[2020-10-28 18:38] donniep commented on #301
I am not a programmer, but to all your questions, yes, this is a longstanding collection of notes and journals that has been through several iterations of tooling, including org-mode and, most recently, vim-zettelkasten.  There’s YAML in there from both org-mode and vimwiki, which is a dependency of vim-zettelkasten.  The actual [[]] links are consistent, but the older files have no links in them

[2020-10-28 18:38] ingalless commented on #293
@Yaski if I understand correctly, `path.normalize` would mean you can leave relativePath as is?

[2020-10-28 18:55] riccardoferretti commented on #293
That sounds like a good approach. Honestly I cannot think of reasons why one would want to have it the other way, but I am not a Win user, so can't really say.

IIUC what you mean, I would make the change in `createMarkdownReferences` in a similar way to what we do for the extension setting (pass it as a param).

@ingalless I don't think `path.normalize` would work, as it still uses the OS slash (

[2020-10-28 19:04] riccardoferretti commented on #303
hi @ingalless, a few questions to better understand:
- do you know why this happens?
- when you say "generate following daily note settings", what do you mean exactly?
- I believe there is also an issue around navigating to files in other directories, wondering if what you are seeing is somewhat due to that as well?

[2020-10-28 19:12] riccardoferretti commented on #301
hi @donniep from the various tests I have done it feels like this is due to the YAML parsing, and not to the graph code.

Let us try another thing: can you run any of the other foam commands?
My guess is that this issue happens whenever the extension is initialized; right now it's the graph command that does it for you, but it might be caused by any other command.
If I am correct, you should see t

[2020-10-28 19:34] #300 closed

[2020-10-28 19:39] donniep commented on #301
Mixed bag:  Open Daily Note (which is the only one I had used before trying the new Graph command) and Copy to Clipboard without Brackets both work.  Update Markdown Reference List and Run Janitor do not.

[2020-10-28 20:37] mrusso99 commented on #286
Good luck and keep up the great work!

Il mer 28 ott 2020, 17:32 Riccardo <notifications@github.com> ha scritto:

[2020-10-28 20:47] riccardoferretti commented on #301
thanks @donniep this kinda validates what I was thinking (the commands that work do not use the foam model).
So, in this case I would say the problem is not with the graph but likely with the YAML parsing.

The only thing I would suggest to validate that is stripping the YAML from all files and see if the issue occurs anyways.
But in the meantime I will close the issue, feel free to reopen either

[2020-10-28 20:47] #301 closed

[2020-10-28 20:50] ingalless commented on #303
It happens because the default behaviour only expands the snippet out as a wiki link. It doesn't go and create the file

Thus, to create the file you're relying on the default "ctrl+click" behaviour, which may come from markdown links?

Perhaps if "navigateOnSelect" is false then the file should still be created?
---
Let's say I expand the snippet now for tomorrow. That would put in (based on my s

[2020-10-28 21:23] riccardoferretti commented on #303
yeah that makes sense.

what's your take on how to best approach it?

yes we could create the file, it would solve the problem of the initial content (as well as the custom directory I guess?). I don't love having those empty files around but maybe it's the lesser evil?

[2020-10-28 22:23] donniep commented on #301
Stripping YAML worked.  If anyone else runs into this barrier, a one-liner FTW:
`grep -xlrZ -- "---" . | xargs -0 -l sed -i.bak '1 { /^---/ { :a N; /\n---/! ba; d} }'`

[2020-10-29 09:00] ingalless commented on #303
@riccardoferretti I wonder if for now creating the file in the background is the simplest way to handle it.
If the ctrl+click behaviour is coming from ~~markdown links~~ markdown notes then we would be battling its behaviour to get our own behaviour I suspect? I doubt we can both register ctrl+click functionality on the same matches!

Happy to sort it if you like 👍🏻

[2020-10-29 09:36] riccardoferretti commented on #303
how do you feel about introducing a property `foam.dateSnippets.afterCompletion`, with values:
- `noop`: nothing happens (the user manually manages the note creation)
- `createNote`: creates the note if it doesn't exist, but won't navigate to it (useful to make sure the daily note settings are followed)
- `navigateToNote`: navigates to the note, and of course creates it if it doesn't exist

Probab

[2020-10-29 10:53] ingalless commented on #303
@riccardoferretti This sounds great to me! Well thought out.

[2020-10-29 13:33] antistic opened #305 "Changing a file name does not update backlinks"
Consider a file

[code]

If you rename `file-2.md`, there is no prompt to update backlinks in file 1. This is something Obsidian supports, and VSCode supports this for other relative links like javascript imports.

I looked to see if there was VSCode support for this, but [they labelled it as an extension candidate](https://github.com/microsoft/vscode/issues/92922), and even if they did add it I d

[2020-10-29 15:52] riccardoferretti commented on #305
thx @ant-i-c-s, support for refactoring is on the roadmap, will be coming soon

[2020-10-29 16:19] zcysxy opened #306 "Support for piped wikilinks in the graph view"
Piped wikilinks like `[[link|disc]]` or `[[link\|disc]]` (piped wikilinks in a table cell) are widely supported and is also supported by Foam when generating bidirectional links. However, nodes for piped wikilinks in the Foam graph view are grey, and they will not lead you to the right notes when Ctrl + click on them. Hope they will also be supported by the Foam graph view.

![image](https://user-

[2020-10-30 07:12] #303 closed

[2020-10-30 10:47] hikerpig opened #308 "Can I dump the graph data to a single file ?"
I want to find a way to analyze my foam notes project and use the graph data for later site-generation.

Would be very helpful if this can be integrated to the foam-cli or some other package.  I will be able to build a Gatsby/Gridsome plugin and theme on top of it.

BTW, for what I can find, [foam-gatsby-template](https://github.com/mathieudutour/foam-gatsby-template) is really great. But Foam can

[2020-10-30 11:48] riccardoferretti commented on #308
hi @hikerpig, this is a very good idea and definitely in the works. as the core model is still in flux, there might be changes to it so we have refrained from having people build things on top of it, but we could use an "experimental" approach similar to the local plugins to expose the graph data

[2020-10-30 11:52] #48 closed

[2020-10-30 11:57] riccardoferretti commented on #74
Probably the approach we will take will be along the lines of Obisdian - good mix of UX and avoiding managing empty files

[2020-10-30 12:04] nixsee opened #309 "Allow for Foam Graph to be used in various Publishing Themes"
As [discussed in Discord](https://discord.com/channels/729975036148056075/729976401339613266/771704797140615188), I'd love for the new Foam Graph to be available to be used in the various existing (mathieudutour and yenly) and future publishing themes - its very quick and slick, which addresses the major issue that I had with the former. Not sure what wizardry you guys need to do to make this happ

[2020-10-30 12:14] riccardoferretti commented on #309
related to https://github.com/foambubble/foam/issues/308

[2020-10-30 12:16] riccardoferretti commented on #17
This has been fixed as part of #290

[2020-10-30 12:16] #17 closed

[2020-10-30 12:19] jmg-duarte commented on #302
I was led here by the necessity to move from categories to tags in my work (inspired by [Zettelkasten](https://zettelkasten.de/posts/no-categories/)).
I think that the tag should be denoted in the note file itself. *Example:*
[code]
We can prepend the `tags` line with a special marker (e.g. `@`) to declare it as metadata.
This metadata could then be extracted to the `foam.json` file to create a li

[2020-11-01 17:35] canpolat commented on #302
I think YAML front-matter is the best place to keep all metadata (including tags) about a note. But using `#` in front-matter may render the resulting YAML invalid. `#` is used for comments in YAML and the following line will definitely be invalid YAML (which may cause problems if the user wants to view the file in another editor).

[code]

Other than that, it would also be great if the tags in YA

[2020-11-01 23:00] riccardoferretti commented on #302
thx for the info @canpolat! I didn't know about that, will review the YAML docs and give an update about the specs for this PR

[2020-11-02 10:51] HyroVitalyProtago commented on #46
I've just discovered Obsidian and Foam. So I've not yet choose one to begin with. Seems like Foam have a better philosophy with open source, but maybe isn't completly ready yet. So I'm thinking about starting with Obsidian and waiting some month before switching to Foam. Did you think it's a good move? Did you think that we will be able to use the two without changing files name, maybe with a comp

[2020-11-02 16:18] youleaf commented on #46
I switched from obsidian to foam months ago and I'm pretty happy now - the foam + vscode combo give you tons of customization possibilities.
I wrote a conversion script from obsidian (link in my comment above) and it worked well - so I think you can switch anytime.
If you are ok with working on alpha stage software and you feel comfortable with foam, my suggestion is to not bother with the convers

[2020-11-02 22:44] duane opened #313 "Decouple from VSCode"
What are the plans to decouple dependencies from VSCode, specifically, as an editor?

[2020-11-03 10:40] riccardoferretti commented on #313
Hi @duane , we are considering building an LSP for foam, which would enable support in other editors, there are other items on the roadmap with higher priority, so there is no ETA with regards to when this would be implemented.
To better understand the question, what problem are you trying to solve?

[2020-11-04 00:46] jsjoeio opened #314 "Document publishing foam-vscode"
This message is copied from a private channel in Discord (if you have access, you can view [here](https://discord.com/channels/729975036148056075/733383450559512676/765960662865412137)).

Two things I wanted to note here:
1. Ideally, it would be nice to auto-publish via a GitHub action
2. Publishing the extension should be documented somewhere for contributors

[2020-11-04 00:49] jsjoeio opened #315 "Automate adding contributors via GitHub Action"
It would be great if we had a GitHub Action which ran on "merge pull request" and then opened a new pull request to add a person to the all-contributors table in the `README`. It wouldn't solve all the use cases for adding contributors to the table, but a majority of them.

Happy to help guide/mentor someone if they want to pick this up.

[2020-11-04 10:10] riccardoferretti commented on #314
hi @jsjoeio - you are totally right, I have more notes from the handover with @jevakallio - will write them down in the foam doc.
I would also like to automate most of the flow (there is a testing step, which will need to be manual until we add more e2e tests), any guide/contribution/suggestion very much appreciated (somewhat related to #315)

[2020-11-04 10:24] fmagin opened #316 "["BUG"] Wiklinks not being generated with v0.4 "command 'foam-vscode.update-wikilinks' not found""
**Describe the bug**

No wikilinks are being generated on file save.

Specifically, when manually running the command `Foam: Update Markdown Reference List` I get the error message:

`Command 'Foam: Update Markdown Reference List' resulted in an error (command 'foam-vscode.update-wikilinks' not found)
`

**Affected package**
Probably mainly `foam-vscode` due to the above error

**To Reproduce**

N

[2020-11-04 10:29] fmagin opened #317 "["BUG"] Foam: Show graph' fails with "All collection items must start at the same column""
**Describe the bug**

The new graph does not work or it is unclear what is required to make it work.

**Affected package**
unclear

**To Reproduce**
Upgrade to v0.4

Run command `Foam: Show Graph`

`Command 'Foam: Show graph' resulted in an error (All collection items must start at the same column)`

**Expected behavior**
Whatever that command is actually supposed to do.

**Additional context**
ht

[2020-11-04 10:36] fmagin commented on #317
Running the command from the other issue and restarting does seem to fix it. Still I consider this a bug, because this forces me to conform to some unknown frontmatter spec (which I'd like to use for other purposes or extensions).

[2020-11-04 10:41] fmagin commented on #316
The error message seems to disappear if I strip all frontmatter metadata like in #301 but the links still aren't generated

[2020-11-04 10:47] riccardoferretti commented on #317
@fmagin sounds like there is a syntax problem in your YAML metadata. I agree that shouldn't cause the whole thing to break, we need to push some error handling in the document parsing.

[2020-11-04 21:47] jsjoeio commented on #314
I can help with this if you want @riccardoferretti - feel free to assign to me after sharing your notes!

[2020-11-04 22:07] jsjoeio commented on #314
More notes:
 yarn lerna publish preminor

- update CHANGELOG.MD file

- yarn lerna publish preminor

from package/foam-vscode
yarn package-extension

- do local testing
  - linkdef generation
  - navigation
  - graph
  - snippets

- fix bugs if necessary (and CHANGELOG)

- yarn lerna publish minor

- republish
from package/foam-vscode
yarn package-extension

- might wanna test it again based on bu

[2020-11-06 12:54] lucabol opened #318 "["BUG"] Show Graph produces a graph with a black background. Cannot see names of notes."
See the below picture. Copied the template and created a few connected notes. 'Show graph' displays a graph with a black background. Hovering the mouse over a node shows the name in white foreground, black background. I am using the standard style in the template.

![image](https://user-images.githubusercontent.com/1370774/98368311-6da8c800-2037-11eb-998b-8619ad9a630f.png)

[2020-11-06 15:55] jessebett opened #319 "Center markdown link graph on current note"
Is there a setting or shortcut or command for centering the Markdown Links graph on the node for the current note? I regularly lose my position and the graph is to visually noisy to locate my current note with just the colour change.

[2020-11-06 16:04] jessebett commented on #318
I also have this issue.

[2020-11-06 17:09] jessebett commented on #319
Hm, actually I was still using Markdown Links and not the new Foam Graph.

[2020-11-06 17:10] jessebett commented on #319
I realized that I was still using the Markdown Links graph view instead of the new Foam Graph.

[2020-11-06 18:23] riccardoferretti commented on #318
the graph currently doesn't follow the color scheme of vscode, this will be addressed soon :)

[2020-11-06 18:41] riccardoferretti commented on #319
this behavior is actually also present in foam, and I agree we should have an option to navigate to the active note - will reopen to track it

[2020-11-06 18:46] riccardoferretti commented on #316
hi @fmagin, regarding the frontmatter, we are adding better error handling around it.
Regarding the fact that they are still not generated, can you check in your settings the value of `Link Reference Definitions`? if it's `off` the references won't be generated

[2020-11-06 20:29] #313 closed

[2020-11-06 20:33] riccardoferretti commented on #302
this is addressed by #311

[2020-11-06 20:34] riccardoferretti commented on #288
closing this as we have added support for tags in #311

[2020-11-06 20:34] #288 closed

[2020-11-06 20:56] canpolat opened #321 "Instead of file names, show titles in the panel"
I have a workflow where file names are auto-generated (datetime) and carry no information about the contents of a file. Instead, I use YAML frontmatter (`title` variable/label). I think it would be good to have an option to show the title (and fall back to file names if they don't exist) instead of the file name.

Hopefully this is a feature request that is in alignment with your future plans.

[2020-11-07 08:29] lucabol commented on #318
Do you mean that I need to choose a vscode color scheme where the foreground color for text is white to be able to see it?

[2020-11-07 09:27] riccardoferretti opened #322 "Add theme support in graph"
Currently the graph colors are static and hardcoded.
Make them configurable, and ideally seeded by the vscode theme.

[2020-11-07 09:29] riccardoferretti commented on #318
Sorry @lucabol, you were describing two issues and I only addressed one. Here they are:
1. the graph colors right now are not configurable and don't follow the vscode theme - that can be annoying just because of the contrast
2. currently the graph doesn't show labels, this is regardless of the color scheme and has been addressed in #310, which will is scheduled to be released on Monday

Basically,

[2020-11-07 09:29] #318 closed

[2020-11-07 14:18] fmagin commented on #316
That is set to `withExtensions`.

[2020-11-07 17:28] lucabol commented on #318
Perfectly clear. Thank you for following up.

[2020-11-07 20:20] amorriscode opened #323 "Autogenerated links not creating"
**Describe the bug**
 I used to have the ability to change the way my autogenerated links were displayed. For example, I have a page `edmun-gettier`. I could link it by going `[[Edmund Gettier]]` and it would show up in the autogenerated section. However, I noticed this isn't happening anymore.

Is this just something I've broken on my end?

**Affected package**

- [ ] `foam-cli`
- [ ] `foam-core`

[2020-11-09 12:50] riccardoferretti commented on #317
this has now been fixed by #320

[2020-11-09 12:50] #317 closed

[2020-11-09 13:42] riccardoferretti commented on #130
this is now fixed in foam core by #300

[2020-11-09 13:42] #130 closed

[2020-11-09 13:52] #74 closed

[2020-11-09 13:53] riccardoferretti commented on #87
@ingalless I believe this has now been sorted, can you double check and close the issue if that's the case? thanks!

[2020-11-09 14:03] riccardoferretti commented on #57
per my conversation with @jevakallio, this is currently blocked by  https://github.com/microsoft/vscode-vsce/pull/493 - and will be tracked in https://github.com/foambubble/foam/issues/314 - so closing this issue

[2020-11-09 14:03] #57 closed

[2020-11-09 14:12] riccardoferretti commented on #34
most of this issue (which I realize covers several feature requests) has been addressed by #311

[2020-11-09 14:15] riccardoferretti commented on #41
Closing due to inactivity

[2020-11-09 14:15] #41 closed

[2020-11-09 14:21] riccardoferretti commented on #52
closing due to inactivity. we have had conversations on Discord about implementing a different code editor, but it would forsake the main advantages of living within vscode

[2020-11-09 14:21] #52 closed

[2020-11-09 14:22] riccardoferretti commented on #54
this was implemented in #79 🥳

[2020-11-09 14:22] #54 closed

[2020-11-09 16:44] riccardoferretti commented on #314
when doing the second publish without changes, we need to force the new publish by using `yarn lerna publish --force-publish \*` (see https://lerna.js.org/#command-publish)

[2020-11-09 17:03] ingalless commented on #87
Looks great to me @riccardoferretti! Thanks @jsjoeio and @juanfrank77 for your input 💪🏻

[2020-11-09 17:03] #87 closed

[2020-11-09 17:25] jmg-duarte opened #324 "[BUG] Ignore is not ignoring certain files"
As the title states, the ignore setting is not ignoring certain files.

![image](https://user-images.githubusercontent.com/15343819/98574660-1c573d80-22b0-11eb-80a2-1646da0f9b08.png)

We can see duplicated nodes in the graph, the orphans are from the ignored folder `_site`.
This can be due to my ignore feature being poorly implemented or the graph ignoring the setting and listing all `.md` files.

[2020-11-09 17:29] jmg-duarte opened #325 "Long titles should be cut or wrapped"
This issue is a "duplicate" of https://github.com/tchayen/markdown-links/issues/66
The problem is the same, and the solution (at least for cutting, is as well)

![image](https://user-images.githubusercontent.com/15343819/98575269-e1a1d500-22b0-11eb-8b66-2dd83955f75f.png)

From the picture I think the problem is obvious

[2020-11-09 18:15] fmagin commented on #316
I think this specific bug is fixed with v0.5, and I found out more about second bug:

The name of the link, i.e. the text between `[[` and `]]` has to match the target file name (without the `.md`). So I guess the links are not normalized by applying the appropriate slugger before checking if the appropriate file exists?

[2020-11-09 18:18] jmg-duarte commented on #324
This is not a bug, rather a misunderstanding of globbing. A clearer setting and defaults are proposed in #326

[2020-11-09 18:18] #324 closed

[2020-11-09 18:35] jmg-duarte commented on #325
Closing the issue as it is addressed in #327

[2020-11-09 18:35] #325 closed

[2020-11-09 20:03] riccardoferretti commented on #316
at the moment we rely on markdown-notes to connect the wikilinks to the notes. on our immediate roadmap we have to support links based on the foam model

[2020-11-09 21:50] riccardoferretti commented on #315
hi @jsjoeio - happy to prioritize this myself as it feels important to me. I have no idea where to start, so any help would be greatly appreciated ;)

[2020-11-09 22:40] jsjoeio commented on #315
woo! you're the man! :D

here's how I was thinking of approaching it:
- look at this [GitHub action](https://github.com/marketplace/actions/contribute-list)
- or [this one](https://github.com/sinchang/all-contributors-action)

If one of these doesn't work, then we can look into building our own using something like [this](https://github.community/t/trigger-workflow-only-on-pull-request-merge/17359

[2020-11-09 22:41] riccardoferretti opened #329 "Resync Foam with changes"

[2020-11-10 11:34] riccardoferretti commented on #315
@all-contributors add @ingalless for code

[2020-11-10 11:36] ingalless commented on #315
Sweet! Thanks @riccardoferretti. I've also contributed some docs too 👀

[2020-11-10 11:36] riccardoferretti commented on #315
@jsjoeio ok I think I found a way :) it's not fully automated, but very easy. And I like that it's not fully automated as it requires a bit of work as token of appreciation, so will stick with this for now :) thanks for bringing up this issue!

[2020-11-10 11:37] riccardoferretti commented on #315
@allcontributors add @ingalless for docs

[2020-11-10 11:37] riccardoferretti commented on #315
@allcontributors add @jmg-duarte for code

[2020-11-10 11:41] riccardoferretti commented on #315
@allcontributors add @yenly for docs

[2020-11-10 11:42] riccardoferretti commented on #315
@allcontributors add @hikerpig for code

[2020-11-10 11:44] riccardoferretti commented on #315
@allcontributors add @Sigfried for docs

[2020-11-10 11:45] fmagin commented on #316
But this used to work before, and seems like a major regression to me. Are you sure we are talking about the same issue? The behavior I am encountering breaks the links in the preview pane, and the ones links detected by the Markdown Links Addon. Those links would then also not appear on the Foam graph either.

[2020-11-10 11:51] riccardoferretti commented on #315
@allcontributors add @scott-joe for docs

[2020-11-10 11:53] riccardoferretti commented on #315
@allcontributors add @Jackiexiao for docs

[2020-11-10 11:54] riccardoferretti commented on #315
@allcontributors add @jbn for docs

[2020-11-10 11:55] riccardoferretti commented on #315
@allcontributors add @asifm for docs

[2020-11-10 11:56] riccardoferretti commented on #315
@allcontributors add @ariefrahmansyah for docs

[2020-11-10 11:57] riccardoferretti commented on #315
ok, I think I have caught up, closing the issue

[2020-11-10 11:57] #315 closed

[2020-11-10 13:51] riccardoferretti commented on #316
Maybe it is something related to this, although I don't believe this has been changed (I might be wrong).

Do you have an example to reproduce the issue?

[2020-11-10 13:53] riccardoferretti commented on #316
does it sound like #323 ?

[2020-11-10 13:55] fmagin commented on #316
Yes, that is the same issue I am encountering. Closing this issue then, because it wasn't primarily about this problem.

[2020-11-10 13:55] #316 closed

[2020-11-10 13:57] riccardoferretti commented on #316
sounds good, let's track it there

[2020-11-10 13:57] fmagin commented on #323
Encountering the same issue after upgrading to v0.4 and still present with v0.5. My guess is that foam isn't normalizing the link text via the slugger before checking if the file exists. Should be easy enough to check with a dev setup.

[2020-11-10 18:01] jsjoeio commented on #315
Woooo! Nice work @riccardoferretti :D

[2020-11-10 19:18] Sigfried opened #343 "broken link to jekyll demo"
https://foambubble.github.io/foam/github-pages

the demo-website link under foam-jekyll-template goes to an error page (https://blog.hikerpig.cn/wiki/)

[2020-11-11 03:50] hikerpig commented on #343
Sorry about this, I didn't know my demo is listed in the docs, and recently I changed the site domain.
I will update it.

[2020-11-11 12:48] jmg-duarte commented on #329
We could just rename this issue to *Resync Foam with changes* since link generation is also affected

[2020-11-11 19:00] #343 closed

[2020-11-11 19:32] riccardoferretti commented on #329
what I meant by graph was the internal foam graph, not the dataviz graph.
but I understand the confusion, your suggestion is clearer, happy to rename the issue

[2020-11-12 03:01] duane commented on #313
@riccardoferretti I don't have any specific needs but I do tend to use lighter weight computers that might struggle a bit more with VSCode's memory requirements; specifically I'd be interested in Sublime Text integration. I think there are already comparable projects for vim/emacs so I'm less bothered about that.

I fully understand the work that goes into these integrations so it's hardly somethi

[2020-11-15 11:51] riccardoferretti commented on #314
forgot to mention before, we should also make publishing to https://open-vsx.org/ part of this process

[2020-11-15 11:57] riccardoferretti commented on #322
the webview example in vscode was updated to include theme info, see here: https://github.com/microsoft/vscode-extension-samples/commit/100b1b20459e2026fe686ef1da0348abf744f4c8#diff-fd51a8de166b021fee2cec8351064a4fdd3ea6c42ebf59da981bd94cb6106e28

[2020-11-15 19:34] jsjoeio commented on #314
Good call!

[2020-11-15 20:27] fmagin opened #347 "["BUG"] Foam Graph uses inappropriate amount of CPU"
**Describe the bug**

As soon as I open the Foam Graph two electron processes starts hogging a questionable high amount of CPU performance. On a workspace with around a dozen notes(i.e. nodes in the graph) they are both between 10% and 15% while on a workspace with ~330 notes one is at roughly 65-75% and the other at a quite stable ~24-26%. Numbers according to `htop` and on an AMD Ryzen 5 3600

T

[2020-11-16 17:35] jmg-duarte opened #348 "Call for Documentation"
Hello everyone!

As any healthy open-source project, I think Foam requires more love regarding documentation.
From the get-go both to users and developer to the advanced scenarios, documentation is an integral part of any good project.

We ought to do the same and so I propose we look towards increasing documentation coverage in Foam.
A simple way to start is: whenever we write code, whether compl

[2020-11-18 09:09] SanketDG commented on #323
I looked into this, and found out that for wikilinks in the markdown that are not slugged, they are passed as it is. This was happening because the wikiLinks plugin `visit` did not slugify the links that are found. Here's the diff:

[code]

Let me know if this will have any corner cases to look into, or I will open a PR soon.

[2020-11-18 10:03] fmagin commented on #323
I think there is some option which slugger to use somewhere, but I might be confusing that with another plugin. So it might be necessary to look up the configured slugging method somewhere for it to be consistent. In any case, I would greatly appreciate you opening a PR with this patch already, makes it easier for someone to run and test, and then potentially report issues with corner cases.

[2020-11-18 11:40] riccardoferretti commented on #323
@SanketDG @fmagin the way linking works will be part of a major update soon.

Basically what you are saying is correct, but we don't want to limit support to slugs.
I would like to simply use file names, paths to disambiguate, and manage other cases (e.g. link definition generation) from there.
E.g. I think the problem here is that the field shouldn't be called `slug`, but be more generic.

The ap

[2020-11-18 12:48] fmagin commented on #323
Would it be possible to add @SanketDG's fix to a version `0.5.1`? I still consider this a fairly annoying regression which breaks various things like the Markdown Graph integration and links in the preview. The Foam Graph has other issues with missing edges (that might also be alleviated with this). For me it would only be annoying to build my own extension version with this patch, but I also reco

[2020-11-18 14:05] riccardoferretti commented on #323
@fmagin I am happy to implement a fix for the regression while the details for the link specs are being defined.

After some research I think I understand the source of the problem, it's in commit https://github.com/foambubble/foam/commit/87f172d217a88a6e46cd8dc4006bea0609c2ece6

Reviewing the tests (which are passing) I see that `[[Example with title]]` was not a test case - we can add that. Prob

[2020-11-18 21:18] #323 closed

[2020-11-18 21:19] riccardoferretti commented on #115
fixed by #346

[2020-11-18 21:30] riccardoferretti commented on #319
addressed in #352

[2020-11-18 21:30] #319 closed

[2020-11-18 21:36] #115 closed

[2020-11-19 15:31] riccardoferretti commented on #314
https://code.visualstudio.com/api/working-with-extensions/continuous-integration#automated-publishing

[2020-11-19 16:34] riccardoferretti opened #355 "Improve documentation of vscode extension"
- [ ] improve extension manifest (see https://code.visualstudio.com/api/references/extension-manifest#marketplace-presentation-tips)
- [x] update the `docs/` directory to separate ideas/features/thoughts/...
- [x] update README to become entry point into structured documentation for existing features
- [ ] test the presentation of the newly released extension in the marketplace (e.g. title, icon,

[2020-11-19 17:16] jmg-duarte commented on #355
Regarding the first point I think we should add `preview: true` since according to the README

[2020-11-19 17:19] riccardoferretti commented on #314
The latest and greatest script I am following now:

All commands are run from the root folder

1. checkout `master` and fast forward to `origin/master`
  - `git checkout master && git fetch && git rebase`
2. run sanity checks
  - `yarn clean && yarn build && yarn test`
3. Update `./packages/foam-vscode/CHANGELOG.md`
5. Publish the pre-release packages to NPM
  - `yarn lerna publish preminor --no-g

[2020-11-19 17:34] riccardoferretti opened #356 "Create new note from template improvements"
- [ ] When there are no templates, we should show an appropriate message in (or in place of) the quick pick
- [ ] Simplify the steps by merging directory and file name questions into one ("Enter note path"), include a pre-filled value with the current directory (as it is now) and the filename "new-note.md" and pre-highlight "new-note"
- [ ] pressing ESC at any step should stop the flow of input bo

[2020-11-19 17:58] riccardoferretti commented on #356
Also, we should add documentation :) (also mentioned in #355)

[2020-11-19 17:58] jsjoeio commented on #314
Oh man...I'm liking how this is shaking out @riccardoferretti 👏🏼 Step 10 sounds great too! Sorry I haven't had time to jump on this, thanks for getting started!

[2020-11-19 18:04] ingalless commented on #356
This all looks great @riccardoferretti. I'd also add some tests would be good to have

I'm happy to look at this next week?

[2020-11-19 18:04] riccardoferretti commented on #356
sound good @ingalless!

[2020-11-19 19:58] jsjoeio commented on #355
I think this all sounds great. I'm not sure if you expect to do all this or if you plan to ask others to pitch in. If the latter, then I would suggest breaking each item into a separate issue and adding more details so others can pick it up.

[2020-11-19 19:59] jsjoeio commented on #355
My only concern with 2 is that I think that may diverge from the structure we suggest for Foam (flat) and the original vision. Up to you though!

[2020-11-19 20:00] jsjoeio commented on #355
I like the sound of 3 - I think the README could definitely use some love.

[2020-11-19 20:01] jsjoeio commented on #355
Is this something we could automate? Probably not without a lot of effort I'm guessing? I'm just thinking if we added [Cypress](https://www.cypress.io/) in someway and then could test to make sure it has the proper title, icon, etc.

[2020-11-20 10:01] riccardoferretti commented on #355
thanks @jmg-duarte and @jsjoeio for your input and ideas!

I would definitely love for others to pitch in, I am happy to break things into separate issues, we could tag them all with the "documentation" label and go from there, is that what you were thinking?
Regarding the approach, I would like to create a general structure/pattern/template, so that the various pieces can later be added in a more

[2020-11-20 10:13] martonlanga opened #357 "Support Prettier"
Formatting with Prettier breaks the autogenerated footer.

On each save, the footer will be inserted once again:
[code]

Disabling prettier works, but I like to have `.md` formatted. Any way to go around this?

[2020-11-20 10:53] riccardoferretti opened #358 "Make dataviz graph updates smooth"
Currently each time the dataviz graph is refreshed (e.g. because a new note was added to foam), it will restart the simulation.
That can be annoying, especially if it happens frequently (e.g. every time a file is saved).

Because of this the dataviz is currently only refreshed when new notes are added to foam.

- [x] make the graph refresh smooth
- [x] make the graph refresh on every foam update,

[2020-11-20 10:55] ingalless commented on #356
Marsop in discord suggested:
- "Use the name of the file as one of the variables"

This should probably kick off a broader discussion of what "dynamic" variables we should support.

[2020-11-20 11:04] #329 closed

[2020-11-20 12:03] ingalless commented on #355
@riccardoferretti FWIW, the company I work for has found success in the flat prefix-driven approach for documentation. But I also agree the improvement on "hierarchical" notes would be great (for myself in my personal docs too!)

Perhaps Foam's greatest strength could become its ability to support connected notes with hierarchical organisation? 🤔

[2020-11-20 12:05] marsop commented on #356
"date (**_or datetime_**) of creation" would be a good candidate for dynamic variable (similar as how "daily" notes receive a name based on when they have been created.

[2020-11-20 12:25] ingalless commented on #356
@marsop it would be worth checking if the above is available in the list of snippet variables:

https://code.visualstudio.com/docs/editor/userdefinedsnippets#_variables

[2020-11-20 12:31] marsop commented on #356
Tested and working!

Example template:

[code]

generates..

[code]

[2020-11-20 12:43] danielarmengolaltayo commented on #356
Would be amazing to have also a command like "Insert from template" to insert at the cursor's position in your current document the content stored in a template.

This, plus what you are discussing about variables, I think would be a very useful feature. What do you think?

[2020-11-20 13:23] ingalless commented on #356
@danielarmengolaltayo we could do something like that, sure

But then I wonder: are we straying back into the functionality of snippets (which has the benefit of Microsoft maintaining it)?

@riccardoferretti any thoughts?

[2020-11-20 13:40] riccardoferretti commented on #356
@ingalless I see what you mean, I personally don't see an issue with having and "Insert from template" command.

The main reasons are:
- source of truth (the `./foam/templates/` dir, instead of snippets, which IMO is a bit nicer)
- if someone prefers snippets, they can still use them
- because you are using snippets expansion in your templates, any enhancement to snippets is directly available to

[2020-11-20 13:44] riccardoferretti commented on #355
@ingalless that's a good data point, thanks!

Let me though specify a key distinctions: notes in foam are not hierarchical (a note doesn't have a parent), even if they can be stored in a hierarchical file system, in folders and subfolders.

From the POV of foam, all notes are mapped to a flat namespace and connected there.

This is a wide topic, so to avoid scope creep I will leave it here, but I

[2020-11-20 14:20] danielarmengolaltayo commented on #356
@ingalless I agree with you about how templates are overlapping with snippets' functionality. Never created a snippet before and now I see how it's barely the same.

My proposal was made before playing around with snippets a bit and it was made as a reaction to the new template's feature. I was just imagining a use case out from what the nature of the feature suggested to me.

I also agree with @r

[2020-11-20 14:30] jvmazagao commented on #314
Can steps 9 and 10 be automated?

The discord announces, I supposed that had Github Actions and 9 We can create an Action too.

But Great Script @riccardoferretti

[2020-11-20 15:01] danielarmengolaltayo commented on #356
Ok, more thoughts about this.

I have the file containing the snippets' configuration inside the .vscode folder inside my foam project. For me, this is equivalent to .foam/templates and a file per template, regarding the source of truth point.

I can open the snippets' file easily and fast through "search by files name" (cmd+P in mac) and typing "templates" (if I name the snippets' file something

[2020-11-20 15:27] ingalless commented on #356
@danielarmengolaltayo I agree on @riccardoferretti's point that it doesn't hurt for us to add a "insert at cursor" command. You're right, the "templates" mindset works better for non-technical users than snippets do (they're a bit awkward to work with). It's good we support non-technical users as it's part of Foam's core values.

[2020-11-20 15:34] danielarmengolaltayo commented on #356
@ingalless And also, sometimes it is nice to have multiple ways to achieve the same result so that each person can decide what works best for him/her. My last concern was more about the effort required to "replicate" and maintain a functionality like this, but if you feel like it doesn't hurt, I don't see why not ;)

[2020-11-20 16:32] jsjoeio commented on #355
@riccardoferretti

Yes, but also adding the "help wanted" and/or the "good first issue". I find that people look for those when they want to contribute so we should add them to be overly explicit that anyone can pick them up. If you do create them, I'm happy to be tagged as a mentor as well (if people need/want that when they pick up the issue).

Ah, gotcha. I'm open to solutions too - just wanted

[2020-11-20 16:49] ingalless commented on #355
@riccardoferretti I second @jsjoeio, I'm happy to mentor!

[2020-11-21 12:56] riccardoferretti commented on #308
hi @hikerpig, I was looking into this and I had a couple of questions/thoughts:
- as I said the model is very much in flux, I am a bit hesitant to make it public, people will start building things on top of it, and making changes would be problematic. I can add it behind an experimental feature flag, but be very aware that I mean it when I say experimental ;)
- is a vscode command something you'd

[2020-11-21 14:30] hikerpig commented on #308
@riccardoferretti Thanks for your response, personally I prefer this to be in the CLI so I can use it for automatic deployment - in CI or Netlify, etc.

And I am also comfortable with this provided as a local plugin (if not as a CLI command).

BTW I found that Obsidian keeps a cache file in the `.obsidian` directory.  And it also has a plugin [API](https://github.com/obsidianmd/obsidian-api), mayb

[2020-11-22 15:05] riccardoferretti commented on #308
Thanks for the pointer to the Obsidian API, definitely a great source of inspiration.
Local plugins can't define CLI commands yet (there is some rework to do in the core CLI framework before going there).

Yeah, I agree it makes sense to have it in the CLI.

So, this probably needs a bit more thought, but it's definitely on the feature list.

[2020-11-22 16:50] ingalless commented on #355
Another chat I had with @riccardoferretti

Many projects, tools, languages and frameworks have a community driven "awesome list" [(example)](https://github.com/bnb/awesome-hyper)

Foam could possibly benefit from a similar list to collect all the various tools that contribute to, enhance and support the various foam workflows

[2020-11-22 17:55] riccardoferretti commented on #355
Also, just went to vscode-memo and saw how they organize their documentation, which sounds pretty sensible to me. https://github.com/svsool/vscode-memo/tree/master/help

[2020-11-22 19:36] jsjoeio commented on #355
That looks sensible to me as well 👍🏼

[2020-11-23 01:08] ErikPlachta commented on #305
What I'm finding is that it wont even let you change backlinks manually. It updates with the old file name.
-Am I right that the only option ATM is delete and create a new file or have a broken backlink?

[2020-11-23 07:37] keremkayabay opened #362 "["BUG"] Command 'Foam: Open Daily Note' resulted in an error"
**Describe the bug**
Commands `Foam: Open Daily Note` and `Foam: Create New Note From Template` both results in an error.

- OS: Windows 10
- VSCode version 1.51.1
- Foam for VSCode version 0.6.0

**To Reproduce**
1. Open VSCode workspace with Foam extension (Windows 10)
2. Run either `Foam: Open Daily Note` or `Foam: Create New Note From Template` commands (or press Alt+D)

**Expected behavior**

[2020-11-23 09:36] fmagin opened #363 "["BUG"] No foam commands working with v0.6"
**Describe the bug**
All the Foam commands fail with e.g. `Command 'Foam: Show graph' resulted in an error (command 'foam-vscode.show-graph' not found)` and analogous for the other commands in v0.6

They still appear in the `Command Palette`, so they are loaded in some way, but the actual command doesn't seem to be properly setup.

**Affected package**
- `foam-vscode`

**To Reproduce**
This might

[2020-11-23 11:51] riccardoferretti commented on #363
The fact that all the commands fail makes me think there is an issue with the bootstrapping phase of the extension.
I noticed in the code we would simply log such a problem (see https://github.com/foambubble/foam/blob/d054e19eae517408696dc6a6b5edb4c26c929e4e/packages/foam-vscode/src/extension.ts#L53), we should instead use `window.showErrorMessage` to present it to the user.
As I wanted to have a

[2020-11-23 12:09] riccardoferretti commented on #363
removing milestone as what I am doing for this milestone is not a fix to the problem, but a tool for better reporting/investigation

[2020-11-23 12:14] riccardoferretti commented on #305
@ErikPlachta the second problem should have been addressed by #349, do you have this issue with Foam 0.6.0?

[2020-11-23 22:01] SaundersB opened #365 "GitLab Support"
Would it be possible to support GitLab for markdown render?

[2020-11-23 23:42] gammak opened #366 "["BUG"] New link/document created from within a daily note in a daily-note subfolder is *also* put into the daily-note subfolder"
**Describe the bug**
I have set the daily notes for Foam to be created in a `daily` subdirectory, but adding the following setting to `settings.json`: `    "foam.openDailyNote.directory": "./daily"`.

All the new daily notes are properly added there, and if I create a new link from a *non* daily file, it creates it in the top-level directory appropriately.

However, if I create a new link from wit

[2020-11-24 03:12] ErikPlachta commented on #305
@riccardoferretti - I'm embarrassed to say I don't know how to check. 😳  I just started playing with Foam yesterday and learning how it works.

Thinking I'm going to export my notes, burn it down, and build it back up vs wasting time.

[2020-11-24 03:38] ysl2 opened #367 "Feature Request: List all docs and images which are unlinked by others"
Sometimes there are so many files that I can't find out if there are some docs or images in my repository that aren't referenced by other files.

So I was wondering if it could create a file from command palette in a specified path which listed all the unlinked files and images by wiki-link or markdown-link to let me know all the files that are not linked, so that I can  link them or delete them.

[2020-11-24 03:45] ysl970629 commented on #305
I was wondering if it would also be possible to automatically update backlinks when moving files?

[2020-11-24 17:32] riccardoferretti commented on #365
That's a really good idea.
Unfortunately atm I don't use GitLab (so I can't even estimate the effort on this task) and am focused on a couple of high priority items on our roadmap - but I would love for someone to contribute it.

[2020-11-24 17:34] riccardoferretti commented on #362
hi @keremkayabay, to see if this is the same problem as #363, can you check whether other things (e.g. the graph) work?

[2020-11-24 17:38] riccardoferretti commented on #356
I think it's a nice to have, and I agree that as a first quick iteration documenting the "workaround" can be just as good.
I am happy to defer to @ingalless to make the call as to whether to add it now or later based on his cost/benefit analysis.

[2020-11-24 17:42] riccardoferretti commented on #348
@jmg-duarte I agree with the spirit of the request, how about updating the `docs/contribution-guide.md` file?
This sounds like the best way to communicate this type of principle.
Thoughts?

[2020-11-24 17:52] ysl2 opened #369 "Feature Request: Markdown links navigation"
Open links by hotkey: follow a wiki-link or a markdown link with “ctrl + enter”.

[2020-11-24 17:57] jmg-duarte commented on #348
Sounds like a plan to me!
I think https://github.com/foambubble/foam/blob/master/docs/contributing.md should be moved to the main folder so people can get to the file in 2 clicks and without searching.

I can write the guide however before picking it up, what do you think about dividing in the following sections:
- Getting Up to Speed
  - Principles
  - Code of Conduct
- Diving In
  - Foam Archite

[2020-11-24 18:43] ingalless commented on #369
I might be misremembering, but isn't this achievable by the "go to definition" shortcut? I think it's ctrl+f2 or ctrl+f12? (I use Vim for VSCode so for me it's `gd`)

[2020-11-24 18:49] SanketDG commented on #369
Yup, the linking should be present already, @ysl970629 you could check your keybindings to see what keys "Go to Definition" is bound to.

The mouse hover preview is a great idea though.

[2020-11-24 18:50] ysl970629 commented on #369
A wiki-link can be opened by this way, but a original markdown link can’t be.

[2020-11-24 19:00] ingalless commented on #369
Hmm, interesting! @riccardoferretti do you - recall if it's us or another extension providing this functionality?

[2020-11-24 19:10] riccardoferretti commented on #348
quickly scanning the repo, I see 3 contributing docs:
- `docs/contributing.md`
- `.github/CONTRIBUTING.md`
- `docs/contribution-guide.md`

I agree with consolidating those (or at least their responsibilities) and having the main one at the root.

The structure sounds good, let's move forward with it.
There are docs around some of those aspects, I would update them where you see the need, and keep

[2020-11-24 19:21] riccardoferretti commented on #369
We don't, and I don't believe the other extensions to do.
Once navigation is driven by the foam model, which will happen after #299, this should definitely be possible.

I also like the preview feature request. @ysl970629 can you please create a separate issue for it and rename this one to focus on the markdown links navigation?

[2020-11-24 19:22] ysl970629 commented on #369
And the original markdown links can’t be captured in “backlink” interface.

In fact, as for my humble opinion, I prefer original links rather than wiki-links, because it could maintain portability (for example, to edit or view in a mobile phone, the wiki-links can’t be recognized well)

[2020-11-24 19:27] riccardoferretti commented on #369
after #299, for Foam it won't matter whether you use regular links or wikilinks to connect documents, so you should be covered (well, once the backlinks panel is powered by the Foam model ;) )

[2020-11-24 19:29] ysl2 opened #370 "Feature Request: Mouse hover preview"
Move mouse to a wiki-link or a markdown link, and the file content will be visualized.

[2020-11-24 19:34] riccardoferretti commented on #367
I like this idea, I wrote something similar for the graph export (which has not been released yet), but that could be a template for the first iteration on this task - adding it here for reference if someone wants to help out with implementing this.

[code]

[2020-11-24 19:34] ysl970629 commented on #369
OK, I have created a new issue about preview. Thank you :-) @riccardoferretti

[2020-11-24 19:41] riccardoferretti commented on #366
@gammak is it possible it's just creating the new files in the same directory as where the source note lives?

Can you check the vscode setting `Markdown-note-factory: New Note Directory`?

[2020-11-24 19:42] riccardoferretti commented on #305
@ErikPlachta check in your extension tab:

![image](https://user-images.githubusercontent.com/457005/100143394-8ddce180-2e95-11eb-9ca2-115e9430c615.png)

@ysl970629 it will most definitely be possible 👍

[2020-11-24 19:44] ErikPlachta commented on #305
Confirmed on 0.6.0

[2020-11-24 19:45] #264 closed

[2020-11-24 19:50] riccardoferretti commented on #305
you mean the bug is still there in 0.6.0?

[2020-11-24 20:43] jmg-duarte commented on #365
@SaundersB what do you mean supporting GitLab for MD rendering?
Could you elaborate?

[2020-11-24 20:47] jmg-duarte commented on #347
I tried to reproduce and wasn't able, is the repo in question private or would you be able to share it as a means to find out more?

[2020-11-24 20:48] jmg-duarte commented on #348
Yes, precisely!

[2020-11-25 02:08] hikerpig commented on #306
@riccardoferretti Is there a reason why this is assigned to 0.8.0 and not 0.7.0 ? I can have a try from the master branch if this has no conflicts with other ongoing plans.

[2020-11-25 02:52] ysl2 opened #373 "Wikilinks, Links and tags inside (inline) code blocks should be ignored"
**Describe the bug**

If you define a inline-code `'[[file2]]'` in file1.md, and unfortunately there is a file `file2.md` in your repository, Foam will regard the inline-code as a link, and will appears in `file2.md`'s "backlink" interface,  this fake-link also can be opened

**To Reproduce**

You can reproduce it by folling these steps:
1. Create a file `file1.md`
2. Create a file `file2.md`
3. T

[2020-11-25 06:48] keremkayabay commented on #362
Just checked, they do not work. It is the same problem with #363.

[2020-11-25 06:48] #362 closed

[2020-11-25 09:27] b2m9 commented on #363
Same problem here. I'll provide some system information:

- VSCode 1.51.1
- Electron: 9.3.4
- Node: 12.14.1
- OS: Manjaro Linux, kernel 5.9.10

[2020-11-25 12:44] riccardoferretti commented on #373
This is not currently managed by Foam itself, but https://github.com/kortina/vscode-markdown-notes.
I am not sure whether the behavior is desired.

I agree that probably anything inside a code block or inline code block should not be included in the parsing of links/wikilinks (or tags for that matter, and I am pretty sure we currently include those).

[2020-11-25 12:49] riccardoferretti commented on #306
@hikerpig this requires some changes in the foam model itself, and I wanted it to be part of a bigger refactoring around link parsing and management.
You can have a try and address this specific issue, just be aware that it might be subject to future changes when the refactoring is implemented.
Thoughts?

[2020-11-25 14:11] hikerpig commented on #306
@riccardoferretti After checking the source code I do realize that this is more than just the dataviz part.
Then I will step aside and wait after the refactoring. Thanks for your work 👍 .

[2020-11-25 15:52] riccardoferretti commented on #363
There seems to be a sporadic linking issue in 0.6.0, which I applied a fix for in 0.7.0 - @fmagin @b2m9 can you update and check if the problem is still there?

[2020-11-25 16:42] fmagin commented on #363
Yes, the commands work again!
For what it's worth, I am using Arch Linux which should have quite similar package versions to Manjaro, so maybe this was related. I think another person I know on Manjaro also had this issue. So it might not have been that sporadic after all, but it seems to be fixed now. Thanks!

[2020-11-25 17:21] #363 closed

[2020-11-25 17:41] fmagin opened #374 "["BUG"] Link References are not generated in a way that allows the default preview to recognize them"
**Describe the bug**

Autogenerated link references are using the sluggified link text instead of the original one, leading to links inside the preview being broken.

This definitely worked at some point before I still have old notes with this format.

**To Reproduce**

See screenshots, happens on version 0.7.0, potentially already in 0.6.0 or even earlier versions.

**Expected behavior**

The Mar

[2020-11-25 17:48] fmagin opened #375 "["BUG"] Graph does not use the full size of its pane after the pane is resized"
**Describe the bug**
Graph does not use the full size of its pane after the pane is resized, see screenshot

**To Reproduce**

1. Open the Foam Graph
2. Change the size of the resulting window by dragging the edge and make it larger
3. Observe that the graph view is cut off at the right and/or bottom end despite the pane still having space left

**Expected behavior**

That the graph view detects c

[2020-11-25 18:06] SaundersB commented on #365
@jmg-duarte I'm able to create a foam project, host it in GitLab and standard markdown will render. However, [[wiki-links]] don't seem to work on GitLab. Is it possible to render to something GitLab would be able to display this and other foambubble specific markdown?

[2020-11-25 18:34] fmagin opened #376 "["BUG"] Title Max Length not applied to Placeholder Notes in the Graph"
**Describe the bug**

The setting for the `Title Max Length` is not used for the placeholder nodes for links where the target note does not exist yet.

**To Reproduce**

Create a file with content like:
[code]
Then create the first note (e.g. by clicking on the link)

Now open the Foam Graph to get the result like in the screenshot

**Screenshots**

![image](https://user-images.githubusercontent.c

[2020-11-25 18:36] jmg-duarte commented on #365
Wiki-links are usually rendered in the bottom of the file.
If you're using the default style they will not end in `.md` and thus not work in plain Git sites (GitHub included)

`"vscodeMarkdownNotes.noteCompletionConvention": "noExtension"` should be what you're looking for.
You can change it to include an extension (VSCode will autocomplete with options)

If that still does not work, I ask you to

[2020-11-26 00:32] ErikPlachta commented on #305
@riccardoferretti  said,  "_you mean the bug is still there in 0.6.0?_"

Yes, that is correct. I'm going to read through the documentation tonight and see if I'm breaking a rule somewhere I don't realize it.

For context, here is a photo of code next to preview view.

![image](https://user-images.githubusercontent.com/17508965/100294368-95af8b00-2f54-11eb-8014-689c00391e84.png)

[2020-11-26 01:18] ysl970629 commented on #305
A plugin can update the regular markdown links`[]()`, I know it maybe not relative to this issue... I just want you know there is a plugin which can update `[]()`, and I think if it could help you a bit @riccardoferretti

[2020-11-26 02:39] ysl2 opened #378 "["BUG"] "Show Graph" command produced a black background without nodes"
**To Reproduce**
Reload VSCode and use `Foam: Show Graph` command.

**Screenshots**
There are some files in my repository but foam did't show these nodes.
![image](https://user-images.githubusercontent.com/39717545/100301753-cda9e300-2fd3-11eb-90ee-b7e4dced6d1a.png)

**Supplement**
Sometimes after linking a file to another, and reuse the command, both the two files' nodes will appear.
Or type any

[2020-11-26 04:07] digitalsignalperson commented on #302
tags don't seem to be working for me

Have the foam template workspace running with recommended extensions
- foam for vscode
- markdown all in one
- markdown links
- markdown notes

throwing down `#various` tags `#allovertheplace` and the "tag explorer" stays empty. Same with yaml.  Any suggestions?

Code OSS 1.51.1
Linux x64

[2020-11-26 09:22] jmg-duarte commented on #302
Are you writing #tag or just tag?

A quinta, 26 de nov de 2020, 04:07, digitalsignalperson <
notifications@github.com> escreveu:

[2020-11-26 15:25] ingalless commented on #375
Just flying by to add that I noticed this the other day!

[2020-11-26 15:54] aldrinjenson opened #380 "Create note from template - template name not accepting!"
Hi, I started using Foam from yesterday and I really love it so far ❤️  .

I watned to try out the template feature for daily notes, which will include a link to an index file.
I created a .foam/templates directory and inside it, added a daily.md and a code.md file which contains some markdown I plan to use as a template. However, I am confused on how exactly to use this template.

When I try: cre

[2020-11-26 16:51] SanketDG commented on #374
I can't seem to replicate this, what preview is this?

[2020-11-26 17:13] fmagin commented on #374
Should be the completely normal markdown preview. What part of this can't you replicate, e.g. do all of the links work in your case?

[2020-11-26 17:41] digitalsignalperson commented on #302
definitely with the #

e.g.
![image](https://user-images.githubusercontent.com/45611618/100380251-5d975f00-2fcb-11eb-94a5-bad1686f1d67.png)

[2020-11-26 18:52] riccardoferretti commented on #378
@ysl970629 are the files linked using `[[wikilinks]]` or `[regular links](path/to/file)`?

[2020-11-26 18:53] riccardoferretti commented on #375
yup, on my plate - let's make this official :)

[2020-11-26 19:01] riccardoferretti commented on #305
thx @ErikPlachta  @ysl970629
a major piece of work on linking is happening soon, this will be part of it

[2020-11-26 19:05] ErikPlachta commented on #305
No problem, love it and will keep using it.

I made a clean clone and disabled all extension except for required and verified issue still happening.

- **Should I make a bug report or anything else I can do to help? **

[2020-11-26 19:57] jmg-duarte commented on #302
To appear in the tag explorer you need to write the tags in the MD frontmatter
Like you have that `tags: tag1`, the trully odd part is why it doesn't appear, are you using the latest version?

[2020-11-26 19:59] jmg-duarte commented on #374
Quick aside since GitHub has no DM's, what are the fonts you're using @fmagin?

[2020-11-26 20:03] digitalsignalperson commented on #302
hmm the PR said

- [x] Support defining tags via YAML
- [x] Support defining tags via #tag
- [x] Add a new tag panel which lists all the tags in the workspace in alphabetical order

so I imagined defining tags by #tag would also appear in the panel (at least that's the behavior I'd like; similar behaviour in e.g. Obsidian)

I'm on v0.6.0 and code says all extensions up to date. Caveat this is linu

[2020-11-26 20:05] fmagin commented on #374
[Jetbrains Mono](https://www.jetbrains.com/lp/mono/) primarily, exact fontconfig in VSCode is `'JetBrains Mono', 'monospace', monospace, 'Droid Sans Fallback'` Can highly recommend the Jetbrains font, I use it in every editor.

[2020-11-26 20:10] jmg-duarte commented on #374
What about the interface/system font?

[2020-11-26 20:18] fmagin commented on #374
Those are just the defaults, found nothing in my VS Code settings that sets them specifically. If you have further questions you can just DM me on twitter, they should be open.

[2020-11-26 20:21] jmg-duarte commented on #302
You're right (reopening the issue)

@riccardoferretti do you have insights on the problem?

[2020-11-26 20:45] jmg-duarte commented on #376
I just tried to reproduce the issue and it works for me, I reckon however it may have to do with settings.
Could you share yours?

[2020-11-26 21:15] riccardoferretti commented on #376
@jmg-duarte did you try with a link not pointing to an existing note?
I think atm we only cut the title of the result from `getNotes`, which doesn't include the placeholders

[2020-11-26 21:21] jmg-duarte commented on #376
I did, and it worked

[2020-11-26 21:24] riccardoferretti commented on #302
I have actually experienced this locally for the first time yesterday.
From a cursory look, I think the problem is in the use of `matchAll` in the `extractTags` function, but I am not sure and more investigation is necessary

[2020-11-26 21:36] riccardoferretti commented on #376
Looking at the code, I think the issue is in https://github.com/foambubble/foam/blob/168ef5edb4ad1d2b185e19c773b58c6393078d39/packages/foam-vscode/src/features/dataviz.ts#L61
but we don't do the same for placeholders in https://github.com/foambubble/foam/blob/168ef5edb4ad1d2b185e19c773b58c6393078d39/packages/foam-vscode/src/features/dataviz.ts#L69

[2020-11-26 21:38] riccardoferretti commented on #374
@SanketDG could this be related to the change in the slugification?

[2020-11-26 21:41] riccardoferretti commented on #305
thanks @ErikPlachta this issue will track the file renaming, which actually is totally decoupled from the improvements on the linking side - it will just be more precise once we the linking gets more robust

[2020-11-26 22:30] jmg-duarte commented on #376
I'll test and PR

[2020-11-26 22:34] jmg-duarte commented on #375
Quick comment, I would not put this as a good first issue, this comes from personal experience.

[2020-11-26 22:36] jmg-duarte commented on #376
Moving further discussion to the PR and closing the issue

[2020-11-26 22:36] #376 closed

[2020-11-26 22:44] riccardoferretti commented on #302
I tweaked the parsing code, this fixed it on my machine

https://github.com/foambubble/foam/pull/382

tbh, I am still a bit baffled as to why the tests were passing before, but what I have there is the right way to deal with the iterator in any case

[2020-11-26 22:45] riccardoferretti commented on #375
haha ok :)

[2020-11-26 22:58] riccardoferretti commented on #375
I think it's one of those things that it's easy if one knows where to look, but gets quickly very complicated otherwise

[2020-11-26 23:00] #358 closed

[2020-11-26 23:00] #322 closed

[2020-11-27 00:52] ysl970629 commented on #378
`[regular links](path/to/file)`, and I use relative path :

[code]

[2020-11-27 03:08] digitalsignalperson commented on #302
I'd be down to test. Any links on how to build/test a vscode extension from github? My googling not helping

[2020-11-27 04:20] ysl970629 commented on #369
Here is a solution for vim user:
https://github.com/kortina/vscode-markdown-notes/blob/master/RECOMMENDED-SETTINGS.md#vscode-vim-settings-from-lukesmurray

@riccardoferretti @ingalless

[2020-11-27 05:48] zcysxy commented on #378
I experienced the same, after updating to 0.7

[2020-11-27 05:55] ysl970629 commented on #378
I thought It was just me, now I'm not feel lonely. @zcysxy
And just now I found I can't preview wikilinks without references :
![image](https://user-images.githubusercontent.com/39717545/100415894-218df800-30b8-11eb-99f7-f9845fc2b634.png)
As you see , the second link can't be opened

[2020-11-27 08:54] jmg-duarte commented on #302
Check the docs/contribution-guide.md if you have questions let me know as
we want to improve the guide.

If you are not on the Foam discord you can follow the link in the top of
the readme. In the discord you can place your questions in #foam-vscode

A sexta, 27 de nov de 2020, 03:08, digitalsignalperson <
notifications@github.com> escreveu:

[2020-11-27 09:07] #375 closed

[2020-11-27 09:44] riccardoferretti commented on #378
This will be supported in Foam soon and is tracked in #299

That would be expected because of the way the preview currently work (basically it uses definitions to navigate links, it doesn't find one, so you can't navigate)

In 0.7.1 (which will go out today) there will be more logging, which can help us debug this issue more easily.

[2020-11-27 09:45] jmg-duarte commented on #357
You can use the Foam default `"yzhang.markdown-all-in-one"` for the time being

[2020-11-27 10:26] ysl970629 commented on #378
OK, thank you :-)
For the regular links in version 0.6.0, `Foam: Show Graph` command will create a graph with only nodes and no edges. The nodes were exist. However in version 0.7.0, the nodes are disappeared.

I think there is a hint that might helps you: in windows platform,  when you are copying a file's path to clipboard, the file path is separated by backslashes `\`, not `/`. @riccardoferrett

[2020-11-27 14:23] SanketDG commented on #357
@martonlanga Do you have a `.prettierrc`? Would be helpful to post the config here.

[2020-11-27 14:29] martonlanga commented on #357
Sure, I usually just do something like:
[code]
Can you reproduce the problem btw?

Thanks guys for working on this!

[2020-11-27 15:22] SanketDG commented on #374
It is, it's silly of me to not test my changes on Github and the normal markdown preview in VSCode.

I was just so focused on making my graph work and look all pretty.

Turns out the real reason for #323 not working is because the internal "Note Graph" uses slugs but not names, and not the other way around.

I have an one-liner fix, but let me try and understand how the internal graph implementati

[2020-11-27 15:32] SanketDG commented on #357
Looks like `prettier.singleQuote: true` is the faulty option. Since it convert's Foam's wikilinks from double quote to single quote, Foam regenerates them again at the end of the file.

This seems like most people would be okay with removing that option, is that a viable option for you? :slightly_smiling_face:
 @martonlanga

[2020-11-27 15:48] ingalless commented on #380
@aldrinjenson Hey! I notice there's a typo in your screenshot. Your folder is `.foam/tempates` (notice, no L), but it should be `.foam/templates`

Let me know if that sorts things!

[2020-11-27 15:53] martonlanga commented on #357
Totally a viable option, thanks for looking into this @SanketDG

[2020-11-27 15:53] #357 closed

[2020-11-27 16:29] riccardoferretti commented on #374
@SanketDG re the new generic implementation, I can spec it out and share for comments. But that plus the work could take a few days to get done, and I'd rather not wait that long to fix this issue.

Happy to guide you through the internals of the graph if you need it to get confidence on the fix.

[2020-11-27 17:13] riccardoferretti commented on #314
Update. (and fixed numbering)

But as I get more familiar with this, I will probably turn it into a github action soon.
(I am using every release as a test bed for something ;) )

All commands are run from the root folder

1. checkout `master` and fast forward to `origin/master`
  - `git checkout master && git fetch && git rebase`
2. run sanity checks
  - `yarn clean && yarn build && yarn test`
3.

[2020-11-28 01:42] ysl970629 commented on #378
I set `log.level` to `debug`, and reload vscode, then I got this infomation in output area :
[code]
But in fact there are many files in my workspace folder...
![image](https://user-images.githubusercontent.com/39717545/100491385-f362f380-315d-11eb-8139-0a97a3807cbf.png)

[2020-11-28 06:56] aldrinjenson commented on #380
@ingalless , Yes!!, It just fixed my issue.
It was so silly of me to not notice this this typo!
I'm closing this issue rn. Thank you and sorry for the trouble.

[2020-11-28 06:56] #380 closed

[2020-11-28 10:21] #302 closed

[2020-11-28 10:26] riccardoferretti commented on #378
@zcysxy Can you also share your logs please?
@ysl970629 does this happen to you with the standard foam-template?

[2020-11-28 10:39] ysl970629 commented on #378
Yes, my repository came from foam-template.
Just now I used `git clone` to download a new foam-template and I got same result :
![image](https://user-images.githubusercontent.com/39717545/100509206-e4556300-31a8-11eb-8304-10a1f7d93b5f.png)
[code]

[2020-11-28 11:13] riccardoferretti commented on #378
I wonder if it's related to windows path delimiters, I will look more into it

[2020-11-28 11:30] ysl970629 commented on #378
In windows, file path format like this (please pay attention to the backslash) :
![image](https://user-images.githubusercontent.com/39717545/100514341-ce4aa100-31ae-11eb-92b6-08063d76bf09.png)

And I once opened a related issue for another vscode plugin several days ago, this may help you :
https://github.com/mathiassoeholm/markdown-link-updater/issues/1

[2020-11-28 14:34] BenjaminMuinga001 commented on #378
Sent from my Huawei phone-------- Original message --------From: Riccardo <notifications@github.com>Date: Fri, Nov 27, 2020, 12:44 PMTo: foambubble/foam <foam@noreply.github.com>Cc: Subscribed <subscribed@noreply.github.com>Subject: Re: [foambubble/foam] ["BUG"] "Show Graph" command produced a black background without nodes (#378)

regular links, and I use relative path :

This will be supported i

[2020-11-28 14:34] BenjaminMuinga001 commented on #378
Sent from my Huawei phone-------- Original message --------From: Riccardo <notifications@github.com>Date: Fri, Nov 27, 2020, 12:44 PMTo: foambubble/foam <foam@noreply.github.com>Cc: Subscribed <subscribed@noreply.github.com>Subject: Re: [foambubble/foam] ["BUG"] "Show Graph" command produced a black background without nodes (#378)

regular links, and I use relative path :

This will be supported i

[2020-11-28 14:35] BenjaminMuinga001 commented on #378
Sent from my Huawei phone-------- Original message --------From: ‪‪‪Benjamin Lawrence‬‬‬ <benjaminmuinga001@gmail.com>Date: Sat, Nov 28, 2020, 5:34 PMTo: foambubble/foam <reply@reply.github.com>, Riccardo <notifications@github.com>, foambubble/foam <foam@noreply.github.com>Cc: Subscribed <subscribed@noreply.github.com>Subject: Re:[foambubble/foam] ["BUG"] "Show Graph" command produced a black back

[2020-11-28 16:56] zcysxy commented on #378
@riccardoferretti Where is the log 😅, sorry I'm not a developer haha. Now the situation for me is the graph shows up again, but the node (and connected nodes) for a file only shows in the graph after I re-save it.

And yes, my workspace's path contains a special symbol "&".

And since my files' names have many symbols, spaces and capital letters in them, and I'm using lots of piped links as well a

[2020-11-28 17:02] riccardoferretti commented on #378
@zcysxy no worries :) here it is

![image](https://user-images.githubusercontent.com/457005/100521402-b91c4500-31a3-11eb-9851-a7b573e29d5b.png)

if you don't see this bar, press ``` ctrl+` ```

[2020-11-28 17:12] ysl970629 commented on #378
@zcysxy
Hello, if you want to print logs, please follow these steps :
1. Add these words in `yourWorkspaceFolder/.vscode/setting.json` :
[code]
2. press `ctrl+`` to open “OUTPUT” area.
3. reload VSCode and paste the contents in “OPTPUT” area here.

[2020-11-28 17:40] TommasoBendinelli opened #388 "Add flags that turns node into another color in the graph"
It would be beneficial if the node's graph can have different colors depending on the flags/tags set in the markdown item. For instance, if I tag with "RED FLAG," a bubble should appear red in the graph as well.

[2020-11-28 17:48] riccardoferretti commented on #388
hi @TommasoBendinelli, I totally agree, we have in the works something along those lines, which should be pretty powerful in terms of customization.
It will be in the works soon, stay tuned and ping if you are interested in contributing

[2020-11-28 17:51] TommasoBendinelli commented on #388
Cool! Where should I start looking at the code if I want to contribute?

[2020-11-28 18:52] Alekhine51 opened #389 "'Command 'Foam: Show graph' resulted in an error (command 'foam-vscode.show-graph' not found)'"
- Foam version: 0.60

**Summary**

Displaying a graph with Foam returns the error message in the title. I realize the codebase is at 7.2 as of today, so I don't know if this has been fixed or not.
**Steps to reproduce**
1. Install Foam using Foam-template
2. Enter command 'Foam: Show graph'

Does this issue occur on the [foam template](https://github.com/foambubble/foam-template) repo? **Yes**

**

[2020-11-28 19:26] jmg-duarte commented on #365
@SaundersB did it work?

[2020-11-28 22:32] riccardoferretti commented on #389
It should have been fixed, can you update and let us know?
On 28 Nov 2020, 19:53 +0100, Alekhine51 <notifications@github.com>, wrote:

[2020-11-28 22:36] riccardoferretti commented on #388
dataviz.ts and graph.js, in the foam-vscode package, would be a good starting point.
I already have some ideas about what this feature would look like and how it fits in the bigger picture, happy to have a chat with you at any point if you want to spec this out.

[2020-11-29 01:18] ysl970629 commented on #378
@riccardoferretti This morning I tried to back to version 0.6.0, and I found the "Show Graph" command runs normally, and the link references will be created by foam automatically.
![image](https://user-images.githubusercontent.com/39717545/100529552-c1b46000-3223-11eb-8cd7-37d0f3e11f91.png)

[2020-11-29 08:01] zzan1 opened #390 "Can't generate wikilinks"
- Foam version: 0.7.2

**Summary**

![image](https://user-images.githubusercontent.com/47623989/100536475-cf85d780-325b-11eb-887b-12e794199415.png)

cant generate wikilinks as picture. I have tried the command `foam: update markdown reference list`. No debug massage founded in VScode.

**Steps to reproduce**
1.
2.

Does this issue occur on the [foam template](https://github.com/foambubble/foam-tem

[2020-11-29 09:03] BenMatheja commented on #169
@nixsee: Can you share the setup you finally ended up with? I'm currently jumping around between beautiful-editing with Typora (WYSIWYM) and creating the necessary foam links afterwards within VSCode.

[2020-11-29 09:42] SanketDG commented on #390
I am assuming that these references with underscores `[[sample_note]]` are actually `sample-note.md` in the filesystem? This is where the mismatch occurs, because the file has to be `sample_note.md` because that's the right slug conversion of `[[sample_note]]`, or it has to be referenced like `[[sample note]]` or `[[Sample Note]]` or `[[sample-note]]`.

[2020-11-29 12:11] zzan1 commented on #390
1.  the filesystem is:
![image](https://user-images.githubusercontent.com/47623989/100541445-f7d2fd80-327e-11eb-9b7e-b4c698f8d1bd.png)

[2020-11-29 13:31] SanketDG commented on #390
Is https://github.com/zzan1/FoamNoteLib.git the right repo to inspect in this case? I just took a look at that and it seems like the references generate for me, even though there are other bugs in the references generation.

[2020-11-29 13:54] zzan1 commented on #390
yean， it worked yesterday, but today, it is broken. And I push the newest version. are you comfortable to check it.

[2020-11-29 14:01] SanketDG commented on #390
The references do generate for me:

[2020-11-29 14:04] SanketDG commented on #390
The references do generate for me, maybe this bug is something related to windows?

The link `[[ebl-parameters]]` seem to not link for me on Github (maybe because of spaces in the leading folder?)

[code]

[2020-11-29 18:17] Alekhine51 commented on #389
@riccardoferretti How do I manually install the extension?

[2020-11-29 18:58] Alekhine51 commented on #389
Updated. It now shows a new window, but no actual graph is displayed.

[2020-11-30 05:47] SanketDG commented on #389
So even the nodes with file names don't appear?

Is there a sample repo that I could take a look at?

[2020-11-30 10:21] b2m9 commented on #363
Just in case other Linux users find this via Google:

If you use **Code OSS** or **VSCodium** you won't see the new versions of the Foam extension because they're **not** using the Microsoft Marketplace anymore by default. Instead, they use [OpenVSX](https://open-vsx.org/extension/foam/foam-vscode). The extension on OpenVSX is not updated at the moment. From what I can tell it's also not clear whe

[2020-11-30 13:08] riccardoferretti commented on #363
thanks @b2m9, we will release to OpenVSX too moving forward as well

[2020-11-30 13:16] riccardoferretti opened #392 "Publish extension to OpenVSX"

[2020-12-01 09:23] zcysxy commented on #378
@riccardoferretti @ysl970629 Thanks for the help and sorry for the late reply! I only opened two files to generate the log. Tell me if you want me to test more!

[foam log.txt](https://github.com/foambubble/foam/files/5621516/foam.log.txt)

[2020-12-01 10:35] petermllrr commented on #390
Having the same issue here. Worked yesterday, stopped working out of a sudden. Did not install any extra extension and tested with a fresh template repo.

[2020-12-01 12:21] WoutV opened #393 "Saving a file removes the graph edge in foam graph."
- Foam version: `0.7.2`
- Platform: Mac
- Issue occur on the [foam template](https://github.com/foambubble/foam-template) repo: Yes | No

**Summary**
Saving a file removes incoming graph edges

**Steps to reproduce**
1. create a new `[[link]]` in a file `origin.md`
2. cmd-click to go to new file `link.md`
3. save new file
Result: the link between `origin` and `link` in the foam graph disappears.

[2020-12-01 13:50] keremkayabay commented on #366
@gammak I also use a folder to store daily notes, and it is working properly. But I am running Foam extension in a workspace. What worked for me is I've added `"foam.openDailyNote.directory": "daily"` to settings in `[workspace-name].code-workspace` file.

[2020-12-01 14:39] keremkayabay commented on #390
In my case, wikilinks are only generated for new files. And they are gone after I close and reopen VSCode (not reload though).

OS: Windows 10, working in a workspace.

[2020-12-01 15:08] SanketDG commented on #393
I can reproduce this too.

[2020-12-01 18:52] jesusnunezpro commented on #390
I just tested today by creating a new repo from the template and when I hit save it removes the links from **inbox.md**.
Running on vscode 1.51.1/Windows 10 19041

[2020-12-01 18:54] AndrewNatoli commented on #393
Sharing some hopefully useful additional info:

- Create a new `[[link]]` in `origin.md` - Don't save
- When you cmd+click the link, the new file is created and `origin.md`'s link references get updated.
- The link appears on the graph.
- Go to the new `link.md` and save the file. The link disappears on the graph.
- The link returns when you save `origin.md` again.

The same happens when you _do_

[2020-12-01 19:22] WoutV commented on #393
This mostly creates issues when you are several links deep. Saving 20 files
that didn't change is a hassle.

On Tue, Dec 1, 2020, 19:54 Andrew Natoli <notifications@github.com> wrote:

[2020-12-01 19:45] csuriano23 commented on #393
I can reproduce this too

[2020-12-02 01:08] jesusnunezpro commented on #390
Same thing happens on my environment, not sure if it's caused by the same issue or is a different issue altogether.

[2020-12-02 01:19] jesusnunezpro commented on #390
Tested by reverting to version 0.6.0 and it still doesn't work... I wonder if it's an issue with vscode and not Foam

[2020-12-02 01:29] jesusnunezpro commented on #390
If I clone the repo to my WSL2 environment and open that from vscode... then there is no issue... something about running it from Windows file system

[2020-12-02 03:26] AndrewNatoli commented on #393
Trying to debug a bit.. it looks like this is what's going on in `note-graph.ts:setNote`...

1. When you create the new `[[link]]` in `origin.md`, two things happen:
  - A node is created on the graph for `link.md`. Its `links` is empty as it has no outbound links.
  - The graph node for `origin.md` is recreated with `links` including `link.md`, thus the graph connections.
2. When you edit and sav

[2020-12-02 05:10] AndrewNatoli commented on #390
I'm seeing this on MacOS.

![image](https://user-images.githubusercontent.com/4162073/100830864-9e133480-3432-11eb-9e24-d10e3397a4c8.png)

Reference section is not added to `cat-food.md`. It _did_ make a link on the graph to `cheese_underscore` but there's actually a _second_ node added (see right of "Cat Food") that actually represents the file; it has the proper label and all.

[2020-12-02 06:38] deceptikon commented on #389
![image](https://user-images.githubusercontent.com/10824151/100837649-304f2300-349b-11eb-9fa3-0c5be2d02f9b.png)
Having same error, just installed from a latest foam-template and getting this, while trying to show graph

[2020-12-02 13:41] aschampion opened #395 "Feature request: snippet or command to insert link to today's note"
As described, should be trivial and can be keybound. This is very convenient for referencing daily notes from topic notes when work is done. I'm creating this issue as a reminder to myself to hack on this if no one else does.

[2020-12-02 13:43] aschampion opened #396 "Feature request: command to collapse items in a markdown list with checked checkboxes"
This is convenient when editing large TODO lists. VSCode already has appropriate parsing with collapsable regions. Likely should be implemented in one of the markdown plugins rather than foam itself. I'm creating this issue as a reminder to myself to hack on this if no one else does.

[2020-12-02 14:16] SanketDG commented on #395
I might be understanding this wrong, but doesn't typing in `/today` insert the daily note reference?

[2020-12-02 14:18] aschampion commented on #395
It does indeed, I had not yet discovered that. Thanks!

[2020-12-02 14:18] #395 closed

[2020-12-02 15:25] AndrewNatoli opened #397 "Graph "freezes" when deleting node that links to file that doesn't exist"
- Foam version: 0.7.2
- Platform: Mac
- Issue occur on the [foam template](https://github.com/foambubble/foam-template) repo: Yes

**Summary**
Scenario that can cause the graph will "freeze" (does not update, can not click / drag, etc)

**Steps to reproduce**
1. Create a new note
2. Add some `[[link]]`s to notes that exist.
3. Add a link to `[[file-that-does-not-exist]]`
4. Save. File that does no

[2020-12-03 01:26] SaundersB commented on #365
@jmg-duarte Working on it now. I'll respond here

[2020-12-03 01:54] SaundersB commented on #365
So I was able to make the change to the extensions settings and I do see the wiki-links render in GitLab markdown rendering.

However, when I click the [[to-do]] I see:  "to-do" did not exist on "master" which means it thinks I'm trying to look at the branch instead of another markdown file.

Do you think this has to do with this:

[code]

Can I change the slugifyMethod to something like "gitlab-s

[2020-12-03 02:37] SaundersB commented on #365
I'm getting this URL:

`< gitlab_repo_url >/-/blob/master/day-to-day/pending-code`

When I need:

`< gitlab_repo_url >/-/blob/master/day-to-day/pending-code.md`

My vsconfig is:

[code]

[2020-12-03 10:38] jmg-duarte commented on #365
What would a Gitlab slugger be? I'll be glad to work with you to implement your feature!

[2020-12-03 17:33] SaundersB commented on #365
@jmg-duarte Do you know how to get the markdown generated wiki-links path to include the .md?

[2020-12-03 18:37] jmg-duarte commented on #365
This should be in your settings: `"foam.edit.linkReferenceDefinitions": "withExtensions",`

[2020-12-03 19:01] SaundersB commented on #365
Perfect! Thank you so much that worked!

[2020-12-03 19:07] #365 closed

[2020-12-03 22:10] mmoran0032 commented on #389
This appears to be broken for *any* `foam-vscode.*` commands:

![image](https://user-images.githubusercontent.com/972164/101094271-5cd96c80-3579-11eb-8d43-9c7595653939.png)

Taken from newly-installed template repo with the following recommended extensions installed:
[code]
Extension `foam.foam-vscode` is v0.6.0.

[2020-12-04 06:51] SanketDG commented on #389
@mmoran0032 Can you try `0.7.2`, just to be safe?

[2020-12-04 20:46] Alekhine51 commented on #389
@SanketDG I'm on the latest version, downloaded from the marketplace website via a `.vsix` file. `Foam: Open Daily Note` works along with other commands, but the 'show graph' command shows a blank page.

@mmoran0032 For some reason auto-update isn't working. Go to [here](https://marketplace.visualstudio.com/items?itemName=foam.foam-vscode) and click on 'version history' then download and install v

[2020-12-05 03:34] Alekhine51 commented on #392
Here's some docs for publishing: [OpenVSX instructions for publishers](https://github.com/eclipse/openvsx/wiki/Publishing-Extensions)

[2020-12-06 09:55] ingalless commented on #395
A few more for you

- `/tomorrow`
- `/yesterday`
- `/dayofweek` (where `dayofweek` is a day of the week (e.g. Monday))
- `+nd` (where n is number of days)
- `+nw` (where n is number of weeks
- `+nm` (where n is number of months)
- `+ny` (where n is number of years)

I should really document these...

[2020-12-06 15:33] danielarmengolaltayo commented on #90
I'm not an expert and maybe I'm missing something, but I've been testing [git submodules](https://github.blog/2016-02-01-working-with-submodules/) a bit and seems to work for this use case. Should we create a recipe for it?

[2020-12-06 18:40] riccardoferretti commented on #395
yeah @ingalless - now that we have reorganized the docs it would be great if we could add some documentation, maybe in  a `docs/features/dates-snippets.md` or something like that.

For higher level considerations, I will defer to #355

[2020-12-06 18:42] riccardoferretti commented on #355
At a high level, I feel we have two cases we want to solve for:
- onboard new users: for them (who will probably be using the `foam-template`), we could include some documentation in the template itself
- inform existing users of new features: partially achieved by the change log, partially it can be achieved by "auto-documenting" features (e.g. the first template a user creates is pre-filled with

[2020-12-06 21:46] jsjoeio commented on #355
Agreed. I think that makes sense, since they'll be in vscode right after they set up their workspace using the `foam-template`.

For informing new users of features, I think changelog + discord announcements (like you've been doing) seems like the best approach.

As for keeping this consistent, I think we (main committers/contributors) just need to make sure these things happen as new features/prs

[2020-12-07 14:44] jmg-duarte opened #399 "Broken links in docs/"
The /docs link in https://foambubble.github.io/foam/dev/architecture is broken

[2020-12-07 15:57] MCluck90 commented on #366
I came here thinking this was a bug but @riccardoferretti was right. My `New Note Directory` was set to `SAME_AS_ACTIVE_NOTE` and can be "fixed" by changing it to `WORKSPACE_ROOT`

[2020-12-07 17:25] #399 closed

[2020-12-07 18:14] riccardoferretti commented on #355
Starting from the end, I agree we should keep an eye on this aspect as part of a PR.
We can have a checklist that lives in a [PR template](https://docs.github.com/en/free-pro-team@latest/github/building-a-strong-community/creating-a-pull-request-template-for-your-repository) and/or issue template with:
- [ ] defined acceptance criteria
- [ ] unit testing
- [ ] ~~e2e testing (currently not possible

[2020-12-07 18:16] #366 closed

[2020-12-08 03:42] jsjoeio commented on #355
I agree it's heavier but probably for the better.

I'm a bit confused on the discovery and documentation (GitHub).

Is one the website and the other GitHub itself, or what do you have in mind?

Also agree about Discord. I am more likely to see new features via the change log rather than Discord.

Overall I like your approach and think this is a move in the right direction. I wonder though if there

[2020-12-08 23:06] riccardoferretti commented on #355
I agree with your single source of truth comment, that to me would live in github: it should always be up to date, should have the most details and examples, and it should be pointed to by all other forms of documentation (e.g. in app discovery and changelog).

Discovery should be called "in app feature discovery". it's the ability of the user to learn about a feature in the context in which it is

[2020-12-08 23:07] jsjoeio commented on #355
Yes! That all makes a lot more sense now. Thanks for clarifying! 🙌🏼

[2020-12-09 10:50] riccardoferretti opened #400 "Include on-boarding experience in foam-template"
Our official repo template, https://github.com/foambubble/foam-template, should include notes that help new users get familiar with Foam and guide the user to set up the repo.

For example:
- [x] explain the daily feature and how to configure it
- [x] introduce date snippets
- [x] show the graph in action
- [x] get the user to create a template based on their needs (e.g. for daily notes, or meetin

[2020-12-09 10:51] riccardoferretti commented on #355
I have created #400 to track the task of adding on-boarding to the Foam repo

[2020-12-09 14:38] hikchoi commented on #397
I just found this also happens when renaming. I guess it's the same thing as deleting (and then making a new note with a new name).

The graph will freeze before it gets a chance to update with the newly renamed note.

[2020-12-09 18:33] #397 closed

[2020-12-09 18:38] TheLonelyGhost opened #402 "Foam template includes dead link to Foam Tips"
- Foam version: v0.7.2
- Platform: Mac
- Issue occur on the [foam template](https://github.com/foambubble/foam-template) repo: Yes

**Summary**
Foam template repository includes link to Foam Tips on the official website, but the link ends up in a 404 error.

**Steps to reproduce**
1. Clone foambubble/foam-template@b6ec501cf1cf11e193e66a733ff8e75ceda7e7a4
2. Open `foam-tips.md`
3. Follow link to ht

[2020-12-09 23:00] riccardoferretti commented on #402
thanks for reporting this issue @TheLonelyGhost - the template has been fixed
https://github.com/foambubble/foam-template/commit/6d46be1fded17601e082a8bec69d485fb49355b3

[2020-12-09 23:00] #402 closed

[2020-12-10 08:47] #393 closed

[2020-12-10 17:28] leejoramo-d51 commented on #275
I use the [SaveAndRun](https://marketplace.visualstudio.com/items?itemName=wk-j.save-and-run)  extension to automate things like this. *Naturally,  this only makes sense to use in something like personal notes that you want automatically committed and pushed*  Here is my `settings.json` configuration to commit and push on every save.

[code]
The commit message will be in the form `saved notes 2020

[2020-12-10 18:12] riccardoferretti commented on #275
@leejoramo-d51 have you seen https://github.com/foambubble/foam/blob/master/docs/recipes/automatic-git-syncing.md ?
I believe the GitDoc extension is quite remarkable, and I saw they have the ability of filter fiiles:
https://marketplace.visualstudio.com/items?itemName=vsls-contrib.gitdoc#auto-commiting-specific-files

[2020-12-10 18:13] riccardoferretti commented on #275
I am going to close this issue because I believe it has now been fully addressed in  https://github.com/foambubble/foam/blob/master/docs/recipes/automatic-git-syncing.md

Feel free to comment/re-open if you feel something is missing

[2020-12-10 18:13] #275 closed

[2020-12-11 11:26] fmagin commented on #374
This seems to be fixed with 0.7.3, so I'm closing this

[2020-12-11 11:26] #374 closed

[2020-12-12 16:23] j-serrand commented on #77
Hey ! Always nothing done for this issue ?

[2020-12-12 21:52] riccardoferretti commented on #77
This should have been fixed some time ago, are you still experiencing the problem?

[2020-12-13 09:01] j-serrand commented on #77
Yes I do, from the clean install, I just cloned the repos like said on the README, installed the VScode plugins, all is working like a charm except these annoying "Autogenerated link references for markdown compatibility" messages...

[2020-12-13 10:26] riccardoferretti commented on #77
what do you mean by

is the problem that these are being generated? you can turn that off via a setting, see here:
https://github.com/foambubble/foam/blob/master/docs/features/link-reference-definitions.md

[2020-12-13 10:32] j-serrand commented on #77
🤦🏻 Yes ! It was just a setting... Thanks for your help by the way !

[2020-12-13 14:20] #77 closed

[2020-12-13 14:25] JonasSchatz commented on #378
I experienced the same problem and wanted to recreate it. It might actually not be an issue with Foam, but rather VS Code or force-graph. This might be a related issue: https://github.com/microsoft/vscode/issues/112396

[2020-12-14 09:58] riccardoferretti commented on #392
Done 🎉

[2020-12-14 09:58] #392 closed

[2020-12-14 14:54] JakubGIT opened #404 "Foam Graph is empty!"
Issue Type: <b>Bug</b>

My foam graph is since a few weeks ago completely empty.
I can provide you with an access to my Github repository containing my zettelkasten, when you tell me, which github user should it be.

Extension version: 0.7.3
VS Code version: Code - Insiders 1.53.0-insider (96b426ef1da0f0a51ce9ef1931cd1fd2322547e4, 2020-12-14T05:59:27.649Z)
OS version: Windows_NT x64 10.0.19042

<d

[2020-12-14 16:05] riccardoferretti commented on #404
hi @JakubGIT, I am happy to take a look, you can use my username

[2020-12-14 16:06] riccardoferretti commented on #404
can you also share the logging output of foam?
see https://github.com/foambubble/foam/blob/master/docs/features/foam-logging-in-vscode.md for more info on how to do that

[2020-12-14 16:21] JakubGIT commented on #404
Hi Riccardo!
thank you for such a speedy response.
<br>
I actually have an idea: I've recently added a dolder named  `c++` and also a file `00-index-c++.md` - I can imagine, that this `++` makes problems, doesn't it?

[2020-12-14 16:23] JakubGIT commented on #404
this is a log from me as I randomly added a zettel. There is no log when I try to show the graph. 2 Mins ago I got a small graph showing only the C++ folder.
[code]

[2020-12-14 16:28] JakubGIT commented on #404
more logs after re-starting VSCode:
[code]

[2020-12-14 16:28] JakubGIT commented on #404
my current graph:
![image](https://user-images.githubusercontent.com/49392205/102107258-d6067880-3e31-11eb-9588-cb9fe8e55c0d.png)

[2020-12-14 16:55] riccardoferretti commented on #404
This seems to be related to Windows, when I load your repo I get 105 notes.
I have seen issues with Windows before, I believe it's related to the glob library, it's being investigated (see #391)

[2020-12-14 17:04] JakubGIT commented on #404
oh, OK, thanks, I'll try to open it in linux later today...

[2020-12-14 20:12] JakubGIT commented on #404
no luck here
in Ubuntu 20.04 my Code-Insiders doesn't work "at all", doesn't even show the markdown preview. I removed Code-Insiders completely (settings and extensions too) and installed again... still it's not working.

[2020-12-14 22:26] riccardoferretti commented on #404
Markdown preview is unrelated to foam itself, so this sounds like a different type of problem - can you share the log?

[2020-12-14 22:48] JakubGIT commented on #404
I installed Code (not insiders) on ubuntu and everything works fine!

[2020-12-15 08:04] JakubGIT commented on #404
So - I checked it on another Windows PC
- Code-Insiders provides an empty graph
- newly install Code provides an empty graph too. The logs:
[code]

[2020-12-15 10:56] JakubGIT commented on #404
Everytime I save any note new, all link references are removed, log:
[code]

[2020-12-15 11:17] riccardoferretti commented on #404
I tested Code Insider on mac and it worked fine, I will need to do a test on Ubuntu at some point, but as there is a clear workaround (use regular vscode) I don't consider this to be high priority.

The Windows issue (with regular and insider vscode) needs to be addressed urgently, and I believe is the root of all your issues here.

This issue is connected to #391, so you will receive a notificati

[2020-12-15 11:26] JakubGIT commented on #404
I created a repository from the basic foam template and the problem is the same (Code):
[code]

[2020-12-15 11:42] riccardoferretti commented on #404
is this on `master` or `fix/win-path-support` branch?

[2020-12-15 13:18] JakubGIT commented on #404
oh, ok, that means this one? `https://github.com/foambubble/foam/tree/fix/win-path-support`
I am not sure, how to make it owrk in windows

[2020-12-15 14:06] JakubGIT commented on #404
so: 0.4 and older versions of foam work!

[2020-12-16 16:47] #404 closed

[2020-12-16 19:15] riccardoferretti commented on #378
@ysl2 can you test with 0.7.4, which was just released?

[2020-12-16 22:08] shelper commented on #34
still not sure how should i add tags to a file with #311
anyone can give an example here?

[2020-12-17 03:54] plttn opened #405 "ENOENT: mkdir on Windows"
The "Open Daily Note" command seems to be trying to run mkdir on Windows.

[2020-12-17 06:20] zcysxy commented on #378
@riccardoferretti Everything is back to normal for me. Thanks for your work!

[2020-12-17 08:07] riccardoferretti commented on #378
Great to hear!

[2020-12-17 08:07] #378 closed

[2020-12-17 08:31] riccardoferretti commented on #405
@plttn thanks for reporting this issue, can you share the problem you are experiencing and how to reproduce it?

I saw this note on the function we use:
https://nodejs.org/api/fs.html#fs_fs_mkdir_path_options_callback
That sounds like the source of the problem.

I suggest using https://github.com/jprichardson/node-fs-extra as a solution, given I already wanted to introduce it for other reasons and

[2020-12-17 08:33] riccardoferretti commented on #389
@Alekhine51 was this happening in a Windows environment? we just released a new version that fixes some path related issues for Windows

[2020-12-17 11:09] Alekhine51 commented on #389
@riccardoferretti Just updated to latest version, it works now!

[2020-12-17 11:57] #389 closed

[2020-12-17 12:04] riccardoferretti commented on #34
hi @shelper, does this help? https://github.com/foambubble/foam/blob/master/docs/features/tags.md

[2020-12-17 12:06] #34 closed

[2020-12-17 12:08] riccardoferretti commented on #396
This sounds like an interesting addition to markdown editing.
As it is not strictly related to Foam, I will close it.

[2020-12-17 12:08] #396 closed

[2020-12-17 12:09] riccardoferretti commented on #348
I will close this issue as I believe the merged branch addresses the points here, feel free to comment/reopen if I am missing something

[2020-12-17 12:09] #348 closed

[2020-12-17 15:42] MCluck90 commented on #405
I'm running in to this when running "Open Daily Note". I don't see any error messages or stack traces in the developer console

[2020-12-17 16:18] plttn commented on #405
Hmm, interesting. This works on my work laptop, but on my personal laptop it errors out.

[2020-12-17 16:20] #405 closed

[2020-12-17 19:43] riccardoferretti commented on #405
I have published 0.7.5 - https://github.com/foambubble/foam/releases/tag/v0.7.5

[2020-12-18 11:15] jmg-duarte commented on #370
If this is to be implemented, it should be optional and the default should be off.
There are people with huge graphs having performance problems so I can't imagine how it would be if we add a preview on top of the graph pane.

[2020-12-18 11:26] jmg-duarte opened #409 "Foam Graph fonts are blurred"
I'm currently running Foam 0.7.5 on VSCode 1.52.1 (Ubuntu 20.04)

The Foam graph is somewhat blurred, while the effect is small, it is noticeable.
![image](https://user-images.githubusercontent.com/15343819/102609253-15c7ab80-4123-11eb-8e50-69c34d14b34b.png)

I think this is due to the fonts being incredibly small.
This should definitely be a setting.

![image](https://user-images.githubuserconten

[2020-12-19 14:14] doodlewhale opened #410 "Foam Janitor ENOENT error"
- Foam version: 0.7.5
- Platform: Windows
- Issue occur on the [foam template](https://github.com/foambubble/foam-template) repo: Yes

**Summary**
Error when trying to run Foam Janitor:

`Foam Janitor attempted to clean your workspace but ran into an error. Please check that we didn't break anything before committing any changes to version control, and pass the following error message to the Foam

[2020-12-20 15:34] riccardoferretti commented on #410
Related to #407 and #405

[2020-12-20 15:36] riccardoferretti commented on #370
The way I read it, this is about links in the text editor (not in the graph panel), is that correct?

[2020-12-20 15:40] ysl2 commented on #370
@riccardoferretti Yes, it is in the text editor :-)

[2020-12-20 17:09] targodan commented on #410
Same thing here. It also happens when the actual directory is not on `C:\`, my directory is on `D:\` and I get the same error with `C:\d:\...`

[2020-12-20 18:38] #410 closed

[2020-12-20 18:49] riccardoferretti commented on #410
I juste released 0.7.6, which fixes this issue. let me know if the problem persists

[2020-12-20 18:50] riccardoferretti commented on #409
I agree with all of the above. I think the graph can have one more major improvement.
Will write some specs around the graph behavior these days and create an issue for review

[2020-12-20 19:08] riccardoferretti commented on #26
Foam is officially published to OpenVSX as of 0.7.5

[2020-12-20 19:08] #26 closed

[2020-12-20 19:10] #6 closed

[2020-12-20 19:12] riccardoferretti commented on #7
There will be hooks in the Foam graph in the future (which should take shape in the upcoming weeks). I will close this issue for now, feel free to open a new one (or contribute the feature) once the new graph API has been published. You can also comment on the RFC that will be published here soon (in the form of an issue on this repo)

[2020-12-20 19:12] #7 closed

[2020-12-20 19:15] riccardoferretti commented on #10
Closing as there has been no activity on this issue

[2020-12-20 19:15] #10 closed

[2020-12-21 02:16] ysl2 commented on #370
I once mentioned that there were a solution for vim user in [this issue](https://github.com/foambubble/foam/issues/369#issuecomment-734636799), but just now I found it also provided a solution for current issue, by using “peekDefinition”.

`{
      // peek definition inline with gD
      "before": ["g", "D"],
      "commands": ["editor.action.peekDefinition"]
    }, `

[2020-12-21 14:29] jesusnunezpro commented on #390
I tested the automatic link generation today with VSCode 1.51.1 and Foam Extension 0.7.6 and it worked on Windows. ¯\_(ツ)_/¯

[2020-12-21 15:49] riccardoferretti commented on #390
The latest patch versions of Foam addressed various Windows-related issues, so that was probably the cause of the issues here.

In this case I will close the issue now as I believe nothing else needs to be tracked here

[2020-12-21 15:49] #390 closed

[2020-12-22 18:41] doodlewhale commented on #410
Yes, all good now. Janitor ran successfully and graph now looks good too! Thank you @riccardoferretti

[2020-12-24 15:15] DrakeWhu opened #413 "Feature Request: Show Graph only for chosen tags"
Choose one or several tags and graph only the bubbles contained in those tags

[2020-12-25 10:36] riccardoferretti commented on #16
This has been solved, see https://github.com/foambubble/foam/blob/master/docs/features/link-reference-definitions.md

[2020-12-25 10:36] #16 closed

[2020-12-27 14:59] RustyWraith opened #414 "Code Server compatibility"
I'm not able to make Foam work as intended on self-hosted [code-server](https://github.com/cdr/code-server).
Links seem broken while graph animations and move/select interactions are not working at all.
**code-server**
![image](https://user-images.githubusercontent.com/11280514/103173622-2ee00300-486d-11eb-88f5-7c825b10f462.png)
**VScode**
![image](https://user-images.githubusercontent.com/1128051

[2020-12-27 15:31] bpugh opened #415 "Foam disables word based suggestions in markdown files"
- Foam version: 0.7.6
- Platform: Windows
- Issue occur on the [foam template](https://github.com/foambubble/foam-template) repo: Yes

**Summary**

It seems having the Foam vscode extension installed disables or breaks word based suggestions in markdown files even with `"editor.wordBasedSuggestions": true`.

I verified with a fresh install of vscode with only the foam extension installed and when

[2020-12-27 18:49] riccardoferretti commented on #415
hi @bpugh thanks for reporting this and volunteering to look into it. It is definitely not intentional.

The place to start looking would be `packages/foam-vscode`.
To set your environment up, take a look at https://github.com/foambubble/foam/blob/master/docs/contribution-guide.md
The only place where I believe (off the top of my head) we interact with the vscode suggestion system is in `packages/

[2020-12-27 18:52] riccardoferretti commented on #414
thanks for reporting this @RustyWraith, unfortunately code-server is not officially supported, so it's not high priority for us to fix this issue, but if you are happy to look into it we could assist

[2020-12-27 20:15] RustyWraith commented on #414
Thank you for your answer!
I believe, I'm not competent enough to dig into this problem myself.
However, I was able to somewhat reproduce the bug in VScode.
Steps: Open foam folder -> Run Foam:Show Graph -> Save Workspace -> Close window, open workspace
Reopened graph window is now static lacking any interactivity. You can run another Foam:Show Graph to open working one.
![image](https://user-imag

[2020-12-27 21:09] bpugh commented on #415
Thanks for the advice! I got the extension building and running locally and confirmed the issue is fixed by commenting out the two calls to `registerCompletionItemProvider` here: https://github.com/foambubble/foam/blob/master/packages/foam-vscode/src/features/open-dated-note.ts#L218-L224

Just have to figure out the solution now. I'll start digging through the vscode documentation to try figure ou

[2020-12-28 01:54] RustyWraith commented on #414
Ok. If one looks closer on the last screenshot, he will figure out the source of the problem.
Don't confuse Foam:Show Graph with Markdown Links:Show Graph.
So code server works as intended in this case.

[2020-12-28 12:33] riccardoferretti commented on #414
Great, thanks for clarifying this. Will close the issue then!

[2020-12-28 12:33] #414 closed

[2020-12-29 10:56] #415 closed

[2020-12-30 00:08] DrakeWhu opened #420 "Bug report: Foam: Show graph command not showing normal markdown []() links"
- Foam version: 0.7.1
- Platform: Windows 10
- Issue occur on the [foam template](https://github.com/foambubble/foam-template) repo: No

**Summary**
Normal markdown `[Title](document.md)` links are not showing on `Foam: Show Graph` command

**Steps to reproduce**
1. Create two bubbles and link them with `[Title](document.md)`
2. Open the console and type `Foam: Show Graph`

**Additional informatio

[2020-12-31 11:22] riccardoferretti commented on #420
duplicate of #299

[2020-12-31 11:22] #420 closed

[2020-12-31 12:34] SpaceForever opened #421 "Disambiguation Page of All Notes"
This is a proposal for a feature that creates a page of all your markdown notes, so that people navigating your Foam site will be able to locate pages that would be otherwise orphaned.

[2020-12-31 13:22] SpaceForever opened #422 "View Random Note"
One of the best features of using  [SuperMemo](https://supermemo.guru/wiki/SuperMemo) for note taking is that there's peace in knowing no note will ever be permenantly forgotten as it will come back to you in time.

In Obsidian this is can be somewhat replicated using the 'Random Note' feature. Having this in Foam would be great. If this could include weighting for notes that haven't been accessed

[2020-12-31 16:11] riccardoferretti commented on #422
this feels like an interesting feature, would you be interested in looking into it? I expect the basic version to be pretty straightforward.
Maybe down the line we could also support weighting notes so that the least connected notes are given a bit more weight (as those are the notes most likely to be lost/forgotten)

[2020-12-31 16:12] riccardoferretti commented on #421
do I understand correctly that this is an index page for all your notes?

[2021-01-01 12:41] rajlego commented on #421
Yes, that's what we have in mind. It's difficult to find a lot of notes (for browsers of our site) since many are orphans (since wiki is still relatively new) and others might be hidden more deeply.

[2021-01-01 14:17] riccardoferretti opened #423 "Support spaces in wikilnks"
This feature is about enabling wikilinks using the file name without slugification.

Currently wikilinks are slugified e.g.:
- in markdown notes, when cmd+click on wikilink, the generated file name is slugified
- foam itself slugifies graph connections

[2021-01-02 13:43] lsx7 opened #424 "Linking with tags"
Use case:
Every page is also a tag and linking to other pages can be done simply with #tagname.
i.e. ctrl+click on #tagname would take you to tagname.md and autocompletion would automatically work.

Could something like that be supported in Foam? It's very simple&fast to use; and some similar tools support this feature, so it may also help with adoption.

[2021-01-02 14:07] riccardoferretti commented on #424
@lsx7 thanks for the suggestion.
Linking for the foreseeable future will follow standard md semantics, so either `[[wikilinks]]` or `[regular links](path/to/file.md)`.
The syntax you are proposing is unfortunately not standard md, and will defy one of the major goals of foam, which is to be compatible to with markdown.

There are also some other challenges, e.g. how to support links to filenames t

[2021-01-02 16:58] lsx7 commented on #424
Thank you for your fast reply. Maybe I should've make this more clear in the initial post - this feature wouldn't break the existing functionality, just complement it.

I'm sorry, but can you link to the markdown standard, where it defines [[wikilinks]]? It's been a few years since I've worked on markdown parsers/ASTs, but [[wikilinks]] were definitely were not part of the standard markdown and th

[2021-01-02 21:42] riccardoferretti commented on #424
Technically you are correct, I meant "standard" in a lax way, I believe you'd agree it's the defacto standard in connected wiki-style repos.

The cmd+click functionality is not contributed by Foam itself, but by Markdown Notes, if that is the feature request it might be better to file it there.

Foam is also working on a more comprehensive definition for links (along the lines of Obsidian and Roam

[2021-01-02 21:51] riccardoferretti opened #425 "add themaxdavitt to contributors list"
@allcontributors add @themaxdavitt for docs

[2021-01-02 21:51] riccardoferretti commented on #425
@allcontributors add @themaxdavitt for docs

[2021-01-02 23:02] lsx7 commented on #424
If we're taking about repos which are made to be parsed by github's Gollum, then yes, it's a "standard" they use, but even then, some people prefer to use only standard markdown links to make things future-proof and to stay markdown-compatible.
I definitely would be wary of calling wikilinks a markdown standard anywhere in the documentation (even here, it may confuse some people).

OK, thanks, I'l

[2021-01-03 04:23] themaxdavitt commented on #425
Thanks for adding me! This issue can probably be closed now since the PR was merged. :)

[2021-01-03 05:03] edrex opened #427 "Full support for markdown links"
Meta issue for rough edges using markdown-style links with Foam

To check for support for both markdown-style relative links with extension (`[foo](./foo.md)` or `[foo](foo.md)`) and without.

 * [ ] Foam link graph
   * *Test result: Doesn't pick up links either with or without extension.*
 * [ ] Markdown link graph
 * [ ] What other features am I missing?

**Person msg:** I just installed foam a

[2021-01-03 11:09] #425 closed

[2021-01-03 11:26] riccardoferretti commented on #424
That's a good question, Foam initially was mostly a collection of extensions with some glue, but moving forward it will include anything that has to do with the graph model part itself, so that other extensions can build on top of it.

That means that things like link parsing, tags, connections, properties (and maybe something else not at the top of my mind) will live in Foam itself, and drive oth

[2021-01-03 11:31] riccardoferretti commented on #427
Thanks for this @edrex, it's going to help consolidating the various issues that surround links in one place.
Here are some related issues: #299, #306, $424, #426.

[2021-01-03 12:08] lsx7 commented on #424
Yes, it makes a lot of sense. The way things work now is very limiting and you have very little control over the core/essential things.

In the long term, beside those two extension, it may also be a good idea to split the low-level javascript parsing/manipulations into i.e. foam-core (this project wouldn't have any references to vscode, which would make unit testing and future reusability much ea

[2021-01-04 17:32] srid commented on #424
See my thoughts on this idea: https://github.com/svsool/vscode-memo/issues/243#issuecomment-754108857

See also: https://github.com/foambubble/foam/issues/15

[2021-01-04 22:00] RoyiAvital commented on #15
What would Windows users do?
They won't be able to use Foam if it integrates Neuron.

If it will support Windows, it will be great thing to have.

[2021-01-05 13:02] riccardoferretti opened #432 "Date wikilink shortcuts expand incorrectly"
- Foam version: 0.7.7
- Platform: Mac
- Issue occur on the [foam template](https://github.com/foambubble/foam-template) repo: Yes

**Summary**
The date wikilink shortcuts (e.g. `/today`) expand incorrectly (e.g. `/[[2021-01-05]]` instead of `[[2021-01-05]]`)

**Steps to reproduce**
1. open a document
2. type `/today` and press enter
3. you will get `/[[2021-01-05]]` instead of `[[2021-01-05]]`

[2021-01-05 23:37] astrelochnik commented on #149
I don't think this issue should be closed. The answer here suggests that to exclude certain notes from being published to our public Github Pages site we must use @mathieudutour's specific template for Foam and/or using their own gatsby-digital-garden repo and enabling a certain theme (the suggested "gatsby-theme-garden" above) within.

I think having an 'exclude', or "private: true" option ought

[2021-01-06 09:43] mykter commented on #94
Adding `"prettier.singleQuote": false` to the template would be helpful in the mean time!

[2021-01-06 22:00] riccardoferretti commented on #94
this is a great idea @mykter - I have made the change in the template https://github.com/foambubble/foam-template/commit/991970ff2c861b1af53812f2ccd668e42fda0964

[2021-01-06 22:13] riccardoferretti opened #435 "Support note visibility (private/public note) in Foam model"
Currently there is no way in the Foam model to mark a note as being private.
That means that any solution is built by a convention defined by whichever publishing solution is used on top of Foam.

The Foam model should include a property to define whether a note is public or private.
Any publishing solution should use that information to include or not a note in the published site.

See also: #149

[2021-01-06 22:16] #435 closed

[2021-01-06 22:21] riccardoferretti commented on #149
@astrelochnik I completely agree with you.
Currently there is no way in the Foam model to mark a note as being private.
That means that any solution is built by a convention defined by whichever publishing solution is used on top of Foam.

The Foam model should include a property to define whether a note is public or private.
Any publishing solution should use that information to include or not a

[2021-01-07 16:19] MCluck90 commented on #421
I'd like to make a request maybe for a v2 of this feature: allow the user to specify some sort of filter. In my case, I would find value in indexing most of my notes but indexing all of my daily notes would just create a lot of noise.

[2021-01-07 16:42] jing-bi opened #436 "Customizable graph style"
It would be great that we can add a css file to modify the graph style.
The changeable style might be:
- color of the node
- thickness of the link
- highlight style when hovering the node
- force between nodes

[2021-01-08 02:38] brentjanderson commented on #149
This is precisely how I am approaching this in the publishing tool I am building for myself. The YAML frontmatter will have a `visibility` property to set one or more visibility levels, with a presumed default of `private` or unpublished.

[2021-01-08 08:57] rajlego commented on #422
We haven't forgotten about this, I'm writing a proposal to explain the pieces needed (should be able to post in next few days.
I don't think Space is interested in coding and I'm not a coder (though I can read code) but if anyone else would be interested in collaborating on it, I'd be happy to give input/design ideas.

[2021-01-08 08:58] rajlego commented on #421
Small extra request for a maybe v3...could you sort by 'weight'? Put things with most links to/from at the top and descend?
I have a burning hatred of sites like [Paul Graham's](http://www.paulgraham.com/index.html) which have amazing content but force me to go through them in random, arbitrary inefficient order

[2021-01-08 09:46] riccardoferretti commented on #422
Please do share @rajlego, there have been other people interested in the feature, someone might take it

[2021-01-08 09:51] riccardoferretti commented on #149
interesting, would you like to share more of your thinking/design around this?
does the property have any built-in semantic? I guess `private` and `public` would, and anything else would be left to the publishing fwk to interpret? Or were you thinking something else?

[2021-01-08 16:29] jmg-duarte commented on #436
This has been in the works, but the graph and its place in the project has been subject to discussion

[2021-01-08 16:53] riccardoferretti commented on #436
To clarify @jmg-duarte, although we are debating how to organize the graph code, that doesn't stop us from implementing new features to the graph in the meantime.
I am actually very keen to add custom styling ASAP, there are a couple of considerations (where does the style sheet live, which properties to expose, ..) but nothing that is impacted by where the graph code comes from.

At the moment th

[2021-01-08 17:54] #299 closed

[2021-01-08 17:57] brentjanderson commented on #149
Depends on how simple it should be out of the box. Permission policies can get complex in a hurry, so having a sane set of defaults that frameworks could extend would be important.

# Foam Defaults

The most basic permissions I can think of:
- `private`: The default option, private notes are not available online at all.
- `protected`: Visible to any authenticated user. For static sites, this may b

[2021-01-09 16:38] MCluck90 commented on #422
I'd be happy to take it on once I know the full scope!

[2021-01-10 01:26] rajlego commented on #422
It wasn't written so incrementally so please forgive any lack of coherence: I recommend reading the proposal [here](https://spaceforever.github.io/Spiral-Labs/incremental-writing), on our site but just to make this as visible as possible I'll also post it here (though images won't work). Whatever questions you have, ask away (no matter how silly or basic they seem).

# Incremental Writing

(below

[2021-01-10 11:33] jmg-duarte commented on #409
I'll be closing this issue in favor of #436 which is more broad while still relating to the graph

[2021-01-10 11:33] #409 closed

[2021-01-10 12:14] jmg-duarte commented on #436
I'm interested in addressing this as I think some aspects of the graph are currently _not optimal_.
I think it makes sense we take this on a step by step basis instead of trying to fit every possible feature into a single PR.

# Style File

## Format
### JavaScript
@riccardoferretti proposed to use `.js`, however I dislike the idea since it opens the possibility for code execution within what was

[2021-01-10 14:01] zkarampa opened #437 "Wrong URL in the documentation"
- Foam version:  v0.7.7
- Platform: Linux
- Issue occur on the [foam template](https://github.com/foambubble/foam-template) repo: No

**Summary**
URL in the documentation points to unknown page.

**Steps to reproduce**
1. Go to https://foambubble.github.io/foam/features/link-reference-definitions
2. Click on the link in the Example: "You can open the raw markdown to see them at the bottom of this

[2021-01-10 21:12] riccardoferretti commented on #436
Thanks for the thorough write up, here are my comments:

#### JSON file format

Sounds good to me.

#### File location

We already have a global config file (`~/.foam/config.json`) that is read by Foam, see `foam-core/src/config.ts:57`.
Having a customizable file location doesn't solve the problem of where you read the configuration for that path in the first place, I reckon you were thinking VsCo

[2021-01-10 21:29] riccardoferretti commented on #422
Thanks @rajlego for the detailed write-up.
I am not very familiar with SuperMemo, so it's hard to evaluate the functionality per se.
This specific workflow feel better suited to a plugin built on top of Foam core.
We don't expose the API yet, but we could to enable an extension built on the core model (that is the longer term plan, we haven't done it yet to be able to iterate without worries on th

[2021-01-10 21:34] riccardoferretti commented on #437
thanks! this has now been fixed

[2021-01-10 21:34] #437 closed

[2021-01-11 10:37] riccardoferretti commented on #149
This is very helpful @brentjanderson.

What happens if `protected` is in a list of strings alongside roles?
And if we want to treat `protected` as a role, maybe `users` would be a better name.
But actually, the more I think about it, the more it feels like that from a Foam POV, there are 4 levels of permissions:

1. `private`
2. roles (any other string)
3. `protected`
4. `public`

The visibility o

[2021-01-11 17:03] brentjanderson commented on #149
Your observations about conflicting fields, how to treat `public`, and the 4 permission levels sounds right to me. `protected` makes more sense to me than `users` unless we would consider changing `public` to `guest` or `anonymous`. The public/protected/private terms feel more natural to me personally, but I am happy to use whatever convention we adopt as a community.

[2021-01-11 23:39] riccardoferretti commented on #149
yes I also prefer public, protected and private (maybe because we are developers?).
Let's go with those, they are clear enough for anyone in the end IMO

[2021-01-12 09:16] ingalless opened #439 "Write docs for date snippets"
I didn't do my job properly with #298! I should write some docs for these

[2021-01-12 11:09] rajlego commented on #422
Had a great discussion with Riccardo, from what he said you'd have 3 layers:
![image](https://user-images.githubusercontent.com/5921902/104306858-d7e75880-5511-11eb-97ca-0b4d96431dbf.png)
I'm not entirely sure about actual code but it generally seems fairly feasible if anyone wants to collaborate.
@MCluck90 are you still interested/have stuff you'd want me to clarify
I'd also be interested in tryi

[2021-01-12 13:59] MCluck90 commented on #422
My small prototype only handles the most basic case: random note selection without any prioritization. @riccardoferretti @rajlego Did the two of you come to the conclusion that this sort of prioritized randomization should be a separate plugin or included as part of core? My impression is that this sort of Anki-like feature would be better suited as a separate plugin

[2021-01-12 14:23] riccardoferretti commented on #422
@MCluck90 the more advanced prioritization solution that @rajlego is talking about will be a separate plugin.
Foam core just needs a basic implementation as that will be fine for most users.

[2021-01-12 22:04] themaxdavitt opened #442 "[[known-issues]] link doesn't resolve in project documentation"
The broken `[[known-issues]]` link in [the getting started section of `docs/index.md`](https://github.com/foambubble/foam/blob/e5589f05554ce44231665d08d52f3f1e9ef94a2c/docs/index.md#getting-started) ([web view](https://foambubble.github.io/foam/#getting-started)) should be pointing to the [known issues section of the roadmap](https://github.com/foambubble/foam/blob/e5589f05554ce44231665d08d52f3f1e

[2021-01-13 21:30] jmg-duarte commented on #436
Since #438 was merged I'm closing this

[2021-01-13 21:30] #436 closed

[2021-01-14 04:03] gamebox commented on #13
I don't want to speak for the creator of this issue, but I think some things that come to mind:

- States for headers (TODO, INPROGRESS, DONE, WAITING, etc).  They can be toggled between with a click or keyboard shortcut(and have different styles applied)
- Deadlines / timestamps
- Agenda feature(collate items based on the above into a daily and/or weekly view, with navigation and state changes po

[2021-01-14 12:18] ingalless opened #446 "A comparison to other personal knowledge management systems"
From the hackernews comments today:

I thought this sounded like a good idea. "Why this is better than x" is probably not the route to take, but perhaps "why you may enjoy this over x".

[2021-01-14 14:47] riccardoferretti opened #447 "Improve foam-template with easy way to get started with a note taking system"
Currently it's pretty common for new users to feel a bit lost about how to use Foam once they have followed the steps in the foam template.

For someone new to note taking, having a reference point to get started with, can be the difference between continuing or dropping the effort.

There are many different systems one could use, and giving plenty of choices becomes a chore in its own right.
The

[2021-01-14 16:00] #442 closed

[2021-01-14 20:16] Koleok commented on #63
In keeping with the way foam wholly delegates it's main _"editor"_ to vscode, I have found that using any one of many mobile markdown/git editors is great solution.

Personally I have been using [gitjournal](https://play.google.com/store/apps/details?id=io.gitjournal.gitjournal) which is literally exactly what I would build if I was making a foam mobile app, sure it'd be nice to have a viewer, tag

[2021-01-15 07:09] ivanleomk opened #450 "Foam links created in VScode link to markdown instead of page"
- Foam version:
- Platform: | Mac
- Issue occur on the [foam template](https://github.com/foambubble/foam-template) repo: No

**Summary**
When I include links in my initial readme.MD using the [[wiki-links]] format, I get linked to the markdown file instead of the page. I'm not sure why this is the case. Any help with this would great!

Foam Github-Page : https://ivanleomk.github.io/

**Steps to r

[2021-01-15 08:48] ingalless commented on #447
Chiming in some morning initial thoughts!

I love this. Will be really good to answer common questions right in the template. Perhaps it would be a good idea to try dig out the common questions from the discord chat?

Whatever we end up going with, I think it should be easy to "bail out" of, which I think you've eluded to. If a user works out in 10 minutes what he's doing then he shouldn't need to

[2021-01-15 09:55] bserrao opened #451 "Numeric tags not being recognized in tag explorer"
- Foam version: 0.7.7
- Platform: Windows
- Issue occur on the [foam template](https://github.com/foambubble/foam-template) repo: Yes

**Summary**
When using full numeric tags (#2021), those get correctly highlighted in VSCode but don't get listed on tag explorer

**Steps to reproduce**
1. Edit any markdown document inside Foam with a numeric tag (#2021)
2. Save file, and check tag explorer

**Add

[2021-01-15 17:16] ais commented on #306
I believe the issue is with `remark-wiki-link` which uses `:` as its default divider. You can confirm this by switching between `:`- and `|`-divided links on the fly.

You can set the divider by passing `aliasDivider:string` to the plugin constructor(? - _unsure of the terminology here_):

https://github.com/foambubble/foam/blob/97e3b20112cc4d53194a11c987a524851111a955/packages/foam-core/src/markd

[2021-01-16 18:36] SanketDG commented on #447
I agree with @ingalless here, one should be able to build on "top of", not against.

I think keeping a minimal publishing system with recipes/plugins/templates for other systems would work well for us, but then again I have always like Foam's opinionated way of doing things.

About the template becoming easier to get started, I was wondering if there is any interest in making it more accessible, t

[2021-01-16 20:10] jmg-duarte commented on #450
@ivanleomk what you've shown does not match your site, could you make sure everything is up-to-date and share the repo?

[2021-01-16 22:11] Koleok commented on #450
@ivanleomk I was experiencing the same, in my case it was due to the generated links being missing or out of sync, you can try and run [foam janitor](https://github.com/foambubble/foam/tree/master/packages/foam-cli#foam-janitor-workspacepath) to rule that out.

[2021-01-16 23:51] Koleok commented on #421
Pretty easy to just write a script for this and run it prepush or something, I initially did just that when I started my repo, but found that it rendered the graph much less useful with hundreds of useless edges that don't represent conceptual connections. In order for a master index to be useful it'd be nice to be able to tell the graph to ignore specific files, in a foam config file or something

[2021-01-16 23:58] Koleok commented on #421
I might take a crack at this actually, nice easy entry issue 👌

[2021-01-17 17:40] davidde opened #452 "Feat: graph visualization for directory structure"
I recently discovered foam and I'm really liking it, especially since I have already settled on local plaintext markdown notes. The Roam Research "anti-hierarchy" approach might be great for proprietary solutions that abstract away the file system, but I'm not convinced it is the best approach for working with local files. As such, I am very happy that Foam aims to support both approaches.

I thin

[2021-01-18 17:55] leonhfr commented on #356
Another suggestion: the ability to skip the "Where should the temple be created?" step if a directory has been pre-configured.

For example, if a user has a book review template, and they store all of them in the same `/books` directory, they could skip this step by configuring the path in the front matter (as it's used for node customization too):

[code]

[2021-01-18 17:56] riccardoferretti commented on #452
Hi @davidde, I think there are some interesting ideas there, a few people have mentioned some sort of "index" file per directory, and this feels like something that could be useful, although I am unclear about the shape or how to get to it.

For what regards a graph based on file path, in what way do you consider it to be better than the file explorer that comes with VsCode?

[2021-01-18 18:05] riccardoferretti commented on #447
@SanketDG for me there are two things that unfortunately atm are very tightly coupled together, but I am keen to disentangle:
1. Foam template as the initial collection of notes and settings that one can use to create a knowledge base
2. Publishing "recipes" that can be used to quickly publish a template to a specific target

The current template embeds a publishing recipe for GH Pages, so the two

[2021-01-18 18:07] riccardoferretti commented on #446
this seems related to https://discord.com/channels/729975036148056075/729976652448137269/800425283978526731

I would prefer to offload this to a third party we can point to. I believe it's the best way to avoid keeping the doc constantly up to date and maintain it.

Maybe though there are other benefits in having it in house? thoughts?

[2021-01-18 18:15] riccardoferretti commented on #306
That approach should work, thanks for rediscovering the PR, I had forgotten about it!
The rendering issue in Jekyll is interesting.

Given this bug is in Jekyll, I don't consider it a blocker to move forward with adding support for aliases in Foam.
The solution is in no way worse that the current status (as a workaround one would just not use an alias in those situations).

Thoughts?

[2021-01-18 18:17] riccardoferretti commented on #452
#421 is where we discuss having an index page

[2021-01-18 21:32] cmcconomy-element opened #453 "Built-in way to synchronize with github's foam-template?"
I think it would be useful to be able to merge in changes from foam-template (as once you've cloned, you lose the ability to pull subsequent changes).

Having done a bit of research, some interesting work appears to have been pursued here, which would permit a 'github action' to run the merge:
https://github.com/narrowspark/template-sync-action

However, it appears to be broken right now and I'm n

[2021-01-18 23:38] davidde commented on #452
You're totally right that this kind of overlaps in functionality with the file explorer, and this is also why I was initially hesitant to propose it. Why I eventually did propose it, is because I currently feel like I'm "missing out" on this wonderful visualization tool that is already available. With this feature request I'm trying to gauge interest before spending too much time brainstorming an

[2021-01-19 09:23] riccardoferretti commented on #452
@davidde I think your idea makes lots of sense in different ways, and it's something that Foam in a way can already support.

I agree with you that often times the path of a note gives some information about it, so it would be good to leverage that.
Currently you can achieve something like this using https://github.com/foambubble/foam/blob/master/docs/features/foam-local-plugins.md, and adding pro

[2021-01-19 09:31] riccardoferretti commented on #453
Thanks for the pointer @cmcconomy-element, I agree this would be great to have.
At some point we might even build this into Foam, would love to get comments on how to approach this functionality in one way or another.

[2021-01-19 13:47] cmcconomy-element commented on #453
Maybe take another half-step back and ask why we are recommending a 'template' instead of a 'fork'.
I believe the intention of templates is a one-time starter whereas forks are more of a 'conversation' with the upstream repo.

There is a risk to fork semantics - pulling a merge might threaten to squash some of your config/documentation! In this case, the base project (fork/template) should be care

[2021-01-19 14:13] SanketDG commented on #453
The problem is the idea of templates (and distributing them) makes more sense here because it makes publishing more accessible, opens up the ground for composition and mixing/matching things.

"Forks" on the other hand is just a git thing, although some of the principles are relevant.

I think what we are missing primarily is the ability to "incrementally compose" the  `settings.json` (among other

[2021-01-19 14:27] cmcconomy-element commented on #453
@SanketDG Makes sense, though this is more than publishing a web page or set of documents: it's a technical infrastructure.
I like the concept of composable configs, maybe a defaults config file that we pull updates for and a user config file that overlays on top of it (stealing a page from sublimetext).

Another possibility is further separating the documents from the app by using a git submodule

[2021-01-19 15:18] nahuel commented on #169
There is also the MIT Licensed and also WYSIWYM MarkText: https://github.com/marktext/marktext

[2021-01-19 15:34] cmcconomy-element opened #454 "Feat: (local) Image pasting"
Consider adding this capability:
https://marketplace.visualstudio.com/items?itemName=mushan.vscode-paste-image

perhaps as a sane default create a default image path - I found the following to be useful:
"pasteImage.path": "${currentFileDir}/images/${currentFileNameWithoutExt}"

This way the attached images are filed in an images folder, under the topic, and by default with a timestamp.

[2021-01-19 17:01] riccardoferretti commented on #453
Yes those are all valid points, and good find on that document, interesting read.

My rough thinking around this was to use the `.foam/` dir to separate as much as possible "user context" from "foam context".
At the same time, even within `.foam/` there are things that originate from the template, but can be overridden by the user. Configuration is one example, and what you wrote about composable

[2021-01-19 17:14] riccardoferretti commented on #454
This is a very good idea, can you create a PR for it in https://github.com/foambubble/foam-template?

[2021-01-19 17:15] cmcconomy-element commented on #453
The thought that sparked this issue: I cloned foam in October and I know I was a bit of an early adopter, and I want to benefit from further updates to foam.

If in contrast, all tech changes are fully encapsulated in the foam app updates and the foam development anticipates never having to update contents of the templates folder, then this feature is unnecessary and should be closed.

[2021-01-19 17:23] riccardoferretti commented on #453
I think that's the main question and where the template meets the generator.
It would be helpful to have specific examples, e.g.:
- new extensions that were recommended in template, but aren't available to early adopters
- new settings / defaults
- updates to publishing template/configuration/...

Several of those feel also a bit "dangerous", where nothing should happen without user consent, as th

[2021-01-19 18:24] cmcconomy-element commented on #454
Ready for review/merge.

[2021-01-19 18:36] cmcconomy-element commented on #453
A concrete example - here is settings.json from my pull:
[code]

[2021-01-19 18:48] davidde commented on #452
Sounds good. All great points.

I was hoping the graph code would be reusable. Now that I think about it, it might even lend itself well to enable a third visualization mode of #tags, which would be especially useful since tags can be used multiple times in the same document.

I'll look into the local plugins and `generateGraphData`.

[2021-01-19 19:47] SanketDG commented on #454
https://foambubble.github.io/foam/recipes/add-images-to-notes

It's already there, although could use some brushing up with the recommended setting!

Wait, did you create this? I remember playing with this yesterday and got pretty cool insights on mega projects.

[2021-01-19 19:50] cmcconomy-element commented on #454
My bad - I guess I duplicated someone else's research and ended up choosing one of those as default?? :p
I suppose the page would have to change to reflect that these particular batteries are included in by default now.

Nope, not mine, we both probably saw it on HN or something - but I like the idea!

[2021-01-19 21:56] riccardoferretti commented on #454
I merged the PR because this feels like a core, unintrusive, good functionality to have, that I agree it should be in the template.

Thinking of it, one thing we could have done is add some instructions about it in the `getting-started.md` file, I found a bit confusing that the command is invoked by `cmd+alt+v` as opposed to simply `cmd+v` (which would fall back to regular pasting if the clipboard

[2021-01-19 22:09] riccardoferretti commented on #454
done: https://github.com/foambubble/foam/commit/8bd3109325552bd28d3f528e09642ccf8e5197c7
and done: https://github.com/foambubble/foam-template/commit/c29ca1f6457e25fb71a173513fb3826a1dd18a7f

[2021-01-19 22:09] #454 closed

[2021-01-19 22:20] cmcconomy-element commented on #454
So, I found a tool to inspect forks for activity:
https://techgaun.github.io/active-forks/index.html#https://github.com/mushanshitiancai/vscode-paste-image

which led me to:
https://github.com/telesoho/vscode-markdown-paste-image

And I think it's just a better plugin.

I'm going to look at doing another PR to replace the plugin as this has more comprehensive pasting capabilities for markdown.

Ch

[2021-01-19 22:29] riccardoferretti commented on #454
This second extension feels a bit "heavier", both in a good and bad way, so I prefer to try it out myself for some time before making it part of the default template.
In the meantime I am happy to have it added to the list of recommended extensions

[2021-01-19 22:30] riccardoferretti commented on #454
(of course please feel free to try it out and report as well)

[2021-01-20 17:11] SanketDG commented on #454
I feel the same, let's add it to the recipes! It definitely has a lot of features.

[2021-01-21 09:24] riccardoferretti commented on #452
paging @jmg-duarte as he has done some work on the graph, has some good ideas about how to move it forward and make it its own module - so might be interested in the thread, FYI

[2021-01-21 10:58] riccardoferretti commented on #422
Closing this as the requirements for Foam have been satisfied for now. For future iterations on opening random notes we can create new issues.

[2021-01-21 10:58] #422 closed

[2021-01-21 11:41] leonhfr commented on #367
I like this idea too and I find myself missing not having it, so I might take a shot at it when time allows.

What I would include in this feature is also the ability to exclude files from some directories from being listed. For example in my repository there are many unlinked entries in `/journal`, but while I like having them for archiving/references purposes, I wouldn't want them listed.

So a

[2021-01-21 12:28] riccardoferretti commented on #367
I like the idea, maybe I would adjust the terminology.
We are talking about notes that have no inbound nor outbound connections to other notes (or placeholders).
Some apps call such note is called orphan. The term is a bit strong, but it can work. I am also curious to explore alternatives.
Unlinked note feels a bit "convoluted", maybe something like "isolated note", but ideally we should use a sim

[2021-01-21 12:57] leonhfr commented on #367
I like those ideas, it feels like a more complete feature.

For the terminology, in graph theory we'd talk about `isolated vertex`, so maybe `isolated note`? Or maybe `singles`? Otherwise I'd say `orphan` sounds good.

Good point about the placeholders too, they indeed shouldn't be in the list.

Also liking the settings and their defaults, more flexible for sure

[2021-01-21 14:15] cmcconomy-element commented on #453
I echo the sentiment that the extension is the place for this.

The way I think of Foam is as the extension that ties together all these capabilities into a single package that permits me to author linked documentation, and as such it should contain all the application logic.
In addition, this means the natural extension-update mechanism baked into VSCode can help me maintain it up to date without

[2021-01-21 14:18] cmcconomy-element commented on #453
Also note, I think this should be easy to shift to the extension:
https://code.visualstudio.com/api/references/extension-manifest

see `extensionDependencies`

[2021-01-21 16:12] khimaros commented on #237
the roadmap item was moved to here: https://foambubble.github.io/foam/dev/materialized-backlinks

[2021-01-21 20:08] riccardoferretti commented on #400
Most of those things are now addressed in https://github.com/foambubble/foam-template/pull/28

[2021-01-21 20:10] riccardoferretti commented on #355
big changes to foam template to include some instructions on how to use it. https://github.com/foambubble/foam-template/pull/28

[2021-01-22 02:58] khimaros commented on #45
@jevakallio -- do you already have thoughts on how backlinks should be handled in Foam? do you already know how you want them to appear in the markdown or in the published HTML?

[2021-01-22 08:48] riccardoferretti commented on #45
There are various paths we can follow, here is what comes to mind:
The easiest approach would be to add a command that actually writes the backlinks in the files. this approach is in line with the wikilink definition approach, so it could follow the same pattern (including presence in the janitor)

I think a better approach would be to investigate whether it's possible in jekyll to have a sort of

[2021-01-22 08:53] riccardoferretti commented on #45
a quick search yielded this: https://jekyllrb.com/docs/rendering-process/
sounds like exactly what we need.
I am not familiar with Jekyll, but someone with more experience might be able to create a plugin or something to interface with Foam and generate the relevant data.

[2021-01-22 10:16] t2hv33 commented on #450
@Koleok Thanks, it worked for me to fix the error on MAC VS CODE
To sum up:
Platform: | Mac
- MAC VsCode : auto-remove .md at Link preferences after press Command+S
- Fixed by run `foam janitor [foam-workspace-path]` on cli

Platform: | Windows: Do not happen this issue.

[2021-01-22 15:06] riccardoferretti commented on #367
ok, confirmed for "orphans"

[2021-01-22 15:50] riccardoferretti opened #455 "Graph nodes are not properly highlighted on light themes"
- Foam version: 0.8.0
- Platform: Mac
- Issue occur on the [foam template](https://github.com/foambubble/foam-template) repo: Yes

**Summary**
When a node is selected in the graph, the other nodes don't become less prominent.

I believe the reason is that when we get the style for the nodes that are "lessened", we darken the color.
That works on a dark background, but doesn't on a light one.
The g

[2021-01-22 16:54] leonhfr commented on #367
Sounds good, I'm happy to look at this in the coming days!

[2021-01-22 21:59] njnygaard opened #456 "User Selectable Tag Character"
I enjoy using a [Markdown Linter](https://github.com/DavidAnson/markdownlint) in VS Code.
It comes with a list of rules.
[One of which](https://github.com/DavidAnson/markdownlint/blob/main/doc/Rules.md#md018---no-space-after-hash-on-atx-style-heading) stipulates that `#interesting` is an error.
The rationale is that an article title should be of the form `# Title` so `#Title` is an error.

I agree

[2021-01-22 22:02] njnygaard commented on #456
For color, this can be bypassed by creating the file `.markdownlint.json` with the contents:
[code]
But I don't want to disable the whole rule for something that could grow to a very large project.

[2021-01-23 09:51] riccardoferretti commented on #456
hi @njnygaard, thanks for sharing the Linter link, I wasn't aware of it.

We have no plans of making the tag character configurable atm, it could be considered if there were wider interest, it feels (to me) like a specific use case that can easily be worked around on the linter side.

I wonder if the issue should be addressed by the linter, as far as I know `#tags` are pretty standard in markdown,

[2021-01-23 10:29] SanketDG commented on #456
Just to make sure everyone is on the same page, `#tags` is not part of any major Markdown spec. OTOH, It's a widespread convention to use it in front-matter for every SSG out there.

So supporting `#tags` will be slightly against (if not additive to) the spec (also if we want do future things with tags)

It makes sense from a spec perspective to lint `#Title`, but then you can disable it as above.

[2021-01-23 11:48] riccardoferretti commented on #456
You are right, I should be more specific when I say things like these, it's not the first time it's causing confusion 😅
"Pretty standard" referred to "common use" (I know, ambiguous) instead of "defined in most of the standards".
Thanks for the clarification.

I believe this is in line with my general point: I don't believe front matter is defined in major markdown specs (I knew it was not in [com

[2021-01-26 03:42] njnygaard commented on #456
Thanks for the feedback.
For what it is worth, I have tried to understand the linting rules more thoroughly and I believe that this isn't a valid issue.
The linter supports front matter, so @SanketDG your suggestion will work well for document-wide tags.
Also @riccardoferretti, I neglected to test tags in the actual flow of text.
I jumped the gun and flagged this issue when I noticed the linter co

[2021-01-26 07:44] riccardoferretti commented on #456
Great! Glad it worked out!

[2021-01-26 07:44] #456 closed

[2021-01-26 14:56] #367 closed

[2021-01-26 19:28] leonhfr commented on #453
On this, `extensionPack` might be a better fit if we go this way. `extensionDependencies` would make the current recommended extensions mandatory. Some (most?) people would like more granularity.

Source: https://code.visualstudio.com/updates/v1_26#_extension-packs-revisited

[2021-01-26 19:33] leonhfr commented on #453
Also note that vs code is working on allowing extensions to display the changelog, similar to the `What's new?` it does when updating. So it might just be a case of waiting until it's implemented.

Source: https://github.com/microsoft/vscode/issues/102139

[2021-01-26 19:38] leonhfr commented on #453
Another option is to make use of this submodule: https://github.com/alefragnani/vscode-whats-new

Foam could also rely on a temp solution like this submodule while vscode implements the more general feature (see previous comment).

[2021-01-26 19:49] leonhfr opened #459 "Note previews in the panel views"
Following the implementation of the [Orphans](https://github.com/foambubble/foam/pull/457) panel and considering the existing Backlinks & Tag Explorer panels, I'm thinking it could be good to update the tooltip, currently the same as the description for the 3 panels, to show a preview of the note instead.

I don't have an example to show in a panel on hand, but think of the hover VS code does when

[2021-01-26 22:28] pranphy opened #461 "Page aliases support."
Many times when I write note about particular topic, there are different ways it can be referred in a different note. It would be nice to support the alias in the frontmatter like:

    ---
    title: some title
    alias: synonym to title, different title
    ---
and [[some title]] or [[synonym to title]] or [[different title]] would all link to the same page.

[2021-01-27 11:14] riccardoferretti commented on #459
Hi @leonhfr, that sounds really interesting, good idea

[2021-01-27 18:34] leonhfr commented on #459
@riccardoferretti ok you can assign it to me and I'll make a POC soonish

Also I'm now thinking the Backlinks is actually managed by markdown notes instead of foam, but maybe it's a possibility to propagate those changes to this extension too.

[2021-01-27 21:38] leonhfr commented on #459
I think it could be nice:

![note-preview](https://user-images.githubusercontent.com/19996318/106057522-63efa780-60f0-11eb-9db8-59cb49961dca.gif)

[2021-01-27 21:54] kvaleev opened #462 "Saved tag search aka Smart Folders support"
Several tools, for instance, The Archive considering Zettlekasten or Devonthnik as general-purpose knowledge management multitool, support the saved search feature also known as Smart folders. The idea behind this feature is to be able to save some search query—usually tag-related but ideally not limited to—as a meta-tag to have more complex note aggregation rather than just simple tags. For examp

[2021-01-28 10:17] ingalless opened #463 "Orphan list doesn't update on file deletion"
Just want to start off with a huge thank you to @leonhfr for this feature - it's great!
- Foam version: 0.9.0
- Platform: Windows (But probably all)
- Issue occur on the [foam template](https://github.com/foambubble/foam-template) repo: Probably, untested

**Summary**
When a file is deleted (which has been tested), and perhaps when any update is made, the Orphans list is not updated accordingly.

[2021-01-28 11:30] riccardoferretti commented on #463
cc @leonhfr
I saw that the panel is listening for `onDidUpdateNote`, but also needs to listen for `onDidAddNote` and `onDidDeleteNote` (maybe there should be a generic `onWorkspaceChange` event to make this easier?)

[2021-01-28 11:42] leonhfr commented on #463
@riccardoferretti  Yep, I checked those and saw the same, I'll make a PR for this

[2021-01-28 15:00] #463 closed

[2021-01-28 18:34] leonhfr commented on #459
So to sum this up:
- we can have the note preview on the orphans and tag explorer panels
- we would need to propagate the changes to the markdown notes extension to have them there too
- we can't extend the behavior of the explorer panel, so if we want them there we'd have to build some sort of "Foam notes explorer"

wdyt @riccardoferretti still interesting to go for at least the first point?

[2021-01-29 03:37] vivlav commented on #293
I clone the template repository. After editing all links became invalid. (Windows).
`
[//begin]: # "Autogenerated link references for markdown compatibility"
[getting-started]: ../../../../d:/repo/!/foam/getting-started "Getting Started"
[wiki-link]: ../../../../d:/repo/!/foam/wiki-link "Wiki Link"
[vvv-file]: ../../../../d:/repo/!/foam/vvv-file "Vvv File"
[inbox]: ../../../../d:/repo/!/foam/inbox

[2021-01-29 04:11] jqknono0 opened #466 "Stuck for a long time"
- Foam version: 0.9.1
- Platform: Windows
- Issue occur on the [foam template](https://github.com/foambubble/foam-template) repo:  No

**Summary**

Stuck for a long time.

**Steps to reproduce**
1. Every time the workbench open up.

**Additional information**

Feel free to attach any of the following that might help with debugging the issue:
- screenshots
- a zip with a minimal repo to reproduce t

[2021-01-29 08:53] riccardoferretti commented on #459
hi @leonhfr, I really like this.
it's hard from the pic to tell how the UX would be:
- you have tried it, does it "flow" well or is it intrusive and obstructs browsing of the tree views?
- do you have a branch I can try this on?

A couple of questions/considerations:
- what happens with long files? is there a max height to the preview?
- we might, whether now or later on, give the option of enabli

[2021-01-29 08:57] riccardoferretti commented on #466
that sounds really strange, it's not been processing that many files.. do you have a repo where we can reproduce the issue?

[2021-01-29 09:36] jqknono0 commented on #466
repo kept in secret, it's inside the company. I wonder if my notes are too much.

Adding some paths to the `foam.files.ignore` reduced the startup time.

[2021-01-29 11:45] leonhfr commented on #459
@riccardoferretti so, in order:

- I think it flows well, there are some cases that need to be handled (front matter, note length) but this was just a POC anyway
- will push one this weekend probably and let you know
- for long files, I think we'll need to truncate them and display only the first few lines (to be defined)
- agreed on the option

For the links in the editor, I *think* it is possibl

[2021-01-29 14:18] riccardoferretti commented on #466
how many files are in the repo?

On 29 Jan 2021, 10:36 +0100, jqknono0 <notifications@github.com>, wrote:

[2021-01-31 03:47] AustinTSchaffer commented on #424
Not sure if this helps anyone else, but I wrote a quick and dirty python script that generates a directory of markdown docs that contains links to all other markdown files in my notes repo. This was mostly to make my graph look more interesting. The tag-files are highlighted in orange.

https://github.com/AustinTSchaffer/Notebook/blob/main/_app/tags_to_links.py

https://github.com/AustinTSchaffer/

[2021-01-31 14:06] macio-sap commented on #293
I had also have the same problem like this.

[2021-01-31 15:35] riccardoferretti commented on #293
is this also on Win?

[2021-01-31 19:31] leonhfr opened #471 "Adding context to the note preview in the tag explorer"
@riccardoferretti had this [idea](https://github.com/foambubble/foam/pull/468#discussion_r567422947) I'm linking a lot about improving the note preview in the tag explorer. It was a bit outside the scope of the original PR so I'm putting it here to get to it at some point.

[2021-02-01 22:01] leonhfr commented on #453
I had an idea on this. For the `foam-template`, we want the difference between the moment the user's repo was generated and the current template. So at its most simple it's a diff between commits. If we know the commit from when the user generated the repo, we know what updates have been applied since.

Additionally, if Foam makes this function available as a command or something, and a user appli

[2021-02-02 12:06] jqknono0 commented on #466
about 60 mds, some reaches 2MB, ignoring them solved the issue.

[2021-02-02 12:23] riccardoferretti opened #472 "Add performance testing"
We need to have some performance tests for Foam.

Approaches and notes:
- generate a directory with various files connected based on some patterns (random, with some sort of linear progression, ...).
- use existing digital gardens (see https://github.com/KasperZutterman/Second-Brain and https://github.com/foambubble/foam/pull/467#discussion_r568144587)
- test also performance with large md files (

[2021-02-02 12:38] #459 closed

[2021-02-02 13:15] leonhfr commented on #472
Batch operations:
- renaming a directory
- N files deleted at once
- N files added at once (moved from outside foam)

[2021-02-02 17:58] FrancoB411 commented on #447
Please no PARA. The fewer ideas, frameworks, and metaphors introduced, the easier for someone to onboard.

Users already have to learn VS CODE, Markdown, and wikilinks. That's a lot to learn compared to a pencil & notebook!

Understanding what users want to accomplish could be useful. Do they want to remember things? Do they want to write? Build Documentation?

The idea of looking through discord

[2021-02-02 20:17] mcallaway opened #474 "Add support for reStructuredText"
Is it possible to support reStructuredText in addition to Markdown?

[2021-02-03 20:16] zomars commented on #146
Is it possible to change the extension of [[wiki-links]] created files to default to `.mdx` ?

[2021-02-04 10:15] Panke opened #475 "Dots break wiki links"
- Foam version: 0.9.1
- Platform: Linux
- Issue occur on the [foam template](https://github.com/foambubble/foam-template) repo: Yes | No

**Summary**
If Wiki links include dots like [[ASP.NET Core]] than it will not be included in the generated link references, instead 'points to a non-existing note' turns up in the output. Without the dot everything works, e.g. [[ASPNET Core]] works like a charm.

[2021-02-04 16:09] njnygaard opened #476 "Orphans Not Exluding"
- Foam version: v0.9.1
- Platform: Linux
- Issue occur on the [foam template](https://github.com/foambubble/foam-template) repo: Yes (if you add an orphaned document see image directly below)

![image](https://user-images.githubusercontent.com/4606342/106920263-2975a400-66c8-11eb-85c8-db67a6e1d376.png)

**Summary**

![image](https://user-images.githubusercontent.com/4606342/106919508-71e09200-66c7

[2021-02-04 16:40] leonhfr commented on #476
My bad, seems the documentation is slightly outdated. Can you try to use globs instead?

[code]

[2021-02-04 17:23] mcallaway commented on #474
My goal here is to make a "second brain" that works with Sphinx too. But I've since found that Sphinx supports Markdown, so I can get what I'm after. I'm not sure if .rst offers interest to others, but I chose it over Markdown after reading discussions like this one:

https://eli.thegreenplace.net/2017/restructuredtext-vs-markdown-for-technical-documentation/

[2021-02-04 18:30] njnygaard commented on #476
Killer @leonhfr, `"foam.orphans.exclude": ["journal/**/*"],` works well after window reload.
Should I close this or make a PR for the docs?

[2021-02-04 18:33] njnygaard commented on #476
#477 I figured out how to do it. Thanks @leonhfr

[2021-02-04 18:57] SanketDG commented on #475
I cannot seem to replicate this.

Confused, how does double clicking the link create the file? Is "Reveal Definition" mapped to double click?

[2021-02-05 08:48] riccardoferretti commented on #474
Technically speaking, adding support for reStructuredText would be fairly straightforward. if you want to play with the idea I would suggest looking at `markdown-provider.ts`, adding a `reST-provider.ts` and take it from there.

Adding a second file format would be quite an undertaking later on though, because it would require maintaining it in future changes to the model, the features, ... - so I

[2021-02-05 20:38] riccardoferretti commented on #146
yes, you can change the setting `Vscode Markdown Notes: Default File Extension`

[2021-02-06 17:46] mcallaway commented on #474
Thank you for the response. I understand. I'll continue to work on integrating with Sphinx, for example producing tables-of-contents, in order to produce attractive output (book-like).

[2021-02-07 14:50] #474 closed

[2021-02-07 18:05] ribeirompl opened #480 "An ignored/excluded file, still gets added to the graph when edited and saved"
- Foam version: v0.9.1
- Platform: Linux
- Issue occur on the [foam template](https://github.com/foambubble/foam-template) repo: No

**Summary**
Within `.vscode/settings.json`, I added the following line:
`"foam.files.ignore": ["readme.md"]`

I reloaded vscode, and that file no longer was on the graph, as expected.
However when I made a change to the readme and then saved the file, foam added the

[2021-02-07 21:10] movermeyer opened #481 "`foam.openDailyNote.directory` should allow absolute paths, not only relative ones"
I'm hoping to be able to open the daily note from any instance of VSCode (ie. from any directory) instead of having to open the `foam-template` cloned repository. When I press the `alt-d` shortcut, I want the daily page to open.

---

To that end, I set `foam.openDailyNote.directory` to the absolute path, instead of the default relative path:

[code]

However, when I then press the `alt-d` shortcu

[2021-02-07 21:12] movermeyer commented on #481
### Potential solution?

Perhaps [`getDailyNotePath`](https://github.com/movermeyer/foam/blob/cd924683117444fef0be94183479e477ad501f5f/packages/foam-vscode/src/dated-notes.ts#L20) could be changed to first check to see if the path is an absolute path and only prepend the `rootDirectory` to the relative paths.

[2021-02-10 10:43] brianjychan opened #483 "Foam bootstrap fails if a folder name ends in `.md`"
- Foam version: 0.9.1
- Platform: Mac
- Issue occur on the [foam template](https://github.com/foambubble/foam-template) repo: Yes

**Summary**
Having a folder named with a name ending in `.md` results in:

[code]

**Steps to reproduce**
1. Name a folder with a name ending in `.md`
2. Close the workspace
3. Open the workspace

**Additional information**
Mentioned in the #help channel in the discord

[2021-02-10 21:19] taydotis opened #484 "Changes in daily notes settings are not immediately applied"
- Foam version: v0.9.1
- Platform: Mac
- Issue occur on the [foam template](https://github.com/foambubble/foam-template) repo: Yes

**Summary**

I have set some custom parameters for my daily notes, but these parameters are not carried over for the quick snippets provided on [daily-notes.md](https://github.com/foambubble/foam-template/blob/master/docs/features/daily-notes.md) page.

For instance,

[2021-02-10 21:27] taydotis commented on #484
Ah, closing and reopening VSCode fixed the issue. Perhaps some kind of caching thing?

I guess the shortcut works immediately but the snippets need a refresh to get the proper settings loaded. Anyways, probably worth disregarding.

[2021-02-11 10:06] riccardoferretti commented on #484
Thanks for reporting this @taydotis, I believe the issue is that we are not listening for changes in those configuration settings, which we should

[2021-02-11 15:19] riccardoferretti commented on #450
I believe the issue is related to the `Link Reference Definitions`. can you try setting it to `withoutExtensions` and check again?

[2021-02-11 15:22] #476 closed

[2021-02-12 17:15] flatplate opened #485 "Feature Request: Node colors based on note age in the Foam Graph"
I have been using foam for a while now and I find the graph view especially useful. For someone who is so bad at organizing notes, it is very helpful to see the graph when I am trying to look at a particular note. With the note type coloring it has gotten much better.

It is hard to see what I have been doing lately in the graph though. I would find it very helpful to be able to visually see the n

[2021-02-12 20:21] riccardoferretti opened #486 "Add template examples in foam-template onboarding"
(originally created by @alongwill at https://github.com/foambubble/foam-template/issues/29)

The introduction to note templates could be improved if one or more example templates were included to:

a) Demonstrate how to use VS code variables
b) Give an example of what a useful template could be. The following examples have been given:

a template for book reviews
a template for daily notes
a templ

[2021-02-13 19:53] keikhcheung opened #487 "Janitor keeps removing hyperlink references at the bottom of the file"
- Foam version: 0.9.1
- Platform: Mac
- Issue occur on the [foam template](https://github.com/foambubble/foam-template) repo: Yes

**Summary**
I am writing reference style hyperlinks at the bottom of a note:

[code]

Every time when I save the file and then run Janitor to tidy up notes and wiki-links before commit to publish, it removes all reference style hyperlinks at the bottom.

**Steps to rep

[2021-02-14 14:52] everydayanchovies commented on #347
I have the same issue on all of my projects.

[2021-02-14 14:54] jmg-duarte commented on #347
I really need more information to work on this @everydayanchovies @fmagin

[2021-02-14 15:00] fmagin commented on #347
Can you tell me what you would do to investigate this? I doubt that the specific structure of the graph is the issue, but I might be able to dump the structure of the graph myself, or just attach some profiler to it to find out which functions are actually hogging all that CPU time. I just don't know which profiler is a good choice for that, but I'd expect that to be about as much work for me as c

[2021-02-14 15:10] jmg-duarte commented on #347
Given, that the repo is private, if you could provide a view over the VSCode processes running when the graph is up and profile with the devtools that would be a great starting point.
If you have a public repo suffering the same issue, that would be great too.

Also please provide details over OS, VSCode version (numbered and "edition" - VSCodium, etc) and number of notes in your graph (if possibl

[2021-02-14 15:23] everydayanchovies commented on #347
I get it, how can I profile this? I just cloned the foam bubble template repo and opened it without modification, opened the graph, let it rest and checked cpu usage with htop. All four cores showed 9% usage from primarily vs code. Closing the graph made the cpu usage go down to 0% to 1% across all cores. This is reproducible 100% of the time.

`CPU: 26.8%  2:34.37 /usr/share/code/code --type=rend

[2021-02-14 15:24] everydayanchovies commented on #347
Sorry, I see you already mentioned using the dev tools.

[2021-02-14 15:28] fmagin commented on #347
Just checked the dev tools, It seems like the Rasterizer Threads are the main issue, they start to appear as a solid green around the second I open the Graph view.
![image](https://user-images.githubusercontent.com/8415354/107880851-ad5a3800-6ee1-11eb-8ee4-43c5cb8ea8c6.png)

[2021-02-14 15:29] everydayanchovies commented on #347
Here is a profile where I started with the graph closed, opened the graph and waited, and closed the graph.
[Profile-20210214T162714.zip](https://github.com/foambubble/foam/files/5977980/Profile-20210214T162714.zip)

[2021-02-14 17:32] jmg-duarte commented on #347
@everydayanchovies is that graph from VSCode running only the Foam extension(s)?
If not please try again only with the Foam recommended extensions enabled.

[2021-02-14 18:34] everydayanchovies commented on #347
I disabled everything but the recommended extensions and repeated my test, same results. I then disabled everything but foam and repeated, no difference. I really think this is a bug in the graph, could you point me to the code that is responsible for rendering it? I would like to take a look @jmg-duarte , maybe I could help.

[2021-02-14 18:44] everydayanchovies commented on #347
If I had to guess I would say the janitor runs too often (does it run on every file change? Maybe that gets triggered every couple of millis due to some bug), or the graph renderer is refreshing the view constantly. I'm tight on time with other projects going on but I did try to get a feel for the codebase, maybe I can look into this later but some pointers would be appreciated. Is this not reprod

[2021-02-14 20:52] jmg-duarte commented on #347
From the Chrome traces, the CPU seems to suffer the most during the opening of the graph, which would make sense.
For my repos, the issue isn't reproducible, hence asking about the system, VSCode versions, graph size and extensions.

I do have an idea though, since the graph runs in WebGL, are you running your project with an integrated GPU?
Regarding the start point, things relating the graph its

[2021-02-14 21:19] fmagin commented on #347
In my case it definitely is not running on an integrated GPU, because I don't have one. CPU is a Ryzen 5 3600, GPU is an RX 5700 XT.

One interesting thing I just noticed: When the window shows the full graph of around 900 nodes, the CPU hogging process with the argument `--type=renderer` is at slightly above 100% CPU, and the `--type=gpu-process`  is at ~36%.
But if I zoom into some emtpy part of

[2021-02-14 22:00] fmagin commented on #347
Other weirdness: The processes are still taking up the same amount of CPU, even if I pause the main thread via the developer tools. So I guess it can't be something in the main thread that keeps updating the graph? But I know too little about electron in general to make much of this.

[2021-02-15 14:15] just1a-person opened #488 "Path bug in Windows"
- Foam version: v0.9.1
- Platform: Windows
- Issue occur on the [foam template](https://github.com/foambubble/foam-template) repo: Not sure

**Summary**

![Windows wiki-link bug](https://user-images.githubusercontent.com/75578443/107957065-131ff000-6fc6-11eb-8d9a-82743246efb2.png)

The Windows path is very weird. It's not at all portable because it is not a relative path.

**Steps to reproduce**
1

[2021-02-15 14:16] itsme-alan commented on #488
I can still click on it and it opens the right file. But only on my main machine because it is not relative.

[2021-02-15 15:18] itsme-alan commented on #488
Looks like there is a whole lot of bugs with path handling in Windows. same files are duplicated in the graph. Looking at the logs, Foam seems to think that there is two files with the same name.
[code]

In reality there is only one CSharp.md.

First class Windows support is something that I expect before 1.0

[2021-02-15 15:43] jmg-duarte commented on #347
@fmagin could you post a print of the VSCode process explorer? Not the system one, the one VSCode provides.
Sorry for asking so much info, its hard to debug the issue without being able to reproduce.

[2021-02-15 16:15] fmagin commented on #347
![image](https://user-images.githubusercontent.com/8415354/107970106-f88f4c00-6fb0-11eb-9e2b-e5807e34491e.png)
Quick screenshot, because I don't have much time right now.
The thing is: The VSCode process explorer doesn't show any CPU load, probably because the relevant process isn't even listed there. I have some suspicions that we might be dealing with a bug in the render itself that is triggered

[2021-02-16 11:14] jmg-duarte commented on #347
I'm running two systems, both unable to reproduce.
My main system has an i7-6700K, 16GB RAM and a AMD RX 480, I'm running Ubuntu 20.04.2 on it.
My laptop runs on a i7-8550U and the respective integrated GPU (though it has a NVidia MX150 it's not configured), this runs Arch Linux.

I just noticed something. You're running Code OSS and not VSCode (please do make this distinction in the future).
I wa

[2021-02-16 11:33] everydayanchovies commented on #347
I’m using the regular VS code package as supplied from Microsofts website, IIRC. Also, I did see the cursor bug you linked earlier and concluded that it did not effect me, but that’s probably because they resolved it already. I assume the same underlying cause could be causing this bug. I will check my VS code version ASAP, am currently afk.

[2021-02-16 11:46] joaosa commented on #423
Any news on this? I would say this is essential for my workflow 😃

[2021-02-16 11:58] riccardoferretti commented on #423
#467 addressed a good chunk of this issue, will be merged today or tomorrow.
That will address the graph and the anything that comes from the Foam extension itself.

Markdown notes doesn't support this yet, which means link navigation / note creation won't work yet.
The best workaround atm is to replace markdown notes with vscode-memo.

Let me know how it goes

[2021-02-16 12:00] riccardoferretti commented on #487
that a really interesting point, currently Foam manages all the link definitions, but it seems like you want some of them to ben managed by yourself, and some not - do I understand correctly?

[2021-02-16 12:13] riccardoferretti commented on #488
#467 will address the duplication.
once it's merged let me know if the issue about the link definitions is still present, I am a bit surprised to see that

[2021-02-16 12:27] fmagin commented on #347
@jmg-duarte what do you mean by "another graph library"? I think the underlying graph library is not the issue, but the actually rendering itself. But maybe this is still the same library in the case of foam.
I think the SO issue looks like a good lead, the graph getting redrawn (and during that rasterized) at 60 FPS sounds like it could cause the issue.

I grabbed the `code-stable-x64-1613044905.

[2021-02-16 12:30] riccardoferretti commented on #347
is this happening across computers and repos? that is:
- can you replicate the same issue with another repo on the same computer?
- can you replicate the same issue on another computer with the same repo?

Also:
- how many notes are in the repo?
- I have seen a performance hit due to very big notes (in the MBs), do you have any such monster in your repo?

The graph is continuously rendered because

[2021-02-16 12:38] fmagin commented on #347
Yes, this does happen both on my laptop and my desktop with the same repo. And it also is an issue with multiple repos on my desktop, haven't checked another repo on my laptop yet.

The CPU load is actually quite similar when I open the two graphs you provided with chromium. The basic graph has the render process at 60%, and the gpu-process at 25%, the large graph at 108% and 20%. So I guess this

[2021-02-16 13:02] jmg-duarte commented on #347
If the issue was regarding VSCode/Electron/Chromium I'm quite sure that it would've been noticed and fixed already, since we are not the only users of such graph libraries.
To further discuss the point, the rendering pipeline is not managed by us, at all. All Foam does is process the documents, turn it into a graph model and send it to the library to render. We're responsible for the sent data, no

[2021-02-16 13:13] fmagin commented on #347
Well yes, it has to be redrawn for each frame but not rendered for each frame. But this is splitting hairs with terminology that I am not that familiar with either.
If the position of the nodes didn't change you could cache the entire image, for animations you could cache the base image and apply the animation on top of it, e.g. the flow in the direction of the edge). If the position of the nodes