[2020-06-26 05:42] jawaharvignesh opened #1 "cannot see graph or backlinks with steps in documentation"
I have cloned a repo from the template and installed all the recommended extensions.

But I am not seeing the `show graph` or `show backlinks` options with the steps described in the recipes documentation

[2020-06-26 05:46] jawaharvignesh commented on #1
I assume this is because the extension `tchayen.markdown-links` is not in the recommendations. I installed this extension by myself and got the `show graph` command

[2020-06-26 06:20] jevakallio commented on #1
Ah! I forgot I had not added the extension to the recommended list in the template until https://github.com/tchayen/markdown-links/pull/13 was fixed. It's been merged and should be released shortly, will fix and close this now.

I'll ping you in this issue so you can upgrade your version of the plugin!

[2020-06-26 16:54] jevakallio commented on #1
@jawaharvignesh Markdown Links 0.6.0 is now available and included in recommend plugins

[2020-06-26 16:54] #1 closed

[2020-06-26 23:16] thelucre opened #52 "Parse markdown per-entry"
Hey there, this is such an exciting tool. Thanks for all the great work.

Coming from other second brain tools, I'm curious what the level of effort would be on parsing markdown per entry (similar to Roam) rather than having two panels open; one for markdown and another for a preview.

[2020-06-28 08:13] neokeld opened #2 "[Idea] Color and icons on graph node"
Hello,
@jevakallio Thanks a lot for this project, i think it is really useful and it is interesting that it is integrated into an IDE. Seeing my notes as a mind map has become essential !
A feature i like to see is color / icons on graph node :
When my node is a category, i want to highlight it (maybe clicking on the node and changing the color).

[2020-06-28 09:00] sahil48 opened #3 "Many links in read me result in 404 error"
Links like roadmap are missing

[2020-06-28 09:08] jevakallio commented on #3
Hi @sahil48! Where are you seeing broken links?

The links should work both in the editable workspace in VSCode and on the rendered site at https://foambubble.github.io/foam.

At this point it's expected that the links are broken on the GitHub web UI due to the way the foam-vscode link references are created without .md extension (which would break the rendered page)

This is not ideal and I have

[2020-06-28 09:38] sahil48 commented on #3
Makes sense. It is on the github homepage.

[2020-06-28 09:42] jevakallio commented on #3
Thanks! I'll document this on the home page for now, and put the long term
fix on the roadmap.

I'll keep this issue open to track the actual fix.

On Sun, 28 Jun 2020, 10:38 sahil48, <notifications@github.com> wrote:

[2020-06-28 09:57] sahil48 opened #4 "Does foam support local folders?"
Can foam workspaces be set up locally without github?

[2020-06-28 10:04] sahil48 opened #5 "Idea: Allow notes in folders or subfolders"
The impression I have is that all files created in foam are in a single folder. It would be good if foam could index notes in a folder and its subfolders, or even indexing of external folders. There are a few reasons why:

* vscode file manager is the sidebar is a useful tool and when a note is accessed, related notes show up in the sidebar.
* knowledge graphs could be more powerful by toggling gr

[2020-06-28 10:13] jevakallio commented on #5
Thank you @sahil48! Indeed the original idea when I created this was to avoid categorisation in directories, but I've gotten similar feedback from others.

In fact, most of the extensions in the workspace already supports this, we just need to add support to the foam-vscode extension that glues all the this functionality together using markdown links.

The works is being tracked in https://github.

[2020-06-28 11:08] sahil48 opened #6 "Idea: View similar to Story River in Tiddlywiki"
While I edit notes one file at a time, I would like to see a Story-River like view of Notes in Tiddlywiki (https://tiddlywiki.com/), where multiple related notes are tied to one or more keywords selected in the Knowledge Graph to get a bigger picture of a node and quickly navigate to and find files of interest without having to open them one at a time.

[2020-06-28 11:12] sahil48 opened #7 "Feature-request: Alternate Names for Entries in a Knowledge Graph"
Right now, it seems the Knowledge Graph is mapped 1-1 with the file name. Oftentimes, the same note may be associated with multiple topics in the knowledge graph. It would be useful to support some markdown metadata where additional tags or alternate names for the knowledge graph and other documents to use to refer to the document. In wiki-syntax, referring to an alternative name would take you to

[2020-06-28 11:13] sahil48 commented on #6
In this scheme, referring to https://github.com/foambubble/foam/issues/7, you could even have a node in the knowledge graph present more than one document in a story-river-like view.

[2020-06-28 11:40] tchayen commented on #5
@jevakallio I am definitely open to adding something like this, but I would need some further explanation how such feature could exactly look.

@sahil48 Would you mind creating an issue for toggling all/specific folder displaying in https://github.com/tchayen/markdown-links/issues? We can continue there.

[2020-06-28 12:16] jevakallio commented on #4
@sahil48 yes! Easiest way to get started is to go to https://github.com/foambubble/foam-template and **Download as ZIP** instead of "Use this template".

You can then sync it up to Dropbox or just keep it locally if you want.

The other half of Foam is static site publishing. For the time being if you don't use GitHub and GitHub pages you're on your own as to how and where to deploy that.

[2020-06-28 14:28] Downes opened #8 "Links Not Working"
Numerous links in ReadMe.md result in a 404, eg. 'Create a single Foam workspace'.

This leaves me unable to get started with Foam - The link in 'Create a GitHub repository from foam-template. If you want to keep your thoughts to yourself, remember to set the repository private.' is broken, and the instruction is otherwise too unclear.

Sorry, I don't mean to be critical - this looks like a really

[2020-06-28 14:32] Downes commented on #8
Problem may be the use of relative links? They are broken here https://github.com/foambubble/foam but work fine from here https://foambubble.github.io/foam/

[2020-06-28 14:36] jevakallio commented on #8
@Downes correct, the links work in VS Code and on the rendered page in GitHub pages! Apologies for the non-obvious startup experience. The links are broken on the GitHub web UI due to the way the foam-vscode link references are created without .md extension (which would break the rendered page)

This is not ideal and I have an idea of how to fix this, but it requires a fair bit of work. I'll add i

[2020-06-28 14:37] jevakallio commented on #8
Closing as duplicate of #3, tracking resolution of root cause there. @Downes if you have further issues with this feature, let's continue conversation there.

[2020-06-28 14:37] #8 closed

[2020-06-28 14:49] Downes commented on #3
Sorry, I didn't see this duplicate. Anyhow, the link issue also exists on the ReadMe page in the repo I created from the template. If there's any way I can help, let me know - I'd love to be able to try this but can't can't past installation.

[2020-06-28 14:51] jevakallio commented on #3
@Downes can you please describe the link issue in more detail? If you are expecting the links to work in the GitHub-rendered preview on your GitHub repository, that's not going to work (for now). They should however work inside your VS Code editing environment, and in the published GitHub Pages site, if you choose to publish it.

[2020-06-28 15:03] Downes commented on #3
OK. I followed the link from ProductHunt https://www.producthunt.com/posts/foam to the Foam GitHub page https://github.com/foambubble/foam where as I pointed out, a number of the links don't work.

However, I was able to find the published Foam page at https://foambubble.github.io/foam/ and went to the 'Create a New Repository' page - https://github.com/foambubble/foam-template/generate - and ente

[2020-06-28 15:08] jevakallio commented on #3
@Downes that's fair feedback. The first use experience could certainly be improved. I built this product in the last week, and put it out for early preview a couple of days ago, wasn't expecting such interest and adoption.

The Getting started guide here is probably what you're after:
https://foambubble.github.io/foam/#getting-started

As a first step, I'll move these instructions to the foam-temp

[2020-06-28 15:26] jevakallio commented on #3
@Downes I've improved the template readme here!
https://github.com/foambubble/foam-template

[2020-06-28 16:58] xeor opened #10 "Tiddlywiki companion"
Tiddlywiki with tiddlymap and the bob plugin makes a very good note system, where you can also (using bob) edit the files on the filesystem and their change show immediately in the web ui.

I often use vscode to edit my tiddlywiki files since the editor in tiddlymap isn't that good.

Maybe it's worth looking into being a companion to such a system? That combination would be a killer in the note-ta

[2020-06-28 17:14] DanielMSchmidt opened #11 "Document how to get a rendered version"
First of all: I love it 😍

My current problem I solve through foam is organising my dancing journal.
I need to be able to access it and quickly navigate it from my phone and the rendered version you have as a Github page here seems to do just that.

I could not find the instructions to set this up (or to even render it)

[2020-06-28 17:21] Downes commented on #3
That worked really well. I now have the cloned repo and can see clearly where the markdown pages go. By following the instructions in foam-recipes I published my repo. So, very good. I'll be exploring it now and will follow up. Thank you.

[2020-06-28 18:08] phxtho opened #55 "Roam Import"
First of all great work!

I've been working on importing my roam knowledge graph into foam. There's a couple of features/issues which I was wondering about.

1. Roam's export doesn't generate `# Headings` which are required for  the [markdown links](https://github.com/tchayen/markdown-links) graph, this seems relatively easy to resolve by simply making the file name the heading.
2. Roam notes feat

[2020-06-28 18:15] jevakallio commented on #11
If you created your workspace as a GitHub repository, you should be able to just turn on the GH pages in your repo settings.

There's a stub recipe here:
https://foambubble.github.io/foam/github-pages

Let me know if it doesn't work for you and I can amend to it. If you get it working and something wasn't obvious, I would love a PR to improve the recipe!

[2020-06-28 18:31] jkanche opened #13 "use org file format instead of markdown ?"
as the title says, can I switch out markdown with org-mode ? This allows me to use this with emacs org-mode as well.

[2020-06-28 18:38] jevakallio commented on #13
Have you seen org-roam? It might be a better fit for your needs

https://github.com/org-roam/org-roam

If org-roam doesn't work for you, I'm curious to hear what you wanted Foam to do for you!

[2020-06-28 19:13] srid opened #15 "Integrate with neuron"
Have you considered shifting much of the responsibility to [neuron](https://neuron.zettel.page/), and integrate vscode (and other editors) via [LSP](https://github.com/srid/neuron/issues/213)?

[2020-06-28 19:44] jevakallio opened #16 "Discussion: Fixing [[wiki-links]] in GitHub Web UI"
At the time of writing, links created with the `[[wiki-link]]` syntax work in VS Code and in rendered GitHub pages, but lead to non-existent pages on the GitHub Web UI. This is a meta-issue to track solutions and document the approach, once selected.

**See context in [foambubble/foam/wiki-links](https://foambubble.github.io/foam/wiki-links#why-dont-wiki-links-work-on-github).** **TL;TR;** There's

[2020-06-28 19:58] jevakallio commented on #15
I have not but I will take a look!

[2020-06-28 20:03] Ham5andw1ch opened #17 "Graph Issues with Titles and [[wiki-links]]"
I have been using Obsidian for almost 2 months and decided to give Foam a try. When I opened up my existing repo, I noticed two major things with the graph-view.

1. Markdown files do not appear in the graph unless they have a # Title
2. Even though I am in version 0.6.0 of Markdown Links, [[wiki-links]] do not show up.

As a result, the graph that looks like this in Obsidian
![image](https://user

[2020-06-28 20:04] jevakallio commented on #10
Thank you for the suggestions @xeor! I haven't tried tiddlywiki, but I'd like to learn more about it. This may not be my highest priority, so in the meantime, feel free to experiment with combining Foam and Tiddlywiki and let me know how it goes.

As per [Foam's principles](https://foambubble.github.io/foam/principles#foam-enables-you-to-do-your-best-thinking), Foam is not a package deal, and you'

[2020-06-28 20:05] jevakallio commented on #6
@sahil48 see my response at the other tiddlywiki issue here:
https://github.com/foambubble/foam/issues/10#issuecomment-650814714

I'm keen to learn more about this, but it's not the highest priority right now. If it's important to you, I would love to accept code or documentation contributions to help others!

[2020-06-28 20:10] jevakallio commented on #17
Thanks for the issue report!

This is known, and I was planning on keeping this a fixed constraint for now, as having some sort of common contract helps write tools on top of text files. How does Obsidian handle file titles?

Odd, they do for me. I wonder if this is because of the missing file titles as well? AFAIK Markdown Links wants those to even index the files, but I can't remember for sure.

[2020-06-28 20:16] jevakallio commented on #3
Closing in favour of tracking at https://github.com/foambubble/foam/issues/16

[2020-06-28 20:16] #3 closed

[2020-06-28 20:16] jevakallio commented on #8
Update: Tracking at https://github.com/foambubble/foam/issues/16

[2020-06-28 20:22] xeor commented on #10
Thanks for the feedback.

I made https://github.com/Jermolene/TiddlyWiki5/issues/4702 some weeks ago trying to get tiddlywiki to support storing metadata as frontmatter in the `.md` files. If that becomes a reality, `foam` can in the future maybe read and understand much of the same metadata that tiddlywiki uses. It might be a perfect combo :)

[2020-06-28 22:45] Ham5andw1ch commented on #17
That happened to be the case. After updating the references, it updated the graph. Happened to be user error on my end. As to how Obsidian handles it, as opposed to linking to headings, you link to the actual .md file. So if my file was `Notes.md`, I would link to it with `[[Notes]]`. It will handle the rest, and on name clash, full path is used to show which file in particular is being linked to.

[2020-06-28 22:56] kkukshtel opened #18 "Prioritizing Unlinked References"
I was trying to find a place to properly do this, but just wanted to say that [supporting unlinked references ](https://foambubble.github.io/foam/unlinked-references)is an essential feature. This is largely the benefit of something like Roam, where I can reference an idea, reference it again on the same page and get autocomplete for that page, without having to stop my flow by navigating into the

[2020-06-29 00:25] WizardOfAus opened #19 "Idea: I like Foam so far, but I find the current documentation a bit confusing"
I like Foam so far, but I find the current documentation on how to contribute a bit confusing to follow structurally. But I haven't used Roam yet so maybe I am not sure (https://foambubble.github.io/foam/recipes) if these can be simplifed to get started quicker?

[2020-06-29 00:44] eloff opened #20 ""link reference" section gets more lines down the page on every save, and can overwrite last line of content"
There seem to be 3 separate issues here:

1. Every time the file saves, another line break get added between the end of the content and the "Link references" section. I have auto-save enabled in vs-code, so this is particularly obvious to me.
2. If I delete all of these empty lines, Link references can be saved over the last line of content, deleting it. If i put the cursor on the last line and ba

[2020-06-29 01:01] coffenbacher opened #22 ""Use this template" link is 404 if you're not logged into Github"
I don't know how the Github 'Use this template' feature works, but I thought links were broken when I went here and it was a 404. Maybe a note that you have to be logged in first would help.

https://github.com/foambubble/foam-template/generate

[2020-06-29 01:18] coffenbacher opened #23 "Idea: keyboard shortcut as Cmd+Click alternative"
I think it would be really cool to have a keyboard shortcut to open links instead of Cmd+Click. Like many VSCode users, I don't leave my keyboard that much (vim compatibility) so the 'click' interaction in the middle of typing is awkward.

For now I can use the normal file jump commands but if I have many files named similarly, a keyboard shortcut would be slicker.

[2020-06-29 02:45] obra opened #24 "README links 404ing isn't obvious if you're skimming the docs"
I 100% understand -why- you'd rather users browse the Foam workspace, but on first read, I missed the friendly note at the top of the README.

Since GitHub renders the README.md on the project's homepage, maybe it makes sense to cut down the README and move most of the linked content onto another page.

The user experience of getting 404s from the README isn't a good representation of why Foam is

[2020-06-29 06:25] grst commented on #16
Could this [jekyll plugin](https://github.com/benbalter/jekyll-relative-links)  solve the problem?

[2020-06-29 06:42] Georift commented on #23
I had a similar thought when first using foam. After some digging I found this [blog post by the creator](https://kortina.nyc/essays/suping-up-vs-code-as-a-markdown-notebook/#vscode-vim-extension) discussing how they had setup their VSCode.

VSCodeVim users can use `gf` to navigate to the link under the cursor.

[2020-06-29 07:28] itisbean commented on #20
met the save problem

[2020-06-29 07:51] daniel2231 commented on #24
I agree with this. How about emphasizing the note using bold instead of quote?

[2020-06-29 11:14] jevakallio commented on #24
Thanks, these are both good ideas.

@obra I need to test how GitHub pages works on this, but I think I may be able to move the GH Pages home to render from index.md and link it from readme.md

If that doesn't work, will highlight the warning more visually like @daniel2231 suggested!

[2020-06-29 12:45] #24 closed

[2020-06-29 12:47] jevakallio commented on #24
Thanks @obra @daniel2231, took both of your suggestions and moved the documentation to website-only, leaving an introductory teaser stub on the GitHub readme with a (hopefully) more visible info heading!

Continuing to track the root cause in #17

[2020-06-29 12:52] jevakallio commented on #23
@coffenbacher yup! This is definitely a high priority improvement. Like @Georift discovered, this is not implemented in [Markdown Notes](https://marketplace.visualstudio.com/items?itemName=kortina.vscode-markdown-notes) yet and is not a priority for the author since they're using vim mode.

If anyone wants to contribute this either to Markdown Notes, or finds a way to include it in foam-vscode, I'

[2020-06-29 12:56] jevakallio commented on #19
@WizardOfAus thanks for feedback! I agree that the starter experience is a bit rough around the edges right now. This project is less than a week old and until yesterday I've been the only developer on it, so it's no wonder we're discovering all kinds of edge cases left and right!

My idea to scale this process as per the [Contribution Guide](https://foambubble.github.io/foam/contribution-guide) w

[2020-06-29 13:19] #22 closed

[2020-06-29 13:31] jevakallio commented on #22
Thanks for the feedback, didn't know this! Fixed now:

![image](https://user-images.githubusercontent.com/1203949/86011954-400e9b00-ba15-11ea-9142-ffeffcf1a478.png)

[2020-06-29 13:38] jevakallio commented on #20
Thanks! I'm aware of this issue, tracking it at foam-vscode here:
https://github.com/foambubble/foam-vscode/issues/10

I originally broke this fixing another bug for Windows users. Aiming to fix this today as soon as I get a Windows VM running and can make sure I don't break other platforms :)

[2020-06-29 13:44] jevakallio commented on #18
Thanks for the feedback! I definitely want to improve this.

There's a bit more to unlinked references than just the use case you've described above, but as an imperfect workaround you can do this now:

1. Type `[[foo]]`
2. Cmd+Click the `[[foo]]` link to create the document as a stub to fill out later
3. Ctrl+Tab back to the file you were working on
4. When you now type `[[f...`, it should auto c

[2020-06-29 13:48] Georift commented on #23
@coffenbacher @jevakallio so it looks like this already exists for us today! 😄 Try pressing `F12` when your cursor is on the link.

Markdown Notes is providing [definition support](https://code.visualstudio.com/docs/editor/editingevolved#_go-to-definition) for this wiki link syntax to VSCode so you want you can remap the command: `editor.action.revealDefinition` if F12 doesn't suit.

Should we doc

[2020-06-29 13:57] jevakallio commented on #23
@Georift wow, cool! If you could add the hotkey (and the steps to customise `revealDefinition` since F-keys are a little inaccesible for touch bar mac users) to https://github.com/foambubble/foam/blob/master/wiki-links.md, that would be amazing! 🤩

[2020-06-29 14:39] #23 closed

[2020-06-29 14:50] jevakallio commented on #16
@grst I'm not sure it would. The mission of that plugin is to generate relative HTML links, whereas our problem is that our MD link targets are to extensionless urls rather than file names. It could solve it, but not based on the documentation. If you'd like to try, I'd love to hear how it goes!

Bigger problem for that approach is that in order to integrate a new Jekyll plugin, AFAIK we need to b

[2020-06-29 14:57] jevakallio commented on #13
Closing, please open new issues if you have more specific questions or ideas

[2020-06-29 14:57] #13 closed

[2020-06-29 15:16] technoweenie commented on #16
The mediawiki style `[[links]]` are supported by the github wiki. I've barely started playing around with Foam, but basic things look good.

<img width="1075" alt="Screen Shot 2020-06-29 at 9 14 35 AM" src="https://user-images.githubusercontent.com/21/86023666-2fe0c680-b9e9-11ea-80ee-700c5918c60e.png">

[2020-06-29 15:20] jevakallio commented on #17
@Ham5andw1ch this is definitely on the roadmap as part of migration tooling. It doesn't exist yet, but definitely should, probably in [foam-workspace-manager](https://github.com/foambubble/foam-workspace-manager). If you're interested in collaborating on it, I can write up more thoughts on Foam-specific constraints

[2020-06-29 15:38] coffenbacher commented on #23
Btw for future reference, `gf` doesn't work with pages that don't exist yet, but Go To Definition does :heavy_check_mark: Loving Foam now!

[2020-06-29 16:02] raguay opened #26 "Add support for VSCodium"
It will not run on vscodium, the freeware version without Microsoft trackers.

[2020-06-29 16:02] coffenbacher opened #27 "Bug:"

[2020-06-29 16:06] coffenbacher opened #28 "Bug: backlinks not working, "No refs in empty workspace""
I'm not sure what's going on here, but Backlinks don't work for me (panel renders but is blank), and I get these messages:

![image](https://user-images.githubusercontent.com/245867/86029052-83eaab80-b9e7-11ea-92fc-af7cb3a59cdf.png)

Any ideas on where to start with that? I didn't see any errors when I tried to check in the Log (Extension Host) logs.

[2020-06-29 16:06] #27 closed

[2020-06-29 16:06] coffenbacher commented on #27
Oops.

[2020-06-29 17:01] jevakallio commented on #28
@coffenbacher I haven't seen that issue, but it's coming from the [Markdown Notes](https://github.com/kortina/vscode-markdown-notes) extension.

I'd be happy to investigate and help fix this is in Markdown Notes as it affects Foam users, but the issue should probably be created there. Ideally, could you:

1. Create an issue in their repo
2. Include platform version info (Operating system, Markdown

[2020-06-29 17:04] jevakallio commented on #26
@raguay Thanks for the issue report. What error are you seeing?

[2020-06-29 17:16] jevakallio commented on #2
@neokeld thanks for feedback! What do you mean by "when my node is a category"?

Today you can already navigate your documents by clicking on the nodes in the graph, and the selected node (active document) will change color -- but I guess this is not what you meant?

[2020-06-29 17:19] coffenbacher opened #29 "Idea: use built-in Git extension for now"

[2020-06-29 17:20] jevakallio commented on #4
Updated this in the [getting started](https://foambubble.github.io/foam#getting-started) documentation

[2020-06-29 17:20] #4 closed

[2020-06-29 17:24] coffenbacher opened #30 "Idea: use built-in Git extension for now"
This still isn't ideal [1], but IMO a slightly slicker default than requiring the Git Automator extension at the moment is:

.vscode/settings.json
[code]

To save & sync to Github or any remote, it's just `Git: Commit All`. This doesn't require the additional extension and automatically does the sync.

[1] (I think it would be a cooler default and more like Roam to do this automatically when savin

[2020-06-29 17:25] #29 closed

[2020-06-29 17:25] coffenbacher commented on #29
:facepalm: I don't know why these dupes keep getting created... Woops.

[2020-06-29 17:35] coffenbacher commented on #28
https://github.com/kortina/vscode-markdown-notes/issues/43

[2020-06-29 18:42] jevakallio commented on #30
@coffenbacher that's a great idea! I was looking for commands like these in the default integration and couldn't find them, so I went with Git Automator.

I'll take this to use in my local workspace, test it out for a day or so, and if it works implement it into the template!

[2020-06-29 18:49] jevakallio commented on #30
Update: Tested this locally, and it's nice.

The downside of this approach is that it's not possible to automatically set up a keybinding for `Git: Commit All`, so there's one more setup step for the users. But, still worth it IMO.

One way around this would be to add the key bindings to foam-vscode...

[2020-06-29 20:05] coffenbacher commented on #30
Great! Nice turnaround time on testing :rocket:

That seems like a good approach from a user's perspective. I don't think the average user needs to know how nless they want to move away from the default.

I think I am becoming a big enough Foam fan that I'll try to get my feet wet with PRs here in a bit, thanks!

[2020-06-29 20:48] tchayen commented on #17
Hi! I started the Markdown Links project with focus on the file explorer aspect but requirement of the title is purely artificial and I think it might be removed.

When it comes to discovering links, there are several standards for doing that in community and IIRC Markdown Links doesn't support this one at the moment, but I am planning to improve it.

[2020-06-29 20:55] coffenbacher commented on #30
https://github.com/foambubble/foam/pull/32
https://github.com/foambubble/foam-template/pull/6

[2020-06-29 20:57] tchayen commented on #7
Hi! Author of Markdown Links here (which is used for graph visualisation).

To be precise, the label displayed in the graph is the main title (`# This one`) from the file. When I started this extension I was using 1:1 mapping of file name and I could miss some aspects of the problem.

I am not sure if I understand the problem, though. By supporting metadata you mean some UI options for filtering n

[2020-06-29 21:00] tchayen commented on #2
Hi @neokeld! Creator of [Markdown Links](https://github.com/tchayen/markdown-links) here. If you have any suggestions regarding the graph visualisation, you can always bringing it up in that repo directly.

I am looking forward to changing the default blue color which should be also read from the user's theme, but I don't really get what you mean by categories and what target color would be?

[2020-06-29 21:06] madeindjs commented on #26
You may want to add this extension to [Open VSX](https://github.com/eclipse/openvsx) to make it available for [VSCodium](https://vscodium.com/) (wich is a VSCode version without Microsoft licence and trackers).

To publish it, you simply have to [follow this guide](https://github.com/eclipse/openvsx/wiki/Publishing-Extensions).

[2020-06-29 21:31] jevakallio commented on #20
@eloff @itisbean this is now fixed in [foam-vscode@0..1.5](https://github.com/foambubble/foam-vscode/releases/tag/v0.1.5) and released to the Marketplace:

https://marketplace.visualstudio.com/items?itemName=foam.foam-vscode

Remember to reload VS Code after upgrading the extension.

Closing issue as solved, please let me know if it's not fixed.

[2020-06-29 21:31] #20 closed

[2020-06-29 22:11] jevakallio commented on #30
Thank you very much @coffenbacher! Merged both 🥳

[2020-06-29 22:11] #30 closed

[2020-06-30 01:43] raguay commented on #26
The errors are that it can't download from Marketplace. I'll try the fix
that Alexandre proposes to see if it helps.

On Tue, Jun 30, 2020 at 12:04 AM Jani Eväkallio <notifications@github.com>
wrote:

[2020-06-30 02:56] xieyezi opened #33 "Hi,how to show markdown-links?"
👋，Thank you for creating this great project!!!!

when I generate repositories by your template,then git clone to local,open it with vscode,and install all recomend  extensions,but I can't preview markdown link?  how can i resolve this ? hope get you reply😊

![image](https://user-images.githubusercontent.com/16821989/86078253-47d74980-bac0-11ea-84ba-26b03ef4925b.png)

[2020-06-30 03:19] KJTang commented on #33
show graph ：）
![image](https://user-images.githubusercontent.com/9363734/86079609-760a5880-bac3-11ea-8a48-8c2e8faeeec1.png)

[2020-06-30 03:38] KJTang opened #34 "Add tag to bubbles？"
I would like to find a way to tag my bubbles, and make it easy to search/preview bubbles with certain tags.
Is there any similar features?

[2020-06-30 04:41] xieyezi commented on #33
@KJTang why I  have nothing still ?

![image](https://user-images.githubusercontent.com/16821989/86084278-026e4880-bacf-11ea-82a8-81fbd467d829.png)

[2020-06-30 05:06] kawnnor commented on #33
Cmd + Shift + P 「show graph」

[2020-06-30 06:07] xieyezi commented on #33
@kawnnor  thanks! I got this😄

[2020-06-30 06:07] #33 closed

[2020-06-30 06:11] jevakallio commented on #34
You can, with Markdown Notes:
https://github.com/kortina/vscode-markdown-notes#find-all-references-to-tag

Does this do what you want? I haven't included it in the documentation since it's not how I personally use tags, but if this is helpful I'll include it in the Recipes documentation.

[2020-06-30 08:05] jevakallio commented on #26
Thanks! I'll look into uploading foam-vscode to openvsx, but at the moment we depend on 5 other [recommended extensions](https://foambubble.github.io/foam/recommended-extensions) which need to first be uploaded there too, so this might be a bit difficult to orchestrate.

[2020-06-30 08:43] subhinay commented on #33
@xieyezi, may I enquire about the theme you are using?

[2020-06-30 08:51] neokeld commented on #2
In the vocabulary of Foam, i have some main _bubbles_ (Markdown documents) that in the end are the main nodes of the graph (i call that a category). It can be a widely used idea or a definition.

I would like to highlight these ideas in the graph to quickly see how the graph is organised and where are the main nodes.

@tchayen Ok i will open a new issue in [Markdown Links](https://github.com/tchay

[2020-06-30 11:31] KJTang commented on #34
It's not the type of tag in my thought...

I want to tag on the file, for example, I wrote notes for movies I've watched, and tag them with tag ```movie```,
then I may use a command to filter files with ```movie``` from all files.
It can help me quick find some certain notes.

Although it can be done with vscode search, maybe we can do more?
such as highlight them in the markdown links graph.

[2020-06-30 12:43] kawnnor commented on #33
May be 「One Dark Pro」

[2020-06-30 13:20] subhinay commented on #33
I saw it on my phone and somehow missed that. Thank you and my apologies for the redundant question.

[2020-06-30 14:53] Josh2K opened #36 "More context in backlinks"
Currently, the backlinks section in the left sidebar is pretty minimalist in terms of info and context.  Being able to see more details and context around all the notes that link to your current note is one of the most powerful aspects of networked notetaking.

Perhaps the following requests should be broken out into separate issues:

- The backlinks section should given its own dedicated window (

[2020-06-30 15:24] jevakallio commented on #36
@Josh2K thanks for the feedback and ideas! The current version of Backlinks is implemented by [Markdown Notes](https://github.com/kortina/vscode-markdown-notes) extension, so these suggestions would be better served there. I'll however answer what I can from the point of view of Foam.

You can already do this in VS Code by dragging the Backlinks pane to a different location (bottom, side bar, etc)

[2020-06-30 16:00] phillijw opened #37 "Opening directory in VSCode caused theme to change from dark to light"
I cloned my template and opened it in VSCode. Since I was on an older version of VSCode it simultaneously asked me to upgrade to a newer version and install all the extensions. I chose to install the extensions first and it complained that my version was too old. Then it proceeded to change my theme to be light instead of dark. Then I clicked button to upgrade to a newer version and it reopened wi

[2020-06-30 16:14] jevakallio commented on #37
Hi Joe!

Setting the theme is intentional, but it should be workspace specific. If you open another VS Code window in another project, it should be using whatever theme you were using before. If that's not the case, let me know. That could be a bug with an older version of VS Code.

You can change the theme with `Cmd+Shift+P` (Or `Ctrl+Shift+P` on PCs) "Change theme". The suggested Foam theme is G

[2020-06-30 16:15] #37 closed

[2020-06-30 17:00] SanketDG opened #38 "Publish to Netlify"

[2020-06-30 18:43] GiantZOC commented on #26
I am a vscodium user and am trying out Foam today.  I did some research to see which projects were on openvsx and which ones are not.  Here is what I found about the recommended extensions for the template I installed.

Available on openvsx
- Markdown All in One: http://open-vsx.org/extension/yzhang/markdown-all-in-one
- Git Lens: http://open-vsx.org/extension/eamodio/gitlens
- Prettier: http://op

[2020-06-30 20:56] DanielMSchmidt commented on #11
Yes, that was helpful, thank you 👍

[2020-06-30 20:56] #11 closed

[2020-06-30 21:57] ahoho opened #39 "Extension not compatible with VS Code 1.45"
I'm encountering the following error when I try to install the Foam extension:

`Unable to install 'foam.foam-vscode' extension because it is not compatible with the current version of VS Code (version 1.45.1)`

Seems minor, but I didn't see this listed in the existing issues so figured I'd mention it.

[2020-06-30 22:20] jevakallio commented on #38
This could be added to Recipes. Help wanted.

[2020-06-30 22:23] jevakallio commented on #39
@ahoho thanks! Is there a reason you can't update to latest VS Code?

[2020-06-30 22:24] jevakallio commented on #16
@technoweenie wait, that's cool? How did you get the workspace into the wiki?

[2020-06-30 23:48] technoweenie commented on #16
Every repo has a wiki repo at `https://github.com/{user}/{repo}.wiki.git`. Make sure the Wiki feature is enabled under repo settings, and you should be good to go! Creating the first wiki page shows you the wiki's repo url. Though, you might be able to push directly to it before creating the first page.

[2020-07-01 06:50] Leethring opened #41 "[Idea][Issue] Extension slipbox and ID"
Hi, what a great aggreagate, these day I am also looking  extensions for Zettelkasten.

Here, I recommand a extension call "slipbox". Your know, The Zettelkasten method also include a  ID information.  Some zettelkasten app also have this function. So when I search for Vscode I find these extension.

here is the link [slip box](https://marketplace.visualstudio.com/items?itemName=viktomas.slipbox)

[2020-07-01 11:51] pkoch commented on #16
One could even have a GH action that syncs those on push to master. Not sure if/how we could get syncing going the other way (wiki -> master).

[2020-07-01 12:10] pkoch opened #42 "Support for Codium?"
There are some people in this world that would rather use OSS. Code is not OSS, but [Codium](https://vscodium.com/) is.

However, when using the template, I get a bunch of weird behavior. Namely:
- It installs a bunch of extensions I never heard of
- It tells me there's problems with the suggested extensions

![Screenshot from 2020-07-01 13-04-08](https://user-images.githubusercontent.com/9627/862

[2020-07-01 12:18] jevakallio commented on #42
Thanks for reporting! This is already being tracked at https://github.com/foambubble/foam/issues/26zinsya

The third party extensions are how this version of Foam works. Down the line I want bring more functionality in-house, but for now that's what it is.

No idea about WakaTime tho, that's not us.

[2020-07-01 12:18] #42 closed

[2020-07-01 12:19] pkoch commented on #42
Thank you for shepherding me! :two_hearts:

[2020-07-01 12:21] jevakallio commented on #41
Thanks for reporting! I'll check out slipbox and see if that fits with the Foam ecosystem. For now you should he able to use it yourself -- Foam is a starting point, not a package deal.

Not sure about the autocomplete issue. Could you create a new Foam template with repro steps of what you do and expect to happen, and I can try to reproduce.

[2020-07-01 13:19] itisbean opened #43 "unlink and delete the file"
I deleted one markdown file, and remove the `[[FILENAME]]` in other linked files, then `Ctrl`+`s` to save.But the deleted filename automatically appears again.Does it have caches in vscode or ohther reason?

[2020-07-01 14:05] ahoho commented on #39
Wow, I'm so embarrassed---I didn't realize there was an update available!

[2020-07-01 14:05] #39 closed

[2020-07-01 14:47] jevakallio commented on #43
Thanks for reporting @itisbean! This is a [known issue](http://foambubble.github.io/foam/known-issues),
 simply haven't had the time to implement the note removal yet.

I've created a documented tracking issue for this in foam-vscode: https://github.com/foambubble/foam-vscode/issues/15, happy to continue discussing there!

[2020-07-01 14:47] #43 closed

[2020-07-01 16:15] jevakallio commented on #39
Ha, that's ok! Thanks for reporting! I think there are some users who are stuck on an older version (I think there's an iPad for or something?), which is why I asked.

Glad you got it sorted!

[2020-07-01 16:18] jevakallio commented on #16
@technoweenie I did not know that! It's an interesting piece of information, but like @pkoch said, we'd need to have a two-way sync.

Philosophically, I don't want to rely on anything GitHub specific, since [Foam wants you to own your own thoughts](https://foambubble.github.io/foam/principles#foam-wants-you-to-own-your-thoughts) and should avoid lock-in.

It's a nice option to have.

[2020-07-01 16:21] stevemoser commented on #16
I was about to create an issue for this. Why not support GH's/Markdown's relative style links which work natively in VSCode and Jekyll as well which is why I prefer them over mediawiki style links:
https://github.blog/2013-01-31-relative-links-in-markup-files/
https://github.blog/2016-12-05-relative-links-for-github-pages/

[2020-07-01 16:22] jevakallio commented on #16
As an update, after seeing @MathieuDutour's [gatsby-digital-garden](https://mathieudutour.github.io/gatsby-digital-garden/?stackedPages=%2FGatsby&stackedPages=%2FReact&stackedPages=%2FJavaScript) project and how easily it works with Foam via [foam-gatsby-template](https://mathieudutour.github.io/foam-gatsby-template/), I'm starting to think relying on the default "hidden" Jekyll build for GitHub p

[2020-07-01 16:37] jevakallio commented on #16
Thanks for the suggestion @stevemoser! Here's my thoughts on the matter.

## Why [[mediawiki]]

Relative `.md` links is how I built the first personal version of Foam, but over time I began to feel that the writing ergonomics of auto-completed [[mediawiki]] links is important enough to go the extra effort to tool around them. Writing notes is fickle process, and creating densely networked notes, i

[2020-07-01 17:14] #28 closed

[2020-07-01 17:15] jevakallio commented on #16
@stevemoser thinking about it some more, and maybe you're right about this. As soon as we remove the mediawiki constraint, a lot of things become a lot easier.

Maybe I need to look at this from write-time tooling rather than storage/read time tooling perspective.

[2020-07-01 17:16] jevakallio commented on #28
@coffenbacher thanks for letting me know!

[2020-07-01 19:40] plainspace opened #44 "Idea: web clipper"
Evernote, Notion, TiddlyWiki, Joplin all have web clippers. Foam would be even more awesome if it had one.

[2020-07-01 20:20] subhinay commented on #44
There is one for VS Code: [Web Clipper - Visual Studio Marketplace](https://marketplace.visualstudio.com/items?itemName=jsartelle.web-clipper) - Clip the contents of a web page into a Markdown document using the Web Clipper: Clip Web Page command.

[2020-07-01 21:45] jevakallio commented on #44
@plainspace can you check if that one works for your needs? If it does, I'd love to see a PR that adds a new recipe to the Recipes section on the Foam website

[2020-07-01 22:19] plainspace commented on #44
The VS Code extension works really well. I think the issue is that it references images on the website instead of creating a local version. The problem is that if the image is deleted on the web, you lose it. Any thoughts on making it work for Foam such that the image would actually be downloaded and stored with the markdown file?

[2020-07-01 23:03] lennondtps commented on #34
@KJTang  I have the same need. I would to have in the sidebar all the tags so I would be able to filter files based on each tag.
I found this plugin https://marketplace.visualstudio.com/items?itemName=SimVet.markdown-tags where you can have all the tags from your files (tags should be like in your file like this example --> https://gitlab.com/SimVet/markdown-tags/-/blob/master/example/file3.md)

B

[2020-07-02 03:28] KJTang commented on #34
Yes, I used search to find tags too, but I come up with a new thought, which is we don't need tags actually.
If we create files for each tag, then other files just need link to it.
In this way, the markdown links graph can also support to display them. Maybe this is the most suittable style for tags in foam😀.

[2020-07-02 11:02] riccardoferretti commented on #44
I wonder if that is better addressed on the VS Code extension itself, maybe even put forward a PR for it (glancing at the code it looks reasonably easy to implement).

Alternatively, as the extension is a thin wrapper around [Mercury](https://github.com/postlight/mercury-parser), it could also just be built into Foam with a tailored integration (e.g. convention for file path).

[2020-07-02 18:07] jarodise opened #45 "Possible to include the link reference in the published version?"
Is it possible to include the link reference in the Github pages rendered/published version?

This would be super helpful for digital gardeners.

[2020-07-02 21:19] jevakallio commented on #45
@jarodise do you mean the link reference fields, like this?

[code]

When I implement [[Materialized Backlinks](https://foambubble.github.io/foam/materialized-backlinks)], I could trivially put in an option to generate "forward links" as well, if that would be useful?

[2020-07-02 21:25] jevakallio commented on #44
@plainspace, as @riccardoferretti said, this is better solved in the extension itself, feel free to open a PR (or issue) there.

I'd still be keen to have a [recipe](https://foambubble.github.io/foam/recipes) for it on Foam!

[2020-07-02 21:33] jarodise commented on #45
Yeah, basically, the idea is to able to create a static site where I can publish my notes and showcase the linkage between the notes, similar to a public Roam database, where the linked pages shown below the note. This kind of site is nowadays referred as "Digital Gardens". For your reference, you can check out this Github repo: https://github.com/MaggieAppleton/digital-gardeners

[2020-07-02 21:45] jevakallio commented on #34
@KJTang this is how I use this actually. I have [[todo]] tags that link to an empty-ish page, and I use the backlinks from that page to browse them.

I wouldn't mind improving support for tags. I'd just need to understand, how they should work. I like @lennondtps's sidebar idea, but before I go and put that on the roadmap, I'd like to prototype it somehow to see if it's actually a good UX or now.

[2020-07-02 22:04] lennondtps commented on #34
Sure! Zettlr and obsidian have these feature. for example: https://obsidian.md/features

[2020-07-02 22:20] jevakallio commented on #39
@ahoho just an update for you and any future spectators, I've just released [foam-vscode@0.1.6](https://github.com/foambubble/foam-vscode/releases/tag/v0.1.6) with VS Code 1.45.1 support

[2020-07-02 22:36] Ham5andw1ch commented on #17
@tchayen thanks for the reply, and I appreciate the work! That is something I was noticing as well. Markdown is not really a standard in of itself, so the features people choose to support and the implementations they go with all differ in subtle ways. I assume as the whole Markdown linked-notes concept takes off, several programs will eventually come out on top and provide some kind of standard f

[2020-07-03 03:59] jsjoeio opened #46 "Documentation migration from Obsidian to Foam"
I think it would be a good idea to show how you can migrate from Obsidian to Foam.

I'm trying to write a script to help with this.

Here's what I have so far:

[code]

Note: this is my first time writing a script so any feedback is welcome. I can't get the last part working - adding a heading to the start of the file.

## Other Notes

- Should the script also delete the `./obsidian` directory?
-

[2020-07-03 13:34] notpushkin commented on #26
It is my understanding that if some extension isn't available on Open VSX yet, _anybody_ can upload it (and the author of the extension can claim ownership over a namespace / publisher afterwards). I'm not sure if it is ethical to do so, but it could be a valid workaround.

[2020-07-03 14:43] zomars opened #48 "Support for accentuation?"
When using accents like this:

[code]

It replaces the letter with a dash:

![image](https://user-images.githubusercontent.com/3504472/86479297-1a311100-bd09-11ea-9b03-47ea9f36ba0b.png)

[2020-07-03 15:20] jevakallio commented on #48
@zomars thanks for letting me know! As someone with äccentuäted name myself, this would be good to get fixed.

The file name generated is implemented in [VSCode Markdown Notes](https://github.com/kortina/vscode-markdown-notes) -- would you mind opening the issue there and linking it to this issue so we can track it?

[2020-07-03 15:28] technoweenie opened #49 "Font style issue after typing "fi""
I'm experiencing this unexpected font style change after typing "fi." It shrinks a bit. It only happens in my Foam workspace. I don't see it when I open one of my coding projects or start a new workspace from a blank repo.

<img width="89" alt="Screen Shot 2020-07-03 at 9 25 33 AM" src="https://user-images.githubusercontent.com/21/86482464-33d55700-bd0f-11ea-8c98-ea0611aba937.png">

I have already

[2020-07-03 16:26] jevakallio commented on #49
@technoweenie oops! Turns out that we had `editor.fontLigatures` on in the settings.json of the foam-template project. Your font appears to have a `fi` [ligature](https://www.hanselman.com/blog/MonospacedProgrammingFontsWithLigatures.aspx#:~:text=Typographic%20ligatures%20are%20when%20multiple,your%20app%2C%20and%20your%20font.) which causes this effect.

I've just removed them from the default te

[2020-07-03 16:27] #49 closed

[2020-07-03 16:40] jevakallio commented on #46
@jsjoeio thanks for starting this work! 😍😍😍

I'm not a Obsidian user, but I can create myself an Obsidian project and take a look at this. In an ideal world, [foam-workspace-manager](https://github.com/foambubble/foam-workspace-manager) would export a CLI that could be run with just

[code]

[2020-07-03 17:52] SamGuay commented on #26
Although not all [recommend extensions](https://foambubble.github.io/foam/recommended-extensions) are currently available on Open VSX, it is possible to run Foam with VSCodium @raguay. I've freshly installed Ubuntu 20.04 and after fixing the [Marketplace issue by following this temporary workaround](https://github.com/VSCodium/vscodium/issues/418#issuecomment-643664182) on VSCodium, I was able to

[2020-07-03 19:43] steveklabnik commented on #44
The extension is good, but has a few flaws. There's the above image one, but also:

* The workflow I want from a web clipper is to be in the browser, and click a button. This makes you paste a URL into Code.

* The extension provides a URL to do something like this, but because it's `vscode://`, if you put this into a bookmarklet, for example, chrome will ask you if you want to open Code, which is

[2020-07-03 20:32] jsjoeio commented on #46
I figured out the heading part! 😄

[code]

Ah! Good call. Totally forgot about this.

Good to know! I feel way more comfortable in JS + the fact that it will eventually be in the CLI is enough to convince me! I'll see if I can take a stab at it sometime (but anyone else is welcome to as well!).

And thanks for all the additional context - that's super helpful too!

[2020-07-03 21:23] plainspace commented on #44
@steveklabnik agreed that a browser extension would be ideal. Should be pretty easy once the core features are there. Joplin has a web clipper extension that is solid. FYI: https://github.com/jsartelle/vscode-web-clipper/issues/3

[2020-07-03 21:36] steveklabnik opened #50 "Generating markdown link reference definitions ?"
Hey there, thanks for foam!

The docs say: https://foambubble.github.io/foam/wiki-links

[code]

However, I am not seeing these links get generated. I'm not seeing any errors, either. Do I need to configure something, or press a key or something? Thanks!

[2020-07-03 22:28] jevakallio commented on #50
Hey Steve! Try running the "Update Markdown Links" command manually -- it should happen automatically when you're in a markdown document inside a Foam workspace (foam.json)

The references are generated:
- On file save,
- When file has at least one [[wiki-link]],
- To a file that exists, i.e. wiki-link.md
- That has a top level #Heading

If it still doesn't work, make sure you've reloaded/restarte

[2020-07-04 01:10] jsjoeio commented on #46
I'm not publishing my Foam workspace (mine will be in a private repo) so this isn't as important right now.

I tested out my script and it looks as if things are working! (The graph looks a bit funky, but that is okay)

<img width="1552" alt="image" src="https://user-images.githubusercontent.com/3806031/86502443-0c56ac80-bd58-11ea-9dcc-ec2937001fb9.png">

[2020-07-04 01:21] jsjoeio opened #54 "Add 'Open Daily Note' Command"
In Obsidian (and Roam I think), there is a concept of a daily note. I wish there were a VS Code command to "Open Daily Note"

- If there is no note for current date, it creates a new one
- If there is, it goes to that note and opens in Workspace
- If a user has a `foam.config.js` and there is a value for `dailyNotesDir`, then the notes are saved there. Default is root.
  - let user configure the f

[2020-07-04 03:00] jsjoeio opened #53 "Improve VS Code Extension Contributing Guidelines"
I wanted to give a stab at contributing but I got stuck getting this extension to work locally. I tried adding a new [hello world command](https://github.com/microsoft/vscode-extension-samples/tree/master/helloworld-sample) to get things started, but I'm struggling to get that working.

It would be awesome for us to add some docs for getting this working locally! A few thoughts:
- when I run the e

[2020-07-04 05:57] jevakallio commented on #46
Amazing! Can you show me what you mean by funky graph? If you don't want to share your content, maybe zoom it out til the text is illegible, or obfuscate it with a bit of blur?

[2020-07-04 11:58] caseyg opened #51 "Broken link references being published to GitHub Pages?"
Any idea why my link references are getting committed and published to GitHub Pages? Aren't they supposed to only appear in VS Code for now?

(p.s. Foam is amazing!! Thank you.)

**GitHub Pages:**

<img width="815" alt="Screenshot 2020-07-04 at 7 56 38 AM" src="https://user-images.githubusercontent.com/462020/86511992-06021800-bdcc-11ea-93d9-a948ad793279.png">

**VS Code:**

<img width="944" alt="

[2020-07-04 12:26] jevakallio commented on #51
I am no longer seeing these in the live site so looks like you got it fixed @caseyg!

The issue was that there was no new line between the last line of content and link reference definition list. Markdown specifically requires this.

However, I'm not sure how this occurred, as the foam-vscode plugin is supposed to ensure the newline is added. Could you give me the version of the extension you're u

[2020-07-04 15:48] steveklabnik commented on #50
Ah ha! I figured it out!

I tend to use `[[weekly review]]`, rather than `[[weekly-review]]`. Without the dash, they don't get generated, but with the dash, they do!

I am not sure if that makes this a bug or not :)

[2020-07-04 15:59] jsjoeio commented on #46
Sure!
<img width="1552" alt="image" src="https://user-images.githubusercontent.com/3806031/86516322-7ca31380-bdd4-11ea-8592-3337d51c73bb.png">

My guess is the daily notes from Obsidian.
<img width="179" alt="image" src="https://user-images.githubusercontent.com/3806031/86516339-96dcf180-bdd4-11ea-9a78-910e7bacf479.png">

[2020-07-04 16:09] jevakallio commented on #50
@steveklabnik interesting! Files with spaces have worked for me in the past. I don't recommend them but they should anyway...

Will test

[2020-07-04 20:19] jevakallio commented on #53
@jsjoeio thanks! I'll get to updating the contribution guidelines, but for the time being:

- When you run the extension, it starts a new extension host instance of VS Code. In that instance, open a Foam workspace (e.g. your personal one, or a test-specific one created from foam-template). This is strictly not necessary, but the extension won't auto-run unless it's in a workspace with a `.vscode/f

[2020-07-04 20:19] jevakallio commented on #53
(Migrated issue from foam-vscode to foam monorepo)

[2020-07-04 20:45] jevakallio commented on #51
I couldn't replicate this issue, so going to assume that either this happened on old version of foam-vscode, or the update task didn't run at all.

Closing to clean up issues, please reopen if the issue persists!

[2020-07-04 20:45] #51 closed

[2020-07-04 20:46] jevakallio commented on #5
FYI this was shipped in foam-vscode@0.1.7 🎉

[2020-07-04 20:46] #5 closed

[2020-07-04 21:08] jevakallio commented on #54
@jsjoeio thanks for the suggestion! This item is already on the roadmap, and since it's relatively easy to implement, I wouldn't mind prioritising it relatively highly:
https://foambubble.github.io/foam/daily-notes

At a high level I like your workflow, but few notes on the config format:

- I'd like to use VSCode user/workspace settings for these, e.g. `foam.dailyNotesDir` in `.vscode/settings.js

[2020-07-04 21:11] jevakallio commented on #19
Docs have been improved a lot since launch, so given no more specific feedback, will close now. If you have more specific requests, feel free to open new issues.

[2020-07-04 21:11] #19 closed

[2020-07-04 21:13] jevakallio commented on #18
This issue is tracked on the [roadmap](https://foambubble.github.io/foam/roadmap) but requires further research. Expect to get to this soon-ish.

[2020-07-05 04:01] jsjoeio commented on #53
It seems like now that the project is using a monorepo format, it's a bit less straightforward to get the extension up and running locally. Any chance you can provide some guidance on how to do that? (note: new to Yarn workspaces)

Here are some issues I've run into so far:

### TypeScript compile errors

Compiling the `foam-vscode` project spits out errors unless I pass the `--skipLibCheck` flag

[2020-07-05 07:55] jevakallio commented on #53
@jsjoeio these are very good points you raise! I was a bit hasty with the monorepo move. Trying to move a bit too fast with the few free hours I have.

## Running the extension

After migration I did not test running the foam-vscode project from the monorepo -- I opened a new VS Code instance from the `packages/foam-vscode` directory, and that worked as normal.

The way those tasks work is by the

[2020-07-05 08:19] jevakallio opened #57 "Improve monorepo setup"
Last night I migrated all the foam packages (save for foam-template) to a monorepo structure. There are a couple of issues that need to be resolved:

- [x] Workspace tasks for running common development workflows
- [x] `foam-vscode` and `foam-cli` should use local `foam-workspace-manager` in development
- [ ] `vsce package` does not know how to pick up packages from hoisted yarn workspaces
  - Cur

[2020-07-05 09:47] mathieudutour opened #58 "Graph in published workspace"
Opening this issue to discuss what it should look like and what are the technical solutions to show a graph in a published workspace.

In the [`gatsby-theme-garden`](https://mathieudutour.github.io/gatsby-digital-garden/) (which can be used out of the box with foam), I implemented such a graph

<img width="1440" alt="Screenshot 2020-07-05 at 11 44 01" src="https://user-images.githubusercontent.com

[2020-07-05 10:08] mathieudutour opened #59 "Linking between published workspaces"
Opening this issue to discuss what linking between published workspaces could look like.

I believe there are (at least) 3 very separate aspects of this feature:

1. what the format should look like to link to another workspace? Is it just a normal markdown link? Do we have a shortcut that the extension handle (similar to wiki links)? If we have a shortcut, how to we get the title of the foreign b

[2020-07-05 15:36] linonetwo opened #62 "Question: too much frequent git commit message"
When using GitHub as the backend storage, we will generate lots of commits.

This will impact our contribution heatmap.

And will 20 a day, 7k a year of commits impact git performance?

[2020-07-05 15:50] jevakallio commented on #62
You can choose how often to commit. You can do once a day, or you can do once a minute. You can also rewrite history and squash all your daily commits and force push at the end of the day if you want.

I guess it will 🤷

Let me know if it becomes a problem!

[2020-07-05 15:50] #62 closed

[2020-07-05 18:31] DaniAkash opened #63 "Mobile app"
A mobile/tablet app will make foam so much easier to use. Based on my daily usage, I'd prefer a mobile app similar to [GitJournal](https://gitjournal.io/) but focused on quickly creating notes and accessing them using links.

I'd be more than happy to help build a mobile app once we establish a clear list of features 😁

Previously discussed on this [tweet thread](https://twitter.com/dani_akash_/st

[2020-07-05 19:21] Trimankaur commented on #38
Hi , I would like to work on this issue. I am a first timer so can you please suggest me steps for getting started ?

[2020-07-05 20:22] eBerdnA opened #64 "Links containing '/' delete files"
Just noticed that there seems to be an issue when having links which contain '/'.

Files:
- Demo1.md
- Link-Topic.md

When `Demo1.md` does contain a link `[[Link/Topic]]` it creates a new file `link-topic.md` even though the file `Link-Topic.md` already exists. Unfortunately this does overwrite everything which has already been written in `Link-Topic.md`.

Environment information:
Visual Studio Co

[2020-07-05 20:46] jevakallio commented on #64
@eBerdnA thanks, this seems unfortunate! The file creation is implemented in [VS Code Markdown Notes](https://github.com/kortina/vscode-markdown-notes) -- could you please open an issue over there and link it here?

[2020-07-05 21:03] eBerdnA commented on #64
Thanks for your quick response.

I opened an issue in [VS Code Markdown Notes](https://github.com/kortina/vscode-markdown-notes).

https://github.com/kortina/vscode-markdown-notes/issues/50

[2020-07-05 21:15] bclinkinbeard commented on #54
Looking at the linked roadmap item, I wonder if the points about sorting and using a directory could be related. Using directories to isolate top level collections seems like a common use case, so I wonder if Foam could somehow provide a default directory listing view, with the ability to override/customize? I guess it'd need to generate `index.md` files, but maybe things like sort direction could

[2020-07-05 21:26] bclinkinbeard commented on #38
[Netlify's docs](https://docs.netlify.com/configure-builds/get-started/#basic-build-settings) show the steps to follow for connecting a repo. Once connected I guess you'd need a build step to go from Markdown to HTML.

[2020-07-05 21:42] Trimankaur commented on #38
Thank you @bclinkinbeard for the information.
I would like to be assigned this issue so that I can start working on it at the earliest.

[2020-07-05 21:54] jevakallio commented on #54
@bclinkinbeard a custom bubble explorer instead of a vanilla file explorer is a good idea and would make it possible to do other fun stuff (such as showing titles and abstracting file names, doing custom context menu actions (rename, that renames all references, more).

On the downside the engineering cost is quite high, so that's not going to be a high priority for me, but if someone wants to run

[2020-07-05 21:56] jevakallio commented on #38
@Trimankaur thanks for your interest! I'm not on my computer until tomorrow but will write out any "requirements" / expectations from Foam PoV tomorrow at my earliest convenience.

Feel free to start looking at this. Foam Gatsby Template might be a good starting point for static site generation

[2020-07-05 23:36] jsjoeio commented on #53
@jevakallio thanks for the detailed explanations and feedback! Seems to be working a lot smoother now! 😃

I am no longer seeing this.

😍 So glad to hear this! The last extension I worked on, we did the same It made things a lot easier.

Sweet! Well I was able to get things running and submitted a PR to improve the docs. With that, others should be able to get up and running quickly.

[2020-07-06 13:43] mryap commented on #58
Can I ask how do you go about generating this `Referred in` title at your stacked page?
![image](https://user-images.githubusercontent.com/15719191/86599811-12869c00-bf97-11ea-8f8e-90bf81660873.png)

Thanks

[2020-07-06 13:47] mathieudutour commented on #58
Using https://github.com/mathieudutour/gatsby-digital-garden/tree/master/packages/gatsby-transformer-markdown-references

[2020-07-06 22:43] digiguru commented on #50
Hi folks. Loving this project, and I want to help.

I've spotted a bug closely related to this one with links with spaced. It turns out case sensitivity is also important.

If I add a link called [[Review]] and `ctrl`+`Click` it we see Foam automatically generates `review.md` as it should.

Now if I look at the auto-generated links in the original file it doesn't create a link to review.md. I'd ex

[2020-07-06 22:48] digiguru commented on #50
To be clear, I'm happy to submit a pull request but as @jevakallio explains

I am happy to take guidance and aid in this simplification effort, or fix using a preferred method. Feel free to reach out.

[2020-07-06 23:37] jsjoeio opened #68 "Backlinks case-sensitive?"
I have a page called `test.md` with the title `# Title`

I can reference it `[[test]]` but it seems like the auto-generated list at the bottom is case-sensitive? It only shows up when it's lowercase. See gif below. Is this expected or a bug?

![2020-07-06 16 35 25](https://user-images.githubusercontent.com/3806031/86667710-bd528680-bfa6-11ea-90b3-b468e7fff244.gif)

[2020-07-07 02:13] francishamel commented on #54
I'd like to contribute to this project and I feel like I could tackle this task.

[2020-07-07 06:11] jevakallio commented on #68
This is a bug (or a known limitation of the current approach) as discovered at https://github.com/foambubble/foam/issues/50#issuecomment-654500531.

Let's keep this issue open to track progress and for others who come to report/inquire about the same, but move conversation over to #50 since @digiguru has already done ground work over there 👍

[2020-07-07 06:43] jevakallio commented on #50
Thank you for the detective work @digiguru, you're absolutely correct! I don't have a perfect solution in mind yet, but in order to organise my own thoughts and get you and @jsjoeio (who reported https://github.com/foambubble/foam/issues/68) on the same page, here's the current circumstance.

## Markdown Notes

On one hand, we have the Markdown Notes extension which is quite permissive, and allows

[2020-07-07 06:53] jevakallio commented on #50
FYI I just landed https://github.com/foambubble/foam/pull/67 which should make adding functionality to foam-workspace-manager a lot easier, so sync your fork if you intend to work on this!

[2020-07-07 07:51] ayushbaweja opened #70 "Andy Matuschak Notes"
Can an [Andy Matuschak](https://notes.andymatuschak.org/Evergreen_notes?stackedNotes=z2HUE4ABbQjUNjrNemvkTCsLa1LPDRuwh1tXC)-esque multi-column cascade be implemented?

It was implemented for Obsidian using custom CSS:

[code]

[2020-07-07 08:20] asbjornb opened #71 "Add collapsible markdown"
I'm just getting started and this might be something I just haven't found or that my work flow could be optimized. But in multiple of my notes I'd like the option to collapse regions of the note. Like in my inbox and todo notes I like to have a section in the top on usage and have that collapsible so it's not visible generally (like for code in visual studio) but that you can expand. Also in goals

[2020-07-07 08:26] mryap commented on #70
@mathieudutour  https://mathieudutour.github.io/gatsby-digital-garden/ could be what you are looking for.

[2020-07-07 08:29] mathieudutour commented on #70
There is also a foam template using the theme: https://github.com/mathieudutour/foam-gatsby-template

[2020-07-07 09:28] jevakallio commented on #71
As of today, you can already collapse markdown header sections, as well as lists and sub-lists. I'm not sure if this is default VS Code behaviour or part of Markdown All In One that's one the automatically installed Recommended Extensions:

![collapse](https://user-images.githubusercontent.com/1203949/86759324-5b446080-c03c-11ea-9c7a-70b63c848387.gif)

Do you need more granular control than this?

[2020-07-07 09:31] asbjornb commented on #71
Thanks. That is perfect and just what I needed. I was apparently just blind.

Thanks again for the work you put into this!

Btw. I added a spellchecker extension to my own visual studio code for notetaking - I'm not sure if it's common enough to use with notes that it might make it to recommended extensions for the template.

[2020-07-07 09:31] #71 closed

[2020-07-07 15:06] tkkuma-k opened #73 "From Japanese input, created file names become ".md""
I love this product, and need your help.
When I put [[something]] and click this with cmd, new file named "something.md" is created.
However when I put Japanese character in [[]], like [[新規]], and clicked this with cmd, the created  file's name will be ".md".

[2020-07-07 16:24] jevakallio commented on #73
Hi @tkkuma-k! Thanks for reporting this. This issue is being tracked in VSCode Markdown Notes that implements the new file feature:
https://github.com/kortina/vscode-markdown-notes/issues/47

[2020-07-07 19:16] ztratar commented on #36
Just want to +1 this idea. Of course take the direction you see fit, but I love this extension and will humbly make the recommendation that Backlink support be a primary feature within it, instead of relying on Markdown Notes.

After using Roam extensively, the most useful aspect of Linked References / Backlinks is how they interact with indented bulleted lists.

- [[Topic A]]
    - This is a note

[2020-07-07 19:18] ztratar opened #74 "Creating new files using [[markdown-links]] doesn't actually create files until I click through."
As mentioned in the title, creating new files using [[markdown-links]] doesn't actually create files until I click through.

I am not entirely sure how to reproduce yet, but this compounds with another issue: if I create a file with [[markdown-links]], then it doesn't show up in "Link references" as well. Getting it to show up is also quite unreliable, so I'm having trouble creating connections.

[2020-07-07 19:21] ztratar commented on #50
Just want to say I love the active development on this, and ya'll are building something great. :)

[2020-07-07 19:25] jevakallio commented on #74
until I click through

This is the behaviour of vscode markdown links extension. We might want to
improve on it in the future, but it does open other questions, such as,
when should a file be created? If we create it as soon as you stop typing,
we could accidentally create useless files with typos in their names

"Link references" as well. Getting it to show up is also quite unreliable,
so I'm hav

[2020-07-07 20:11] RowanMcDonald commented on #16
👋 First off foam is awesome!

Wanted to mention a workaround that I've been using that isn't mentioned here. Similar to the suggestion that this could be synced by a github action, I've been using foam with both the "root" and the wiki repo as remotes.

[code]

This allows me to browse the pages in the wiki.  However, it doesn't sync edits from the wiki... I /think/ that could be scripted up? Have

[2020-07-07 21:45] ztratar commented on #74
Good points!

I would think:

- Create the file immediately.
- As references are removed, to a file, check if that file is empty and no other backlinks exist. If so, delete the file.

Only edge case is that I create an empty file on purpose and have no backlinks there, then attempt to backlink and don't want it anymore, thus deleting the file accidentally. Might require meta-data to remove that ed

[2020-07-07 22:31] jevakallio commented on #54
@francishamel that would be awesome! I wrote down some requirements here:
https://foambubble.github.io/foam/daily-notes

These are off the top of my head. If you don't think these fit your use case, let me know and we can iterate!

If you have questions, feel free to ask here or head over to the [Foam Discord](https://discord.gg/rtdZKgj) and ping me there!

[2020-07-07 22:46] inf-rno commented on #16
my 2 cents, I wouldn't remove mediawiki just because GitHub web UI doesn't support it. Given that Foam doesn't want vendor lock in, it seems contrary to restrict compatibility for a lack in one vendor.

[2020-07-07 22:51] jevakallio commented on #16
@inf-rno Thanks for your feedback! I'm most likely going to continue supporting them, but the tradeoff is not just that GitHub pages doesn't support it.

Problem is that really Markdown doesn't support it at all, and so the subset of tools that support both markdown and media-wiki is much smaller than the superset that supports markdown. This means that we are fighting an uphill battle on integrat

[2020-07-07 22:54] digiguru commented on #50
Looks like the following accent issue is related to this...

#48

You can fix it for accentuated & whitespace characters fairly trivially:

[code]
Which is "good" (if you don't like to see accents in filenames). Given the upset it could cause I would wrap this in a setting with a default to what we think the majority of users would expect, and the ability to opt out.

Arguably we should also dedup

[2020-07-07 22:58] arnarthor opened #75 "Optionally include deadlines for TODO items."
It would be a neat feature to have the ability to add an optional `deadline` tag to `todo` items.
It would open up the ability to create an automated agenda view where you have all your todos with deadlines viewable across all files.

Link to Discord discussion on this topic: https://discordapp.com/channels/729975036148056075/729978910363746315/730192312856084562

Screenshot from org-agenda which

[2020-07-08 00:05] digiguru commented on #73
I've added a potential fix downstream...

kortina/vscode-markdown-notes#53

But this will also need a fix in foam for the auto-generated links before this work in GitHub (but _should_ work in vs code once merged)

[2020-07-08 00:07] digiguru commented on #50
I've added a potential fix downstream, but there's still work to be done once it's been approved and merged.

kortina/vscode-markdown-notes#53

[2020-07-08 03:52] steveklabnik commented on #34
Roam makes `[[wiki links]]` and `#tags` be the same thing, except that they're rendered differently. Wiki links like links, but tags be with the `#` and in a lighter gray.

[2020-07-08 04:05] steveklabnik commented on #36
Yep, big +1 here too. I second @ztratar here. This is actually so useful that I ended up re-structuring how I organized my documents in Roam, specifically to make the backlinks be informative instead of not. I can live without it, but it is super, super super useful.

[2020-07-08 04:06] steveklabnik commented on #74
I don't know the exact behavior Roam has here, but it will create the pages immediately, but also seems to clean up after typos somehow.

[2020-07-08 07:27] digiguru commented on #73
@tkkuma-k - would you be able to help making the test more authentic? I have written a test that checks as follows....

[code]

And I've used google translate to create a test for the Japanese language. Can you tell me an authentic way to say "Some title" in Japanese?

[code]

Thanks

[2020-07-08 07:51] tkkuma-k commented on #73
@digiguru
Thank you for your help!
'タイトル' is correct Japanese.

"Some title" in kanji character ...
'題目' => '題目.md'

and we often use the full-width alphabet and number.
'ｗｉｄｅ１２３'　=> 'ｗｉｄｅ１２３.md'

[2020-07-08 09:22] digiguru commented on #73
Okay, my cultural assumptions have grown today, thankyou for enlightening me about Japanese Vs Kanji

I will add a test for full width alphabet, thanks!

[2020-07-08 09:32] digiguru commented on #73
(done)

[2020-07-08 09:38] digiguru commented on #73
Oh wait, what feels more correct here?

[code]

I'm guessing the second.

[2020-07-08 09:42] jevakallio commented on #70
I'm closing this now, as foam-gatsby-template is a feasible starting point you can use to implement this today.

While over long term we might build something like this to the Foam default template, it's more of a detail of the bigger roadmap item of revamping the static site generation strategy than a requirement we'll be putting on the roadmap.

[2020-07-08 10:00] alexandru opened #77 "Autogenerated links cannot be deleted"
I have a file like this:

[code]

Note that the document no longer contains the "_autogenerated link references_".

I cannot delete those references in VS Code, as it keeps adding them back on save.

To workaround the problem I closed VS Code, edited the file with another editor, then reopened VS Code.

Is this a bug? Anything I'm missing? Anything I can do to force regenerating that list of refer

[2020-07-08 10:14] #70 closed

[2020-07-08 10:17] alexandru commented on #16
@jevakallio

Unfortunately no, they aren't supported, GitHub's Wiki links are different because they are automatically flattened. So for example you can't organize your notes in sub-directories:

![foam-media-wiki](https://user-images.githubusercontent.com/11753/86906905-e8f77d00-c11c-11ea-936c-efa5414bca1f.gif)

If the solution is to be compatible with GitHub's preview, those auto-generated links

[2020-07-08 14:53] #53 closed

[2020-07-08 15:24] tkkuma-k commented on #73
To me,
'Ｓｏｍｅ　Ｔｉｔｌｅ' => 'ｓｏｍｅ－ｔｉｔｌｅ'
 feels like a more natural expression, but
 'Ｓｏｍｅ　Ｔｉｔｌｅ' => 'ｓｏｍｅ-ｔｉｔｌｅ'
 works , too.

[2020-07-08 15:30] tkkuma-k commented on #73
Half-wide character, like ﾀｲﾄﾙ, was used in old documents and is still sometimes used in official documents, despite that it is discouraged.
Someone may use this. Because we can input this.
Please add this too.

'ﾀｲﾄﾙ' => 'ﾀｲﾄﾙ.md'

[2020-07-08 16:15] digiguru commented on #73
Thankyou @tkkuma-k - I have checked and that works.

The full / half width of the slug will be a config option in kortina/vscode-markdown-notes so you can set it project wide depending on your needs. Currently you can choose between having no slug, or having `-` or `_`. If approved my change will add full width `－` and `＿`.

[2020-07-08 16:56] jevakallio commented on #77
@alexandru yup, it's a bug in the workspace manager, this should be fixed shortly. In the meantime you can refresh VS Code (either restart or run "Reload" in command palette, and save the file again.

[2020-07-09 00:41] tkkuma-k commented on #73
@digiguru
Thank you!
After I think again and I have an essential thing to tell you.
When we use the full-width alphabet, number, or kanji character, we also use full-width space '　', not normal space ' '.
I think these two spaces are different. Is this right?
If so, I think it is a better way that normal space ' ' will be '-' or '_', and full-width space '　' will not be changed.

'Some Title' => '

[2020-07-09 03:08] juanfrank77 opened #80 "Publish Foams from a private repo"
Hey @jevakallio I'm opening this issue to report my findings on publishing Foams from a private repo without
using GH pages _and_ Jekyll.

I tried two ways, using eleventy as the SSG and then hosting it on Netlify and using Next.js as SSG and hosting it on Vercel.

After some work and figuring out stuff I was able to make both of them work. I created two repos based on the foam template which are

[2020-07-09 10:08] SanketDG commented on #80
I would love to take a look at the 11ty template!

How did you get all the [[linking]] and backlinking features?

[2020-07-09 10:51] jevakallio commented on #80
@juanfrank77 thank you for doing this work! Once you have the template ready, let's get it into the docs along with the foam-gatsby-template. Maybe a new "Templates" section!

[2020-07-09 11:40] ividic commented on #74
Obsidian creates the file once the user opens the link for the first time

[2020-07-09 20:59] jojanaho commented on #16
a proposal drafted in https://github.com/foambubble/foam/pull/82

[2020-07-10 06:13] gaoyunyun opened #84 "如果使用中文创建没有文件名"
我再使用 [[]] 创建中输入中文的时候,生成的 .md 文件没有文件名~

[2020-07-10 09:13] krankur opened #85 "Add Markdown Preview Enhanced to recommended extensions list"
https://github.com/shd101wyy/markdown-preview-enhanced This extension has a lot of useful features such as Custom CSS for Preview, Katex support, etc. and looks like a good candidate for the recommended extensions list.

[2020-07-10 09:44] krankur commented on #85
I just noticed that https://github.com/yzhang-gh/vscode-markdown provides almost the same features as Markdown Preview Enhanced except a few differences and is already in the recommended list. Feel free to close this issue if you feel that the existing extensions already cover all the [features](https://shd101wyy.github.io/markdown-preview-enhanced/#/?id=features) that MPE provides.

[2020-07-10 11:14] jevakallio commented on #85
@krankur thanks for submitting this! I am actually trialling markdown-preview-enhanced right now because it has native [[wiki-links]] support. I'd be ok having both in the recommended extensions since they provide slightly different value, but need to figure out how to make the UX clear, since right now in my toolbar I have two identical icons...

![image](https://user-images.githubusercontent.com

[2020-07-10 11:20] jevakallio commented on #84
Hi @gaoyunyun,

I don't speak Chinese, so I'll have to respond to you in English. This is same issue for other non-western character sets (https://github.com/foambubble/foam/issues/73).

I think it should be fixed now in Markdown Notes v0.0.11?
https://github.com/kortina/vscode-markdown-notes/releases/tag/v0.0.11

Please update markdown-notes and let me know if it's not fixed, and I'll reopen!

Th

[2020-07-10 11:20] #84 closed

[2020-07-10 11:20] jevakallio commented on #73
Fixed by Markdown Notes v0.0.11! Thanks @digiguru for implementation, @tkkuma-k for testing and feedback, and @kortina for merging and releasing!

https://github.com/kortina/vscode-markdown-notes/releases/tag/v0.0.11

[2020-07-10 11:21] jevakallio commented on #64
Fixed by Markdown Notes v0.0.11! Thanks for reporting @eBerdnA!

https://github.com/kortina/vscode-markdown-notes/releases/tag/v0.0.11

[2020-07-10 11:21] #64 closed

[2020-07-10 12:18] TianyiShi2001 opened #86 "Feature Request: optional YAML front matter"
Further to issue #34 which requests for tagging, I would like an optional feature that allows parsing YAML frontmatter (which can include tags, date of creation and last modification, etc).

YAML header is a common practice to store per-file metadata for markdown files in many markdown-oriented high-level applications, such as [Pandoc](pandoc.org), [RMarkdown](http://rmarkdown.rstudio.com), and [H

[2020-07-10 14:51] jsjoeio opened #87 "Update Documentation for 'Open Daily Note' Feature"
Things we should document for this new feature:
- what it is
- how to change the Filename format
- how to change the File extension
- how to change the Title format of the daily note
- how to set the Daily notes directory

Questions:
- do we remove it from the [Roadmap](https://foambubble.github.io/foam/roadmap) after implementation?
- do we remove the [implementation page](https://foambubble.gith

[2020-07-10 17:51] jevakallio opened #88 "Why Foam? Why now? Why tomorrow?"
Happy Friday everyone!

I'm about to start my Foam hack week, and I've been thinking... the value for note taking tools is in their long term viability, but we tend to gravitate towards novelty instead. I'd love to build Foam into a tool that will grow with us. That in mind, three questions:

- What note taking tools have you used before?
- Why did you migrate away from them?
- What do you hope Fo

[2020-07-10 18:04] DaniAkash commented on #88
I'll share my experience so far.

The tool I have been using: **Notion**

### Things I love about it:
- Taking notes in markdown
- Sync across all devices
- Easy to collaborate with team

### Why I migrated from Notion:
- One reason -> Ability to set up links between the notes and build a zettelkasten

I'm actually still using notion for many things, but I'm using Foam for recording my notes in Ph

[2020-07-10 19:23] jsjoeio commented on #88
I'll share my experience so far.

The tool I have been using: **Obsidian**

### Things I love about it:
- Taking notes in markdown
- Easy to sync to Git
- Support for Vim
- Backlinks

### Why I migrated from Obsidian:
- Foam is built on top of VS Code which means I can use the Vim keybindings extension and get full support
- it's open source, which means I can contribute

### What Foam can do to s

[2020-07-10 21:50] krankur commented on #88
### What note taking tools have you used before?
- Evernote
- Notion
- RemNote (Trying out currently along with Foam)
### Why did you migrate away from them?
- No or partial markdown support.
- No VIM keybindings.
- Notion didn't support inline Latex expressions (It does now, though).
- Evernote formatting is buggy.
### What do you hope Foam can do to support your note taking habit, now and in the

[2020-07-10 22:20] TianyiShi2001 commented on #88
### What note taking tools have you used before?

- OneNote, Evernote, Notion
- [Bookdown](https://bookdown.org)

### Why did you migrate away from them?

- OneNote, Evernote, Notion are not based on plain markdown files. This means it is difficult to convert them to LaTeX or blog posts, for example.
- Bookdown isn't particularly suitable for notetaking. It is designed for writing traditional, hie

[2020-07-11 01:36] juanfrank77 commented on #88
### What note taking tools have you used before?

- OneNote
- Evernote

### Why did you migrate away from them?

- OneNote never felt like a good note taking app. I pretty much used it for 2 or 3 articles and never went back.
- Evernote has been the one I've been using since 2013, but I have so many things that tagging and categorizing stuff and adding other notepad texts is another job on itself.

[2020-07-11 01:56] juanfrank77 commented on #87
Hey guys!

Just throwing some ideas here.

- Would it be good to have a dedicated section for the note's settings on the VS Code UI so that people could change them there instead of going to the .vscode/settings.json?
- Make the documentation as clear as possible so that a non-dev person would know where to go and what options to enable/disable according to preference.

I think that once is comple

[2020-07-11 04:07] juanfrank77 commented on #80
Hey guys.

I think I'm done setting up the template. I found out the hard way that markdown documents with a Front Matter header doesn't work yet and would have to do too much fancy stuff to get it working so nah.

Also, I couldn't decide on what visual theme to put on the pages, so I just left it with default barebones styling.

Here it is the [template](https://github.com/juanfrank77/foam-eleven

[2020-07-11 04:37] sahil48 opened #89 "Feature Request: Support for tags"
In contrast to a heading, a tag in markdown is often created by using a `#` with no space `#tag`.

https://github.com/kortina/vscode-markdown-notes Supports this format of tags as a syntax.

By assigning a set of notes to a tag, a set of atomic notes covering a specific subject can be grouped together, and multiple tags can be added in the document to describe the subjects you would like to see wi

[2020-07-11 04:46] sahil48 opened #90 "Publishing subsets of notes"
In most cases, to get the most value out of foam, I feel it is best to associate as many notes as possible in a single workspace. However, you may not want to export all notes in a published version or publish a subset of notes depending on the audience you are trying to engage. For this reason, I would like for foam to have a way to allow for subsets of notes to be published as a foam workspace a

[2020-07-11 06:52] anku255 commented on #88
## What note-taking tools have you used before?
I have used Notion and Evernote.

## Why did you migrate away from them?
Being a programmer I have always prefered the flexibility and the ability to customize (also why I prefer android). Some other reasons are -

- Open source and the community.
- Markdown (I love writing in markdown).
- Graph and backlinks. These are really powerful.
- Integration

[2020-07-11 08:20] SanketDG commented on #89
Foam does have support for tags the way [Markdown Notes](https://github.com/kortina/vscode-markdown-notes) does. You should be able to do use them the way you would use tags normally. See https://github.com/kortina/vscode-markdown-notes#peek-references-to-tag

Yes this would be something that is not present right now, I assume.

This is not necessarily true, I am pretty sure this is just a additio

[2020-07-11 09:09] jevakallio opened #91 "Add all-contributors"
Here's an opportunity for the most meta contribution I can think of:

Get yourself to the contributor list by integrating [all-contributors](https://github.com/all-contributors/all-contributors) that adds the contributor list to the project documentation.

Ideally, adds contributors to both `readme.md` and `docs/readme.md`, but if we only get to pick one, it should be in `docs/readme.md`, so we'll

[2020-07-11 09:54] jevakallio commented on #59
Still keen to explore this but haven't gotten around to doing so yet.

Not sure if useful for us, but the MediaWiki interwiki links are related to this:
https://www.mediawiki.org/wiki/Help:Links#Interwiki_links

[2020-07-11 10:23] digiguru commented on #50
Sorry folks, not sure I'm going to have time to explore this one for another week. Feel free to pick it up if it's a burning issue.

I guess to work on this you need to really be debugging the extension, so [this should help](https://vscode.readthedocs.io/en/latest/extensions/debugging-extensions/#:~:text=You%20can%20easily%20run%20your,view%20or%20the%20Debug%20Console%20.)

And of course underst

[2020-07-11 11:37] TaiChi-IO opened #92 "Support for math formulas on rendered pages"
I have some math formulas in my notes that can be rendered properly with All-in-One markdown in VS Code but they are not rendered on the published pages. Could you please support for rendering math formulas on published pages?

[2020-07-11 12:42] msaglietto commented on #91
Maybe you can use something like https://allcontributors.org/ ?

[2020-07-11 12:47] jevakallio commented on #91
@msaglietto ah, that makes sense! I didn't realise it was that easy to integrate these days, I thought it still involved doing code changes in the project. Lemme give that a shot!

[2020-07-11 13:26] jevakallio commented on #91
Added all-contributors list to project home page and readme, and configured `@all-contributors` bot

https://foambubble.github.io/foam/#thanks-and-attribution

[2020-07-11 13:26] #91 closed

[2020-07-11 15:37] jsjoeio commented on #87
Good idea! You can use the Settings UI with how it's implemented right now. Here's what it will look like.

<img width="1552" alt="image" src="https://user-images.githubusercontent.com/3806031/87227671-7a4f3500-c351-11ea-8667-066832f2c0ee.png">

But if we find it hard for non-devs, we can always brainstorm how to improve the UX. For v1, this seems like it should get the job done.

Agreed! Definite

[2020-07-11 18:59] digiguru commented on #50
I had a little time so made a little progress. I have added more tests to the link parser to play with a new concept that's documented in #93

[2020-07-11 19:45] ianjsikes opened #94 "Saving a file generates a new link reference section every time"
Possibly related to #20

When I save a file that contains [[wiki-links]], the generated markdown references appear at the bottom of the file. If I save the file again (even if there are no changes, just pressing `cmd+s`), _another_ identical generated section appears below the first one. [Here is a video][video].

If I `> Save without formatting`, no link references are generated.

**Also**, if I

[2020-07-11 20:08] jevakallio commented on #94
Wow, that's broken! I'm on same OS, VS Code and Foam versions, and I'm not
seeing this issue.

The link syntax you're using, using double square brackets [label][file] is
not something that we officially support. The way you'd do it right now
would be either as wiki links `[[file]]`, or as a standard markdown link
`[label](file.md)`. Wiki links should generate reference definitions, and
the markdo

[2020-07-11 20:30] ianjsikes commented on #94
Ah woops I used a bad example file. The wiki link in the video is the one that says `[[how-to-run-a-dungeon]]` at the top. [Here is a smaller example][vid] with _only_ wiki links.

I figured out the cause. I have the `files.insertFinalNewline` VS Code setting enabled to automatically add an empty newline to the end of files that don't have one [because Git][newline]. So when I save the file, it se

[2020-07-11 20:42] jevakallio commented on #94
Glad you figured it out!

This is not how it works, it should look from the bottom of the file and find the last instance.

We're working on pretty broad rewrite of how we generate markdown links to make the entire feature more robust and less intrusive, so I'll make sure we'll test for trailing newlines.

[2020-07-11 21:06] juanfrank77 commented on #94
Adding some extra info on this...
Foam regenerates the link references on the file when you have the file opened and save it, either by using a hotkey or going to the File menu and clicking on the Save option.

_However_, if you don't have the file open and have changes in it (and maybe in other files) and use the hotkey or 'Save As' option. It saves the file but doesn't trigger the link regenerat

[2020-07-12 08:19] jevakallio commented on #94
@juanfrank77 hah, that's clever! Let's hope we can get this fixed properly in the coming week so you can stop having to hack around this :)

[2020-07-12 16:02] jevakallio commented on #94
Note, I've just discovered a new way of causing this same effect. Have `Format on Save` set to run Prettier, and your settings are `"singleQuote": true`.

This will "fix" the double quotes in the begin/end comment blocks and make the reference list regenerate every time.

Workaround for the time being is to set either of these settings in your .vscode/settings.json:

[code]

Or:
[code]

[2020-07-12 22:05] canadaduane commented on #88
## What note taking tools have you used before?
VS Code "Notes" plugin (I'm the author)

## Why did you migrate away from them?
I'm considering FOAM because of the graph and backlinks.

## What do you hope Foam can do support your note taking habit, now and in the future?
I'd love to integrate Notes somehow and take advantage of backlinks / indexing.

[2020-07-12 22:07] gabekelley commented on #88
**What note taking tools have you used before?**
I've used quite a lot of these before. Starting in college it was mostly **notebooks** and a **whiteboard** near my desk, but back then I had no idea of the concept of a Second Brain or Zettelkasten or any real thought-led methodology. I've come to find those tools as integral to my work as a service/systems designer, so I went looking for tools and

[2020-07-13 02:56] sauravkhdoolia commented on #75
@jevakallio If you want to use a lib for this then take a look at [this](https://github.com/pgilad/leasot).

[2020-07-13 12:19] orta commented on #88
### What note taking tools have you used before?

I use both [VoodooPad](http://www.voodoopad.com) and [notational velocity](https://brettterpstra.com/projects/nvalt/) today depending on context.

### Why did/will you migrate away from them?

Maybe. I stopped using custom markdown editors also once VS Code got support to a certain bar of quality, and it's been my main MD editor for a few years. In

[2020-07-13 18:47] jevakallio opened #106 "Foam should work when notes are in a workspace subdirectory"
## Known issues

- [ ] Markdown links indexes files it shouldn't @tchayen
- [ ] Markdown notes always creates new files in workspace root @kortina

## Potential solutions

- Have all extensions share a configuration key
- Find a way to inject configuration into extensions (@riccardoferretti mentioned this might be possible?)
- Duplicate configuration keys for all projects

## FYI

Foam VSCode does

[2020-07-14 07:19] floAr opened #110 "Comparison to memo"
There also is https://github.com/svsool/vscode-memo which seems to do something similar. Is there anything particular to diversify foam from memo?

[2020-07-14 07:19] floAr commented on #110
https://github.com/svsool/vscode-memo/issues/9

[2020-07-14 10:06] jevakallio commented on #110
@floAr good question.

I've seen the vscode-memo repo before but haven't tried it myself. It seems to do a lot of similar things as [VSCode Markdown Notes], which is one of the underlying libraries in Foam.

Foam's scope is slightly larger. With Foam, we're looking to not only improve the editing of networked notes, but also the storage, syncing and collaboration (GitHub), publishing, etc.

Right

[2020-07-14 10:06] #110 closed

[2020-07-14 11:21] tchayen commented on #106
Oops, what files are indexed that shouldn't be?

[2020-07-14 13:36] riccardoferretti commented on #106
What I was referring to is for an extension to expose its API by returning an object in its `activate` function, but this needs to be done by the "target" (e.g. Markdown links, Markdown notes), not Foam in our case.

See https://code.visualstudio.com/api/references/vscode-api#extensions

Of course with a starter template or CLI we could configure the extension directly, which might be fine at the

[2020-07-14 18:44] sahil48 commented on #7
I would be fine with just including the file extension to distinguish between them.

Suppose you had a file FileName1.md with heading # Heading1. You use [[Heading1]] to link via the first heading and [[FileName1.md]] to refer to the file name itself. If there is a conflict add the parent folder [[ParentFolderTitle/FileName1.md]]. Same for headings [[FileName1.md/Heading 1]]. As a side benefit, yo

[2020-07-14 18:53] pierreweil opened #115 "Add new note from template"
It would be nice to be able to select a template when creating a new note. For example, a template called "person" could look like

[code]
Or similarly for a daily note. Users could be save these in a `.templates` directory for example.

As @jevakallio mentioned, a workaround for now is to define snippets in VS Code. I noticed also that _Markdown Notes_ has a setting _New Note Template_ which allo

[2020-07-14 23:58] digiguru commented on #92
As @TaiChi-IO observed there is a workaround for this, as found in the Math recipe.

#109

Perhaps adding this out of the box is overkill, but I wanted to ensure that future people who encounter this issue please read the notes on [Math Support](https://foambubble.github.io/foam/math-support)

[2020-07-14 23:58] #92 closed

[2020-07-15 03:03] jsjoeio opened #118 "Daily Note: Automatically move cursor to the end of file"
Automatically move cursor to the end of file so you can just start typing.

Can be worked on after #79 is merged.

[2020-07-15 04:00] jsjoeio opened #119 "Discussion: Create place to share Foam workspace Templates"
After my conversation with @jevakallio today, I thought it would be a good idea to create a place to share Foam workspaces setups. Ideally, it would include:
- `.vscode/settings.json`
- `.vscode/extensions.json`

This will give people inspiration for setting up their Foam workspace to optimize the environment for writing.

Discussion: where should this live in the project?

Ideas:
- Create a Recip

[2020-07-15 07:35] mathieudutour commented on #89
I believe this is a duplicate of #34

[2020-07-15 07:35] #89 closed

[2020-07-15 07:40] mathieudutour commented on #86
I believe #34 is about tags in the content, like `#thistag`. But is there anything stopping you from adding a frontmatter section above your content? The markdown preview seems to work fine and I believe Jekyll understands it as well.

What would Foam do with your frontmatter (which is super specific to your data, even tho it's structured)?

[2020-07-15 09:32] riccardoferretti commented on #119
I like the idea, I have a slightly different setup and @jevakallio was asking me to share it, this would be a great place to do that.
I'd suggest calling the recipe `Templates`.

Maybe in the future templates could also be used by the CLI to create a foam project:

[code]

e.g. `npx foam create my-foam --template foam-template-gatsby`

(somewhat similar to what https://create-react-app.dev/docs/cu

[2020-07-15 09:35] technolaaji opened #120 "Feature Request: export to pdf/epub format of my foam workspace"
According to the recipes section on Foam's website [recipes link](https://foambubble.github.io/foam/recipes) if I want to publish my foam workspace, I can publish it as a page on Github pages and Netlify.

What if I want to write a book in Foam and export it as a pdf or epub format? a good tool like Pandoc [pandoc's site](https://pandoc.org/) transforms your existing markdown files to pdf and epub

[2020-07-15 09:45] riccardoferretti commented on #106
@tchayen The extension currently scans all the files under the project root, I think it would be helpful to provide some inclusion or exclusion patterns.

In my specific case, I have
[code]

As the extension also scans `site` and it's `node_modules` dir,  a few million files get checked :)

Does that make sense?

[2020-07-15 09:49] riccardoferretti commented on #90
Yeah I have a similar use case, I totally agree.
For now I am "solving" this by having a custom site generator, and make the adjustments there (I haven't published anything yet so I haven't battle-tested the concept), but I agree it would make sense to at least have a recipe for this use case.

[2020-07-15 12:23] SanketDG commented on #115
For anyone working on this, this can be added to Foam as a recipe.

VSCode supports [Workspace specific snippets](https://code.visualstudio.com/docs/editor/userdefinedsnippets#_project-snippet-scope)

We can also ship with our own set of snippets (Daily Note, TODO)

[2020-07-15 13:29] juanfrank77 commented on #119
I like this idea! it would be really cool for folks to be able to create a workspace that already has a set of configured options. and it would work with Mathieu's template and mine (and any other template that gets created in the future.)

People could have different foams optimized for different needs 😀

[2020-07-15 14:48] dan-iel-lee commented on #88
### What note taking tools have you used before?
* Notion

### Why did/will you migrate away from them?
* I like the ability to create complex relations beyond linear parent/child

That being said, I still plan on using Notion for task related stuff (for reminders).

### What do you hope Foam can do support your note taking habit, now and in the future?
* Mobile app
* Backlink auto-generation
* Be

[2020-07-15 14:58] jsjoeio commented on #119
Good call! I think that word suits the idea better.

Exactly! 😄

[2020-07-15 15:41] #80 closed

[2020-07-15 16:01] tchayen commented on #106
@riccardoferretti Absolutely. I will for sure add an option to ignore given files or directories. I had it on the roadmap for some time.

[2020-07-15 22:03] jevakallio commented on #120
@technolaaji I like this! I don't think it'll be a priority for Foam to build this into "core", but we should definitely enable this workflow for people who want it.

Have you checked existing epub publishing tools for VS Code like https://marketplace.visualstudio.com/items?itemName=gdrtf.md2reader?

If any of the Foam-specific functionality (like wiki-links) don't work with those tools, we are pl

[2020-07-15 22:40] jevakallio opened #130 "Exclude directories from workspace for crawling performance reasons"
@jojanaho  reported on Twitter:

In Foam we use workspace.findFiles, which has an exclude glob pattern option:
https://code.visualstudio.com/api/references/vscode-api#workspace (search for findFiles)

Markdown Notes uses the same:
https://github.com/kortina/vscode-markdown-notes/blob/c6d97c15c665a7f5f189b5a17d59ff808933c1f0/src/NoteWorkspace.ts#L291

Markdown links uses workspace.fs.readDirectory,

[2020-07-15 22:42] jevakallio commented on #106
@tchayen did a bit more research on how this works. I think you could get away with simply using `workspace.findFiles` instead of `workspace.fs`. See this issue:

https://github.com/foambubble/foam/issues/130

[2020-07-16 05:13] anku255 opened #131 "Initialise note title only if heading exists"
From https://github.com/foambubble/foam/pull/112#discussion_r455400557

We need #112 to merge soon. Hence, I decided to create a new issue for this change.

I am self assigning this.

[2020-07-16 15:33] battermann opened #134 "Links do not work properly for the Eleventy and Netlify template"
The links that are created when publishing to Netlify using this template: https://github.com/juanfrank77/foam-eleventy-template by @juanfrank77 do not work properly.

E.g. on this page: https://vigilant-wilson-ff4faf.netlify.app/bubbles/inbox/ when you click on `todo` (https://vigilant-wilson-ff4faf.netlify.app/bubbles/inbox/todo).

[2020-07-16 17:14] jevakallio commented on #134
@juanfrank77 the issue appears to be that Netlify redirects to urls with trailing slashes, so a link becomes interpreted as a file in that "directory", rather than a sibling file:
https://docs.netlify.com/routing/redirects/redirect-options/#trailing-slash

You can see that if you navigate to a URL without trailing slash:
https://vigilant-wilson-ff4faf.netlify.app/bubbles/inbox

It redirects you to

[2020-07-16 17:18] juanfrank77 commented on #134
Hi!
That's actually part of the link generation of Foam links because it generates links based on the current folder.
So in the example the "todo" is generated based on the "bubbles" folder instead of the root directory.

I've found a way to do redirects with Netlify (e.g. for the 404 page) but in general to have it to work, the links in the bottom of the MD documents should be generated in respec

[2020-07-16 17:49] jevakallio commented on #134
So in the example the "todo" is generated based on the "bubbles" folder instead of the root directory.

There's a subtle semantic difference between how Foam (and GitHub pages) does it, and how Netlify does it.

In GitHub pages, you can have a link from `/inbox` to `[[todo]]`, and the browser will navigate to `/todo`, because the path `/inbox` is considered a document, and the relative link points

[2020-07-16 19:41] juanfrank77 commented on #134
Hey @jevakallio
I actually made it work with the use of Netlify redirects but that's not a dependable solution large scale so it's not part of the tempate.

I thought it was part of the way links are generated and honestly I just found out about Eleventy doing research for this issue, so definitely have to dig more into their docs and see if I found something about the links there. Probably can do

[2020-07-16 22:20] tchayen commented on #106
Oh, wow, that sounds cool! I will try switching to that one.

[2020-07-17 01:01] ztratar commented on #74
Correct @ividic, but Obsidian is IMO not the ideal state. If I create a [[topic]], I then want it to autocomplete and create a file for me automatically so I can just go to it.

Worrying about creating the file is just an extra step that removes from the user experience. If there's a trade-off to be gained where having the manual creation step helps, I don't see it, but am interested to hear about

[2020-07-17 02:30] jsjoeio opened #135 "Add Recipe for creating a Foam workspace with GistPad"
Now that [GistPad](https://marketplace.visualstudio.com/items?itemName=vsls-contrib.gistfs) supports interoperability with Foam, we should document it as a [Recipe](https://foambubble.github.io/foam/recipes).

[2020-07-17 03:13] jonathanprozzi commented on #88
Posting some elaboration from my original answer in the Discord thread

## What note-taking tools have you used before?

I always loved/preferred taking notes in Markdown, but gravitated to Notion last year. However, I found that for writing/note-taking, I encountered a lot of friction that I now realize is because of the hierarchical / file cabinet structure in Notion. I still use Notion and see

[2020-07-17 03:32] gaoyunyun commented on #84
我再多试了几下又行了...应该是我之前错误的操作导致的.很喜欢你的插件,3q!

[2020-07-17 04:12] technolaaji commented on #120
@jevakallio Thank you for the update! I have tried the existing epub publishing tools and they work as expected, I think the biggest issue is with wiki-links since they don't get identified by those interpreters but if there is a build step that can output my foam notes to vanilla markdown then that can help a lot!

as a technical person, it makes perfect sense to output my foam notes to regular m

[2020-07-17 16:08] juanfrank77 commented on #135
I think it's worthwhile saying that since Gistpad has support for .drawio files, there's a way folks can add diagrams to their Foam documents.

What's left is to see how those diagrams would look like once the workspace is published. But I feel there's a lot of potential with that Gistpad integration, even allowing people to not go through the clone/commit/push process 😏

[2020-07-18 10:39] anku255 commented on #118
I am working on this!

[2020-07-18 20:25] SanketDG commented on #86
For me, it has been largely been the idea of being able to keeping a main index of tags, something like https://notes.zander.wtf/

Obviously this can be done with how `#tags` is supported with gatsby, where we basically search and fetch the tags and then create a index page containing all the tags. I am not sure whether it's possible with `jekyll` or `11ty`.

I think the question here is how we wa

[2020-07-18 20:48] mathieudutour commented on #86
Let’s keep the conversation about tags in #34 ?

[2020-07-18 23:10] #86 closed

[2020-07-19 00:03] dcsan opened #139 "keyboard shortcut: follow-link"
do you rely on other plugins for in-place markdown editing?
it would be nice to have a keyboard shortcut to follow a link, not to have to use the mouse.

some other messengers do this with command-enter when a link is selected.

[2020-07-19 12:35] nixsee commented on #86
I would also like to see YAML front matter supported, which, it seems to me, goes well beyond the tags that are discussed in #34

[2020-07-19 12:49] nixsee commented on #58
I love this - its very similar to something I made 4 years ago to use with a wordpress blog that I never really followed through with. I used d3js' force directed graphs, which also allowed for splicing in a variety of other d3js snippets for pan, zoom, search, node colors and sizes, center on selected node/page, show nodes that are x # of links away, filter based on tags & categories, etc... So,

[2020-07-19 17:42] mathieudutour commented on #58
That's what I've been using as well https://github.com/mathieudutour/gatsby-digital-garden/blob/master/packages/gatsby-theme-garden/src/components/graph-visualisation.js! But my implementation is probably terrible, I don't have a lot experience with D3.

There are a few more details about graphs in Foam here: https://github.com/foambubble/call-for-visualization

[2020-07-19 17:51] dan-iel-lee commented on #139
I believe the link functionality is all through [markdown notes](https://marketplace.visualstudio.com/items?itemName=kortina.vscode-markdown-notes&ssr=false#overview)

For me, `F12` was already assigned to `editor.action.revealDefinition`, but if it isn't, you can assign your own keyboard shortcut it (on mac: Code-> Preferences -> Keyboard Shortcuts).

[2020-07-19 18:57] nixsee commented on #58
No kidding. Thanks for pointing me to your d3 code! Given that you've done what is (to me) the hard work of getting d3 to work with Gatsby, I'll see if I can somehow splice in some of the stuff that I had previously made - it would be wonderful if my many months of blind trial and error could be put to good use finally!

[2020-07-19 22:36] jasonwilliams opened #140 "Proposal: Export to Anki"
So we were having a chat on the discord server about how this could work.
I came across https://github.com/caisj-dev/SendToAnki which is a sublime plugin for sending markdown notes to Anki.

I believe we can add something similar to foam as a feature. The Anki api (via openconnect) is a HTTP REST interface, so should be easy to communicate with.

Ideally I imagine at the bottom of each markdown fi

[2020-07-19 23:29] jsjoeio commented on #140
I don't have an open issue for this but I think this also relates to another discussion we had on Discord around creating Anki cards and studying them within VS Code similar to this [flashcards extension](https://marketplace.visualstudio.com/items?itemName=kim-sardine.flashcards).

I imagine some of the work overlaps with this feature.

[2020-07-19 23:30] jsjoeio commented on #140
What are your thoughts on adding syntax to create spaced-repetition cards similar to how [RemNote](https://www.remnote.io/homepage)does it?

[2020-07-19 23:35] jsjoeio commented on #140
![image](https://user-images.githubusercontent.com/3806031/87887875-cba89580-c9dd-11ea-8dcd-c44b509473e9.png)

For those who aren't familiar, here is a reference.

[2020-07-19 23:39] jasonwilliams commented on #140
Reusing Remnote syntax could be a good idea. I’m not sure how we do that inside of a markdown file though? Does remnote have syntax highlighting? Could it be done in a code block and hidden from preview?

[2020-07-20 00:09] jsjoeio commented on #140
Yeah, I haven't thought through that yet either. Oh, that's a good idea. Maybe that's possible

[2020-07-20 00:28] dcsan commented on #139
found it! also saw someone mention that in discord. its vanilla as F12, same as code navigation but I made it alt-enter now.

[2020-07-20 09:21] jasonwilliams commented on #140
I'm leaning towards [`yaml`](https://yaml.org/) for syntax, there's already support for it in VSCode, we will have syntax highlighting and we should already be able to parse it.

[2020-07-20 09:36] battermann commented on #134
@juanfrank77 How did you work around the issue in detail? It could be a good temporary solution for my problem as well.

[2020-07-20 13:57] jasonwilliams commented on #140
I think flashcards could live as part of the markdown metadata (which i don't think foam uses yet), this also means it won't be rendered in the preview version.

https://github.com/ninjabachelor/markdown-yaml-metadata-parser

[2020-07-20 15:52] jevakallio commented on #140
@jasonwilliams thanks for this suggestion!

We call this type of yaml metadata "frontmatter" (as that's what it's typically called in static site publishing circles), and we'll be adding full support shortly. This means extension builders can use it for whatever metadata they need -- so big 👍 for that approach.

The one thing I don't know (as someone who doesn't do spaced repetition) is whether th

[2020-07-20 16:14] jasonwilliams commented on #140
Personally yes, I don't think this is much of an issue, if you try to be too clever it ends up being complicated both for the user and the implementor. I also think for a first version it should be simple (you can always add on extra functionality later)

The top doesn't seem great, but it stays within the "frontmatter" standard, and makes it easy for other apps to reuse the questions and answers,

[2020-07-20 19:00] #131 closed

[2020-07-21 01:33] juanfrank77 commented on #134
@battermann The easier way to do this is to use redirects in a Netlify config file `netlify.toml` in which you specify the initial URL, the redirected URL and any other desired options according to the [docs](https://docs.netlify.com/routing/redirects/#syntax-for-the-netlify-configuration-file)

You can use a splat (*) in the rule to match anything that follows it.
So, for example, to fix the issu

[2020-07-21 11:24] VKondakoff commented on #34
Pretty surprised, that the lack of proper `#tags` support does note get more attention from the Foam users and developers side. Here are some images of how `#tags` are organised in Obsidian:
**_(sidebar panel)_**
<img width="769" alt="Снимок экрана 2020-07-21 в 14 18 25" src="https://user-images.githubusercontent.com/230824/88049103-2ae0e400-cb5d-11ea-81f9-7e091e11d2e0.png">

**_(filtering by tag)

[2020-07-21 12:57] nitishMehrotra opened #146 "Add mdx support for Foam"
It would be great to have MDX support for Foam.

https://www.gatsbyjs.org/docs/mdx/

[2020-07-21 23:21] jevakallio commented on #146
@nitishMehrotra thanks for the suggestion! MDX is already [on the Publishing roadmap](https://foambubble.github.io/foam/roadmap#publishing).

For the time being you can already use MDX if you can live without syntax highlighting:
- write mdx expressions into .md files
- use the MDX preview instead of the regular Markdown Preview
- use a MDX-enabled static site generator (like [foam-gatsby-template

[2020-07-22 01:19] amatsukawa commented on #74
I like the way Obsidian does it, which is any [[links]] show up for autocomplete on links, but a file is not created until you click through.

[2020-07-22 13:34] nitishMehrotra commented on #146
Thanks for the reply @jevakallio.

One of things that would work really well if we are able to enable certain mdx specific features within Foam. Will go through the discussion on to understand the bottle necks.

[2020-07-22 18:37] synesthesia commented on #139
And the default binding of Ctrl-K, F12 will open the new page alongside - really useful if you are breaking down a page into smaller concepts...

[2020-07-22 20:04] dcsan commented on #139
i've found these shortcuts don't work a lot of the time. I think for any relative links `folder/doc` they don't work
and also get confused when you have names like `some-link`

oddly, just using the mouse and `folllow link` often *will* work. I haven't completely figured out the pattern yet.

[2020-07-22 20:43] youleaf commented on #46
Here a js version of @jsjoeio script.

It works for me; attachments are imported correctly as long as they are all contained in the same folder.
It doesn't generate Link Reference Definitions, but they are created as soon as the file is opened/saved in foam.

Thank you for the info you provided in this issue, they helped a lot!

foam obsidian migration script:
https://gist.github.com/youleaf/54fb5

[2020-07-22 20:52] jsjoeio commented on #46
Woohoo! Thanks for writing a JS version @youleaf 🚀 This is going to be really helpful when we incorporate this into the CLI (we'll give you credit, and if you want to help with that when the time comes, let us know!)

We'll have to figure this out down the road.

Thanks for sharing your script too! Looks great, and the comments make it easy to follow too 😍

[2020-07-22 22:23] youleaf commented on #46
I think you can import from any markdown-based dir structure (not only obsidian) reusing most of the code: you just need to adjust regexps and file naming accordingly.  I'll be glad to help, count me in!

[2020-07-23 03:58] Sholanki opened #149 "Selective publishing of pages of foam"
Hi! I wanted to deploy my foam website on Netlify and I wanted to keep some of the pages private and the rest open to public. I could not find a way to do it on Foam.

[2020-07-23 06:28] SanketDG commented on #149
If you are using https://github.com/foambubble/foam-template, can you try setting `published` in the [frontmatter](https://jekyllrb.com/docs/front-matter/)

[2020-07-23 09:05] jevakallio commented on #135
Fixed by #138

[2020-07-23 09:05] #135 closed

[2020-07-23 09:36] mathieudutour commented on #59
One of the downsides of webmentions is that it's a bit hard to control what you receive. You have to "trust" the senders.

A potential solution would be mimic web-rings (and call them bathtub? 😄):
- a repo listing the origins mutually trusted
- if you want to be part of the webring, open a pull request and add yourself
- any webmentions from those origins is approved and showed as a backlink

Down

[2020-07-23 10:16] fmagin commented on #140
I personally use Anki myself and am also quite interested in combining my note taking and my flashcards.

I feel like this issue starts with some really complicated solutions, instead of talking about some simpler ones first:
Anki can import typically table formats like CSV/TSV. So as long as you can export a foam note to an appropriate csv you can import it into Anki as an Anki note. This is both

[2020-07-23 14:32] jivthesh commented on #130
@jevakallio Can i work on this issues  I am a beginer to open source community can u guide can until be how to work with this

[2020-07-23 14:37] jivthesh commented on #74
@ztratar can I work on this

[2020-07-23 18:09] jevakallio commented on #130
@jivthesh I think @ingalless is already looking to make the code fixes in vscode markdown links, but another useful thing would be add `node_modules` directories to the exclude lists in the different templates.

Basically, that would involve submitting PRs to the projects, adding this setting:
[code]

To these settings.json files:
- Default Foam template: https://github.com/foambubble/foam-templat

[2020-07-23 18:42] jasonwilliams commented on #140
@fmagin i agree with most of what you've said.
The more i think about it the more i think Anki functionality should live in it's own VSCode plugin, I've made good progress on this and will hopefully have something to show in a week or so.

[2020-07-23 18:57] jsjoeio commented on #140
🤯 Oh man, that's exciting to hear.

Sweet! Looking forward to checking it out!

[2020-07-24 02:42] nixsee opened #151 "Migration from Onenote"
I was asked to open an issue here by @jsjoeio regarding making a recipe for migrating from Onenote to markdown/Foam using this tool that I've made. https://github.com/nixsee/ConvertOneNote2MarkDown

Not sure what is involved in that, but I'm happy to help. Or just take it and use as you please!

[2020-07-24 02:50] jsjoeio commented on #151
Thanks for getting this started @nixsee! So from what I can guess, you've gone through the process of migrating markdown notes that lived in OneNote to markdown notes that live in Foam.

The goal of this issue is to the process that you went through and document it so that others can follow your the same with ease.

There are two steps I see here:
- [ ] add "Migrating from OneNote (stub)" to the [

[2020-07-24 03:06] nixsee commented on #151
I believe I got #1 finished by forking the roadmap and submitting a pull request?

[2020-07-24 03:20] jsjoeio commented on #151
Yes, exactly! You're quick!

[2020-07-24 03:32] jsjoeio commented on #151
Great! Once #152 lands, we can do 2. In the meantime, feel free to write up a markdown doc with the process and post it here if you want feedback.

Otherwise, here's what I'm thinking:
- add Migration section to the [Foam Recipes](https://foambubble.github.io/foam/recipes)
- make it similar to the [Publish](https://foambubble.github.io/foam/recipes#publish), a bulleted list
- add a "Migrating from

[2020-07-24 08:50] hmuny99 opened #153 "Images outside of workspace folder not detected"
If i try to insert an image in a .md file, unless is present in the workspace folder, vscode can't find.
In my case if i write
`![image](/home/hmuny99/Pictures/image.png)`
the editor won't find it, but, if i take the same image and copy it in the workspace folder, even if it's in a subfolder, so
`image.png`
or
`Pictures/image.png`
the editor seems to recognize it.

![1595580495_grim](https://user-

[2020-07-24 09:00] MrHeer opened #154 "Improve `graph-visualisation`"
see https://github.com/tchayen/markdown-links/issues/36

[2020-07-24 12:31] vitaly-pevgonen commented on #153
There's issue in markdown-all-in-one: https://github.com/yzhang-gh/vscode-markdown/issues/118 , that points to decision of VSCode team:

https://github.com/microsoft/vscode/issues/45260#issuecomment-371428889

[2020-07-24 19:40] nixsee commented on #58
So I was able to get this set up and test out. Very nice! But it is extremely slow when there are lots of notes (I imported about 500) - the graph inches open and closed over the course of 10+ seconds, and zooming and panning is basically not possible. If I should be commenting on the performance at your digital garden repo instead of here, please let me know. But the same problem happens with the

[2020-07-24 19:44] nixsee commented on #34
One thought regarding tags and graphs is instead of the tag being a node, it serves as a filter. The reason being that you'll just end up with a senseless hairball if each tag is a page/node. There could be a scrolling menu somewhere with checkboxes to filter notes that have that tag on and off.

[2020-07-24 20:25] jasonwilliams commented on #140
@jsjoeio https://marketplace.visualstudio.com/items?itemName=jasew.anki try it and let me know, it may be buggy but should work well enough

[2020-07-24 20:30] jsjoeio commented on #140
Woot woot! Will do. Props for coming up with something so quickly!

[2020-07-25 11:11] #118 closed

[2020-07-25 12:36] #153 closed

[2020-07-25 12:41] hmuny99 opened #158 "Graph visualitazion not updated when creating a new file or link"
Unless i refresh the graph visualization by manually closing and reopening it, the graph visualization is not updated when i create a new link or a new file

[2020-07-25 14:25] brtbt commented on #158
for me even after manually closing it soesnt work with vague artefact graphs

![image](https://user-images.githubusercontent.com/4089964/88459137-ab327c80-ceb0-11ea-8eb0-cc02f6b13303.png)

[2020-07-25 21:50] MehraAkshay opened #160 "Daily note not resolved by VSCode"
For some reason, using Alt + D or "Open Daily Note" with 0.3.0 leads to the following error:
[code]
Note that the file _is_ created but that VSCode cannot locate it. In settings, I've made the path "." to no avail:
[code]

[2020-07-26 00:06] ricalamino commented on #160
Same problem here.

[2020-07-26 05:35] nixsee opened #161 "I created a Foam Menu Bar with buttons that map to various Foam Commands"
I used this [existing extension](https://marketplace.visualstudio.com/items?itemName=jerrygoyal.shortcut-menu-bar) that allows you to add commands to the menu bar above the editor window, and mapped with with commands from the Recommended Extensions like New Note, Daily Note, Janitor, and Open Graph, as well as commands like Back, Forward and Zen Mode. I also mapped it to a couple other extensions

[2020-07-26 06:25] nixsee commented on #161
I now notice that Markdown Preview Enhanced doesn't allow you to navigate links to other markdown files while in preview mode. So I've disabled it and there's no longer a double icon for previews

[2020-07-26 07:31] jevakallio commented on #160
@MehraAkshay weird! Can you provide system information (VS Code version, operating system)? Looks like you're on Windows, and there's something funky going on with the way we resolve paths (the error message has URI encoded path separators, which doesn't look normal).

@ricalamino could you also provide system info.

If that is indeed the case, I don't have a Windows box at hand so can't test myse

[2020-07-26 08:53] hmuny99 opened #162 "Wiki-links not working in the .md preview"
After the new update, every time that i save a file, even though in the graph the link between two files is created, in the .md preview it is not detected

![1595753394_grim](https://user-images.githubusercontent.com/28223818/88475209-225a2600-cf2e-11ea-844c-bda0f15c2131.png)

![1595753401_grim](https://user-images.githubusercontent.com/28223818/88475216-28e89d80-cf2e-11ea-9503-95c73d6ec563.png)

[2020-07-26 09:31] hmuny99 commented on #162
It seems that this bug is present only with files created using the 0.2 Foam version, if i create a new workspace, everything works properly

[2020-07-26 12:27] synesthesia commented on #38
A subtlety might be to look at how often a build is started, so far have thought of two scenarios where building on Netlify on every push might be wasteful of build minutes (£):

* if using GistPad or other v tight sync where every file save is a push
* when running post-push GH actions e.g. Foam Janitor, which potentially generate changes and a new commit / push

[This Netlify forum post](https:/

[2020-07-26 13:39] Klaudioz opened #163 "code-server container show a old version of foam in the Marketplace"
Hello @jevakallio , I've created this issue according our conversation in Discord channel. I'll try to install the last version of the extension manually but even that I want to keep record about that weird behavior. Probably is a code-server container issue [code-server](https://hub.docker.com/r/codercom/code-server)

## Expected Behavior
Showing the last version of the extension in the Marketpla

[2020-07-26 14:03] d2s opened #164 "Error message while creating a new Daily Note"
When running command `Foam: Open Daily Note` via VS Code command palette (on a Windows 10 machine), getting an error message with the following text:

[code]

Issue seems to be that for some reason, the file path handling isn't working properly on a Windows machine. It is taking `\` character and replacing it with `%5C` urlencoded character code.

File path urlencoded:

[code]

Working path would

[2020-07-26 14:15] synesthesia opened #165 "Recipe - install without git / github"
At least one contact has said to me they were deterred from trying foam because of git / github.

Proposing a simple recipe that covers

* download and unpack template as zip
* optionally use cloud sync such as dropbox to backup notes

Will open a PR with a roadmap stub linked back here for any discussion

[2020-07-26 14:58] jevakallio commented on #158
@hmuny99 I've submitted a fix to this in markdown-links (https://github.com/tchayen/markdown-links/pull/34)  and it should be released in Markdown Links 0.7.0 as per their [changelog](https://marketplace.visualstudio.com/items/tchayen.markdown-links/changelog).

Can you ensure you're running Foam for VSCode 0.3.0+ and Markdown Links 0.7.0+ and let us know if the issue persists.

[2020-07-26 15:00] jevakallio commented on #158
@brtbt that doesn't seem to be the same issue. If you have a problem with the visualisation, please open a separate issue in [markdown-links](https://github.com/tchayen/markdown-links) -- though we are already working with the author to improve it.

[2020-07-26 15:03] hmuny99 commented on #158
Visualization now is fixed.

[2020-07-26 15:03] #158 closed

[2020-07-26 15:03] jevakallio commented on #165
IMO the first part is already covered in Getting Started, but if you want to write a recipe for this, I'm happy to have one!

Right now as project maintainer I want to focus on Foam-specific improvements, and not on telling people how to unzip a file or -- I figure a user at that level might not have a good time with Foam at this early stage, and would likely to have a better experience as a later

[2020-07-26 15:05] jevakallio commented on #164
@d2s thanks for reporting this! It's already been reported as https://github.com/foambubble/foam/issues/160, so I'm going to close this as a duplicate and track the issue there.

Looks like a potential Windows issue. I don't have a Windows box available right now, but let me look through the source code and see if I can see anything suspicious!

[2020-07-26 15:05] #164 closed

[2020-07-26 15:10] jevakallio commented on #154
Agreed with Tomasz over at https://github.com/tchayen/markdown-links/issues/36 -- we'll be working on improving visualisations over time. Proposals welcome at https://github.com/tchayen/markdown-links/issues/36

Closing this issue for time being, as we're not likely to going to be working on this specific approach.

[2020-07-26 15:10] #154 closed

[2020-07-26 15:12] #165 closed

[2020-07-26 15:15] jevakallio commented on #165
Update: I added the "Download as zip" link to the Getting Started guide:
https://github.com/foambubble/foam/commit/16a0e94d3f2e2edd80004491781e5130339cd269

[2020-07-26 15:33] Travis42 commented on #161
Wow.  This is good--I think it goes a long way toward adding polish to the experience by not forcing people to use shortcuts/hotkeys.  With such steps, its more conceivable that a person who doesn't code would use Foam.

[2020-07-26 16:03] jevakallio commented on #162
@hmuny99 as per our discussion on Discord, this is an issue with Foam not recognising mixed case file names. This is something we are addressing with [link reference definition improvements](https://foambubble.github.io/foam/link-reference-definition-improvements).

Closing this issue to make triage a bit easier, since the root cause fix is being tracked elsewhere!

[2020-07-26 16:05] #162 closed

[2020-07-26 16:14] nixsee commented on #161
Thanks! This kind of thing is getting towards the limits of my coding skills - literally just adding some entries to the json and .js file and a few hours looking for and testing icons (the toolbar is so narrow that the really neat ones don't work at all) - so I sort of straddle the line between the general person (who tend to view me as a wizard) and you actual wizards.

As such, hopefully someon

[2020-07-26 16:46] MehraAkshay commented on #160
@jevakallio Definitely!

Here's the partial "about" output from VSCode:

Version: 1.47.2 (user setup)
OS: Windows_NT x64 10.0.18363

[2020-07-26 17:11] synesthesia commented on #165
Ok

[2020-07-26 18:02] nixsee opened #166 "Setting for Link Reference Definitions doesn't seem to do anything. Also, various other issues with links and previews"
Heres a couple videos I made with using the with and without extensions setting - it doesn't seem to do anything. I tested with every way of entering a link and it does the same thing, always creating a .md extension.

With both, when I use [[ ]] to create a link, whether I press enter or click on the autocompleted result, it creates a link with *.md. And when there is .md, the link definitions do

[2020-07-26 23:01] jevakallio commented on #160
Merged #167 and released 0.3.1 https://github.com/foambubble/foam/releases/tag/v0.3.1

FYI @MehraAkshay @ricalamino @d2s  -- can you please test. I'll close this once the fix has been verified!

[2020-07-27 00:15] MehraAkshay commented on #160
@jevakallio Just installed 0.3.1 on my windows VSCode and Alt+D/"Open Daily Note" works as expected! Same for Mac. I can't speak to operation on a Linux machine.

Thank you!

[2020-07-27 00:37] ricalamino commented on #160
Working perfectly now in the new version!

Thank you!

[2020-07-27 01:11] nixsee commented on #166
Ok, I'm stupid. The purpose of that setting is to add .md to the Link Reference Definitions at the bottom, not the links in the body of the note.

As an end-user, whether or not you need to have the link definitions at the bottom, and how they're formatted is not particularly important to me. What is important to me is that the in-line links have the same formatting, whether they're generated by a

[2020-07-27 02:54] nixsee opened #169 "Consider integrating Toast UI Editor (WYSIWYG and MUCH more) into Foam"
[UNotes](https://marketplace.visualstudio.com/items?itemName=ryanmcalister.Unotes) and [Markdown Live](https://marketplace.visualstudio.com/items?itemName=keshan.markdown-live) VS Code Extensions are built off of this heavily developed tool - [Toast UI Editor](https://ui.toast.com/tui-editor/) (which is a part of its own broader suite of tools).

It has WYSIWYG, a toolbar that sits below the title

[2020-07-27 03:09] taydr opened #170 "Publish Foam to Vercel"
I'd like a way to publish from my private Github repo to Vercel, but there's no clear documentation.

[2020-07-27 06:05] vitaly-pevgonen commented on #160
Can confirm on Windows box: didn't work on v0.3.0 (it could create note, but could not open it; in error message backslashes in file path were replaced with %5C), works on v0.3.1.

[2020-07-27 06:53] jevakallio commented on #160
Thanks for reporting and fixing @MehraAkshay 🙇

[2020-07-27 06:53] #160 closed

[2020-07-27 07:36] mathieudutour commented on #170
We don't really have a documentation for it yet but here is an example of a jekyll website deployed to vercel: https://github.com/vercel/vercel/tree/master/examples/jekyll

[2020-07-27 10:35] VKondakoff opened #171 "Two 'Backlinks' panes right after install"
Hello!

There is two 'Backlinks' panes right after initial Foam install. Why is this?

<img width="599" alt="Снимок экрана 2020-07-27 в 13 31 10" src="https://user-images.githubusercontent.com/230824/88532725-c23ab100-d00d-11ea-96f8-8ff4fb94eeeb.png">

macOS Big Sur
VSCode: 1.47.2
Foam: 0.3.1

[2020-07-27 11:40] VKondakoff commented on #169
To be honest, I really want to see WYSIWYM (Typora-like) editor in Foam, not WYSIWYG-one.

[2020-07-27 12:21] nixsee commented on #169
@VKondakoff If you're referring to how Typora allows you to enter markdown syntax and then it automatically converts to a formatted version in real-time, so that there's only one "view", yes that is fantastic. But I see two problems with it:

1. Unless you know of an open-source tool for it, I suspect it is a very large job to build and using Toast would be a way to get similar functionality while

[2020-07-27 12:57] DblK opened #173 "Impossible to use it with Auto-Open Markdown extension"
I add to deactivate the extension `hnw.vscode-auto-open-markdown-preview` because, the graph does not stay in place and I have to always display it manually.

It would be nice if you can:
1) Make it compatible
2) Auto-Disable the extension for workspace only.
3) Make a note about it ;)

Thanks for your product.

[2020-07-27 13:12] nixsee commented on #169
Here's one open-source WYSIWYM editor https://prosemirror.net/

And a couple other WYSIWYG ones for reference.
https://pandao.github.io/editor.md/en.html
https://github.com/tylingsoft/markdown-plus

I still prefer Toast for all the reasons I shared above and in the [discord](https://discordapp.com/channels/729975036148056075/729978910363746315/737134108760866847)

[2020-07-27 13:19] nixsee commented on #161
After more thought, I would very much prefer seeing a full-fledged markdown editor (with its own toolbar) be integrated into Foam. I have opened an issue regarding this [here](https://github.com/foambubble/foam/issues/169).

Still, this is an option that should be relatively quick and easy to integrate as a recipe

[2020-07-27 13:52] VKondakoff commented on #169
This is an interesting plugin: [Crossnote](https://marketplace.visualstudio.com/items?itemName=shd101wyy.crossnote).
WYSIWYM markdown editing in VSCode. Never thought it was possible:

![](https://i.loli.net/2020/04/12/lTMIFCuUcyeSGjV.gif)

[2020-07-27 14:47] anku255 opened #174 "foam-vscode: Janitor command adds the heading above the frontmatter"
**Actual:**  The `Run: Janitor (Experimental)` command adds the heading above the frontmatter.

**Expected:** The generated headings should be below the frontmatter.

**Demo GIF:**

![](https://i.imgur.com/9kLGE0X.gif)

[2020-07-27 15:04] jevakallio commented on #174
Foam should support all three styles of Headings

Regular Markdown H1
[code]

Alternate Markdown H1
[code]

YAML Frontmatter
[code]

Right now we don't support Frontmatter, but I'm happy to add it -- should be very easy. We'll just need to add it to Markdown Links (and Markdown Notes?) as well.

If someone wants to pick this up, as an implementation note, I'd like to have the entire frontmatter me

[2020-07-27 15:06] jasonwilliams commented on #174
It’s worth thinking about what happens if you have both the h1 and the title attribute (I’ve seen this arise in some cases). We had a discussion on GitJournal that the h1 should have priority

[2020-07-27 15:09] jevakallio commented on #174
@jasonwilliams I just mentioned the same issue above, but my choice would be to prefer the frontmatter title. My rationale is that you may want to have a different display title in the page itself, while keeping the "metadata title" stable for all other documents that refer to it.

[2020-07-27 15:28] Awannaphasch2016 opened #175 "Support for Query?"
This is a feature request.
I really want to migrate my data from roam research to foam, but query features is the big part of my note taking style.
I refer to Query feature from roam research. (I believe that Query is under used. )

I attached link that query can be used for
1. https://www.youtube.com/watch?v=LJZBGJOzhUY&t=494s ( basic usecase of query)
2.  https://www.youtube.com/watch?v=D8lGWF1N

[2020-07-27 16:30] anku255 commented on #174
@jevakallio I have self-assigned this. The expected behaviour now becomes:

The Janitor should not generate heading if any one of (frontmatter, #, and ===) heading exist.

Also, it seems like Markdown Notes works without the heading. We just need to make changes to `Markdown Links` extension.

The deliverables for this PR becomes:

- [ ] Add frontmatter metadata to the NoteGraph node.
- [ ] Parse

[2020-07-27 16:33] jevakallio commented on #174
@anku255 LGTM!

[2020-07-27 17:00] SanketDG commented on #169
I am sort of looking for feedback here, I would like to know what advantages are to be gained on implementing something like this on top of Foam. I absolutely understand that they make Foam more accessible to a larger audience, but other than that, this is all I could figure out:

WYSIWYG - More control and options for styling
WYSIWYM - Aesthetics and accessibility (without the preview)

I am sort

[2020-07-27 17:19] VKondakoff commented on #169
@SanketDG: not sure I understand you correctly.

Both system offers the same set of options for styling. The difference is that WYSIWYG completely hides markdown tags and you style your note using keyboard hotkeys and available buttons/menu items. WYSIWYM, on the other hand, act exactly as an ordinary markdown editor when you edit text, but hides markdown tags when you exit the current line or mar

[2020-07-27 18:13] SanketDG commented on #169
Right, in retrospect, I see that I could I have used more words to explain what I wanted to convey.

I would want something like this too, it just seems not possible right now natively within VSCode.

[2020-07-27 19:36] nixsee commented on #166
Part of this issue is now resolved by changing the setting "Vscode Markdown Notes: Note Completion Convention" to "noExtension". Now autocompleted links do not have the troublesome ".md" within the brackets, which allows Link Reference Definitions to be created

Until this setting can be set to "noExtension" by default, I'll leave this issue open for other to find.

[2020-07-27 19:37] VKondakoff commented on #171
Looks like these are from two different plugins:

<img width="533" alt="Снимок экрана 2020-07-27 в 22 34 36" src="https://user-images.githubusercontent.com/230824/88583839-76155e00-d059-11ea-929b-45fc42e5a1f2.png">

'Markdown Memo' is not included in the Foam, right?

[2020-07-27 20:06] Klaudioz commented on #163
I found the reason for the behavior described above:

[URL](https://learningactors.com/code-server-run-vs-code-on-a-remote-server/)

So basically to update the version of foam with code-server it's needed to reach them to add it to their repository with it looks not updated.

[2020-07-27 20:06] #163 closed

[2020-07-27 20:07] nixsee commented on #169
@VKondakoff Crossnote seems pretty neat from my quick test-drive. I'm not sure how I feel about it fully taking over the folder panel etc.., but I like the WYSIWYM features and it seems to play nicely with the existing links, graph etc..., the links work (which doesn't current apply to Markdown Preview Enhanced, which I vastly prefer over the built-in Previewer).

As I mentioned in the [#markdown-

[2020-07-27 20:17] VKondakoff commented on #169
Let's see after the devs investigate the LSP further...

[2020-07-27 20:48] nixsee commented on #169
Indeed - I'm looking forward to the upcoming RFCs on all the big topics. I'm certainly satisfied with my setup for now, so I think I'll take this as a cue to check out for a few days and get to work actually writing!

[2020-07-27 23:27] riccardoferretti commented on #170
Good find @mathieudutour, shall we add a recipe for this?

[2020-07-27 23:40] jsjoeio opened #183 "Add standards/conventions for spelling in Contribution Guide"
@ShaunaGordon brought up a great question:
Do we have any standards/conventions on British vs American English? That's the only other thing I see.

From @jevakallio in same discussion

For now, we may want to add a short line to the [Contribution Guide](https://foambubble.github.io/foam/contribution-guide) explaining that we should stick to UK English.

Related:
- #179

[2020-07-28 06:47] mathieudutour commented on #170
Yeah seems like a good first step. As described here: https://github.com/foambubble/rfcs/pull/2 I'd like to support it a bit further but that will be down the line

[2020-07-28 08:34] ituri opened #184 "Create Zettelkasten-style filenames"
Hi!

I'm a avid user of [The Archive](https://zettelkasten.de/the-archive/) but foam seems to be such an intruiging app that I'm currently thinking about switching to foam. There's one thing I'd like to keep: The way that The Archive creates new notes. All new notes have timestamp IDs so a note created on `2014-02-26 9:39a.m.` is saved as 201402260939.md. This way, the links between the notes don'

[2020-07-28 09:56] jevakallio commented on #171
@VKondakoff nope, that's not a Foam-installed extension, sounds like it's part of [vscode-memo](https://github.com/svsool/vscode-memo).

Markdown Notes is what we use, but you're free to use either that works for you -- just be aware that the interaction between vscode-memo and Foam is not tested, and some things might conflict!

[2020-07-28 09:56] #171 closed

[2020-07-28 13:07] LukeStorry commented on #134
It could be possible to fix by adding a HTML `<base>` tag to the default layout.

[2020-07-28 15:16] zomars opened #185 "Feature request: Paste images from clipboard to markdown"
Is it possible? I think this would be greatly enhance de note-taking ability of foam.

[2020-07-28 15:38] Klaudioz commented on #185
You can use the extension [Paste Image](https://marketplace.visualstudio.com/items?itemName=mushan.vscode-paste-image)

[2020-07-28 16:08] jevakallio commented on #185
Yup, it's already in Recipes
https://foambubble.github.io/foam/recipes#write

[2020-07-28 16:08] #185 closed

[2020-07-28 16:13] juanfrank77 commented on #134
Hey @LukeStorry
Would you mind opening a PR on the [template](https://github.com/juanfrank77/foam-eleventy-template)?
I'd really appreciate it, have been really busy last week so I haven't able to look much into this.

[2020-07-28 16:19] zomars commented on #185
Thank you! 🙏

[2020-07-29 11:28] LukeStorry commented on #134
@juanfrank77 I couldn't get that template working at all, it doesn't use the scss or any 11ty templating.

I am in the progress of making my own site work nicely with 11th+foam, then I'll split out a template that works, and depending how different it is, put in  PR

[2020-07-29 12:12] xiaoland opened #188 "Chinese Foam Document"
Hello, I am currently Chineseizing the Foam document.
But there are too few people who know this document, so may I have a request here: Can you add a link to the Chinese document in your GitHub pages, thank you.
 I hope that more Chinese users can participate in the development of Foam.
**The link to the Foam Chinese Doucment: https://xiaoland.github.io/Foam-Chinese-Document/**

[2020-07-30 05:07] dshemetov commented on #184
The file format is pretty specific, but subject to change according to [this document](https://foambubble.github.io/foam/foam-file-format). To me, this seems like a downstream concern of [design specs](https://github.com/foambubble/rfcs/pull/3) that are still being drafted for a much broader picture of the software.

[2020-07-30 05:30] dshemetov commented on #151
Hey, I'd like to help out. Can I give doing this docs work a shot?

[2020-07-30 15:41] kneely opened #196 "Support Weekly Notes Natively"
First of all thank you for your hard work. This package is just what I was looking for to capture my notes.

This is a feature request. I would like to see a shortcut for creating a weekly note just like the daily note. In my workflow and a lot of other workflows as well supporting a weekly review note would be extremely beneficial.

I plan to look into this as well. Hopefully if I get some time t

[2020-07-30 19:11] nixsee commented on #151
@dshemetov Sure! The instructions on the link to the Github repo for my OneNote script are fairly thorough, so you could probably  just copy and paste them and make some edits from there if you think its necessary. I can give it a final review to make sure it matches how the script works.

[2020-07-31 01:56] cpopell commented on #50
I'm running into these issues too. This is tremendously elegant way of solving situations that don't support [[]] format. Unfortunately, all of my stuff is sentence cased + spacing. The actual file names are (e.g.) "Summa Theologica.md". Right now I'm using Obsidian, where that's not a problem, but prior to this I used VSCode for everything so I have a hope I can keep using it. That said, capitals

[2020-07-31 02:25] Klaudioz opened #197 "Azure DevOps wiki recipe"
I pushed some changes to my GitHub repository and I'd like to update the wiki. How can I do that?
I checked the entire Azure DevOps UI and I couldn't find it.

[2020-07-31 06:02] vitaly-pevgonen commented on #197
Hello,

When the repository is published as wiki, wiki is updated automatically when you push changes to the repo.

[2020-07-31 08:46] thisizkp commented on #149
Any idea how to achieve the same when using https://github.com/mathieudutour/foam-gatsby-template?

[2020-07-31 09:16] Dasein-Yang opened #198 "Can we organize our files in folder ?"
Now we add markdown by [[todo]] and todo.md will be created in the current directory. But a number of files will be listed in the main folder and not organized enough. So can we category the  items in folder like when we type [[read:todo]] and todo.md will be created under read subfolder?

[2020-07-31 11:35] vitaly-pevgonen commented on #196
If you only need weekly notes and not daily notes, with following parameters:

[code]

in workspace's .vscode/settings.json, it works right now. Feature name in menu is still "Open Daily note", but it would create file with name "week-<ISO week number>.md" with heading "Week <ISO week number>".

[2020-07-31 12:17] Klaudioz commented on #197
@vitaly-pevgonen Thanks for your answer. I followed all the steps of the recipe and the wiki is having a very un-updated version of my repository.

[2020-07-31 13:10] jevakallio commented on #198
@Dasein-Yang creating a file in a different directory is not supported yet, but you can either:

1. Type [[todo]], click through to it to create todo.md in the root, and then move the file to read/todo.md. When you save the file that contains the [[todo]] link, it will update the definition at the bottom of the file to automatically point to read/todo.md.
2. Manually create a file in read/todo.md,

[2020-07-31 13:10] #198 closed

[2020-07-31 13:16] jevakallio commented on #196
@kneely I'm not wild about adding a "weekly note", as it begs the question: what about "monthly note", "quarterly note", etc. If this issue gets more votes, I'm happy to consider it.

Could you explain to me how do you use a weekly review note?
- What goes into it?
- How frequently do you access it?
- Do you look back at old weeks or are they scrapped?

@vitaly-pevgonen great tip!

Others, if you'

[2020-07-31 16:42] kneely commented on #196
Thank you both for your replies.

@vitaly-pevgonen are you using this in conjunction with Daily Notes as well. If that's the case a little renaming of Daily Notes and changing of some logic would work well.

@jevakallio I am thinking about the whole package. ("monthly note", "quarterly note", etc)

- I work in IT and support many customers. So logs of what has happened that day. Backlinks to diffe

[2020-07-31 22:36] vitaly-pevgonen commented on #196
Currently I'm using it for daily notes only, but will check in couple weeks if it would make sense for me to switch to weekly notes only. So settings cover my current and possible future use cases.

Your workflow looks different from my. What is purpose of concurrent daily and weekly notes? How do you decide what goes to daily and what goes to weekly note?

[2020-07-31 22:58] kneely commented on #196
Weekly notes are a review of highlights that happened during the week. I set aside 30-60 minutes every Friday to review the daily notes and pick out parts for the weekly. Then I do the same thing with monthly notes except I review the weekly.

[2020-07-31 23:39] PhilFuster opened #199 "Ability to Create Custom Actions similar to openDailyNote"
This is a feature request for something along the lines of openDailyNote, but custom.

It would have the following abilities:
1. Designate the directory to place these newly created notes in
2. Designate the format of the file name
3. Designate a template/snippet to use
4. Be able to designate the configuration from settings.json

This thought came to me when trying to create a time sheet for work

[2020-08-01 01:25] Sholanki commented on #149
This is exactly my question.

[2020-08-01 02:54] dshemetov commented on #151
Thanks! Ok, I mostly just ported the Usage instructions in the README.md at your script repo. #200 is my fork.

[2020-08-01 11:37] mathieudutour commented on #149
Could you open an issue on the gatsby-digital-garden repo? I'm sure we can find a solution

[2020-08-01 16:41] Klaudioz commented on #149
That's is a great idea and I was thinking to include a tag like `excluded` because I'm thinking to publish almost everything and I want to protect very few private notes.

[2020-08-01 17:48] shkdmhhb commented on #50
@jevakallio, for the link definitions, is there a setting for the auto generated links to include the ".md" extension?

Atom editor has this terrific extension, https://atom.io/packages/markdown-mindmap, that i used occasionally for my MD files for visual naivgation.  Unfortunately, without the ".md" extension, it literally tries to open the file without the ".md".

[2020-08-01 19:47] shkdmhhb commented on #50
nvm, show the new setting added in #133 .

[2020-08-01 19:58] vitaly-pevgonen commented on #197
So we've have discussion in Discord, and problem was with remote not pointing to Azure DevOps repo but to github.

[2020-08-02 15:09] Klaudioz commented on #197
I've created a PR to add this information. Thanks for your help @vitaly-pevgonen

[2020-08-02 15:09] #197 closed

[2020-08-03 16:41] #174 closed

[2020-08-03 17:49] riccardoferretti opened #209 "Keep foam in sync when changes are made to files"
See relevant conversation here: https://github.com/foambubble/foam/pull/191#issuecomment-667634497

[2020-08-04 20:46] ingalless commented on #184
You may also try taking a look at daily note settings to see if it fits your needs?

Check it out here! https://foambubble.github.io/foam/daily-notes#configuration

[2020-08-04 20:51] ingalless commented on #130
Just to add

`files.exclude` is good, but I'd love to see it respecting `.gitignore` too!

[2020-08-05 08:04] ituri commented on #184
You're right. I've just gotten into Roam and realized that I don't really need the unique IDs since I rarely change titles of a note. Thanks for your help!

[2020-08-05 08:04] #184 closed

[2020-08-05 10:34] thomaskoppelaar commented on #196
@kneely I've quickly put together an [extension](https://marketplace.visualstudio.com/items?itemName=thomaskoppelaar.repeating-notes) that would allow you to take daily/weekly/monthly notes - its quite rough around the edges, but you could decide to try this out.

[2020-08-05 11:01] thomaskoppelaar commented on #88
## What note taking tools have you used before?

Too many to count, but the most recent one was **Notion**.

## Why did you migrate away from them?

The offline mode isn't great, and I don't have full control over my files - They stay on Notions platform for the most part.

## What do you hope Foam can do support your note taking habit, now and in the future?

I'm absolutely loving Foam. I think t

[2020-08-05 12:31] VKondakoff opened #211 "New file is created by hoovering over wiki link"
New file is created by *Cmd+hoovering* over wiki link.
Here is [a video](https://www.dropbox.com/s/arzvjilpyi8lgvx/%D0%B7%D0%B0%D0%BF%D0%B8%D1%81%D1%8C%20%D1%8D%D0%BA%D1%80%D0%B0%D0%BD%D0%B0%202020-08-05%20%D0%B2%2015.25.15.mov?dl=0):
- created new note
- added a wiki link to a non-existing file 'something'
- Cmd-hovering over wiki link: new note 'something.md' was created and the links were added

[2020-08-05 12:47] VKondakoff opened #212 "Markdown links: (almost) empty graph view after loading files"
Hello!

I just copied my Obsidian notes to a fresh Foam folder (workspace), restarted VSCode and loaded Foam workspace. And here is what I see after issuing a command `Markdown Links: Show Graph`:

<img width="709" alt="Снимок экрана 2020-08-05 в 15 39 36" src="https://user-images.githubusercontent.com/230824/89414033-6b7e5700-d732-11ea-95e0-faa90a3977e0.png">

So, the graph is empty, and the only

[2020-08-05 13:06] jevakallio commented on #212
Every note needs a title to work in Markdown Notes. See https://foambubble.github.io/foam/link-formatting-and-autocompletion

You can try running Foam Janitor for this (but please backup your notes first just in case)
https://foambubble.github.io/foam/workspace-janitor

(Excuse brevity, on mobile)

[2020-08-05 13:08] VKondakoff commented on #212
Got it, thanks!

[2020-08-05 17:57] bclinkinbeard commented on #85
MPE's preview is much better, but links don't seem to work. Did you have that issue @jevakallio?

[2020-08-05 22:05] fi0 commented on #86
Apart from tags, the date of creation and last modification mentioned in the original post can be very useful.

[2020-08-06 09:29] riccardoferretti commented on #86
YAML support has been added in https://github.com/foambubble/foam/pull/191

[2020-08-06 15:18] thomaskoppelaar commented on #211
@VKondakoff its best to open an issue on this in the [markdown-notes repository](https://github.com/kortina/vscode-markdown-notes/issues), or check if it exists already

[2020-08-06 17:50] SanketDG commented on #85
@bclinkinbeard What's the error?

[[Links]] also seem to not work with me, but it's because MPE expands [[Compiler Study]] to `Compiler_Study.md` for me!

[2020-08-06 17:57] bclinkinbeard commented on #85
No error, clicking just doesn't do anything.

[2020-08-06 18:37] VKondakoff commented on #211
@thomaskoppelaar: thanks for a suggestion!

[2020-08-06 18:58] VKondakoff opened #213 "Foam support issues/suggestions/discussion"
I noticed this issue after reading [this suggestion](https://github.com/foambubble/foam/issues/211#issuecomment-669993474). Where should users post their Foam-related issues: on the main Foam support board or on the specific plugins boards? Let's discuss this!

I'm pretty sure most of the Foam users are thinking of Foam as a full-fledged solid product and want support from the developers of Foam,

[2020-08-06 19:16] nixsee commented on #213
Seems like a useful discussion to have, in order to both lighten the load on our fearless leaders as well as get support from where it actually needs to come from.

#2 is a very good idea.

[2020-08-06 20:29] thomaskoppelaar commented on #213
I think that # 2 is a good suggestion - Documenting what extension does what is a great option + pinning an issue stating "where should I post issues" ensures that the relevant people get the relevant information.

As issues tend to be related to certain extension behavior, I think its best to disclose those to the relevant extension.

As for enhancements: those are more context dependent, and can

[2020-08-07 16:46] martinlaws commented on #38
In my opinion, a big part of the benefit of deploying to Netlify is the ability to quickly configure their [Identity service](https://docs.netlify.com/visitor-access/identity/#enable-identity-in-the-ui) for easy + secure user authentication. I'm going to tinker with setting that up for my own instance of `foam-gatsby-template`, and would be happy to contribute my learnings back as a recipe, would

[2020-08-07 19:01] xemoka commented on #50
I would love a setting to disable this entirely. I do not wish to have __any__ auto-generated content saved to the file. For the longest time this wasn't affecting me, now every file I have gets saved with this at the bottom; this is entirely unwanted. It does not disable by turning off formatOnSave either which is infuriating.

[2020-08-08 20:10] martinlaws commented on #38
Update - I also found a super simple way to run a built `foam-gatsby-template` project's `index.html` through [StatiCrypt](https://robinmoisson.github.io/staticrypt/) during Netlify's build for a super simple way to password protect a deployed Gatsby Foam instance. You're welcome to try to break into mine at https://mlawsbrain.netlify.app/

[2020-08-08 20:18] martinlaws commented on #38
Actually, I take this back (lol don't mind me conversing with myself here). I think I've found a simpler way to password-protect a deployed Foam instance (in my case, using `foam-gatsby-template`).

I've just run the built project's `index.html` through [StatiCrypt](https://robinmoisson.github.io/staticrypt/) during Netlify's build for a super simple way to password protect a deployed Gatsby Foam

[2020-08-08 21:29] kthy commented on #211
I actually quite like the create-by-hover functionality.

([Obligatory XKCD](https://xkcd.com/1172/))

[2020-08-08 21:49] nicholasnadel commented on #63
I'd love this too

[2020-08-09 04:26] dakenblack opened #217 "Broken Wiki-links"
Hi,

I've got an issue with the wiki-links feature. See screenshot, I've linked to 2 files within the same directory but vscode isn't generating the reference list at the bottom of the page when I save. It works for some pages (a minority) but not all. Unfortunately I can't identify any pattern to these failures, i.e. I don't know what's different about the pages that work from the ones that don't

[2020-08-09 16:29] zbw8388 commented on #217
It seems like there's an issue with capitalized file name. Try rename your notes to "aws.md" and "tensorflow.md" and save again.

"show graph" is actually provided by another extension, so there's inconsistency between two extensions.

[2020-08-09 21:39] riccardoferretti commented on #38
That's a really good idea! I didn't know about StatiCrypt and it looks pretty cool.

I have actually found a way to get into your site (won't share how, so that other people can give it a try).
I can say you have listed that you are currently playings 4 games, amongst which Starcraft (by the way, great taste, the most amazing game!)

Password protecting the site (or parts of it) sounds like an int

[2020-08-09 23:50] dakenblack commented on #217
Righto,
That worked! I should've picked that up thanks.

So there is an issue with filenames with capital letters.

[2020-08-10 22:16] kneely commented on #196
@thomaskoppelaar  Thank you for your suggestion. My vision was a little more interchangeable. Please take a look at the extension I have put together. [note-macros](https://github.com/kneely/note-macros)

@jevakallio This issue is now void.

[2020-08-10 22:16] #196 closed

[2020-08-11 18:52] jevakallio commented on #217
@dakenblack @zbw8388 correct, this is documented in https://foambubble.github.io/foam/link-formatting-and-autocompletion

We are going to fix this, but for stupid reasons it's a bit hard to fix for one segment of users who prefer their links to match file cases literally, without breaking it for others who expect the links to be slugified to `lower-dash-case` format, which is what Foam's initial v

[2020-08-11 18:52] #217 closed

[2020-08-11 18:58] jevakallio commented on #213
@VKondakoff thank you for raising this discussion, and apologies for delayed response -- very ironic given the topic of the issue :)

Approach #2 is definitely the direction I want to go to. I believe this should consist of, at least

1. A documentation page that shows how to get support
2. GitHub issue template
3. Pinned message on Discord #start-here channel

I'm happy to receive contributions t

[2020-08-11 19:00] jevakallio commented on #211
@kthy 😆  I also quite like this feature.

@VKondakoff thank you for reporting. Like you've identified in #213, the line of support for different extensions is a little unclear at the moment, and we'd benefit from making it clearer.

For now, there's nothing for Foam to do to fix this issue, so closing it for housekeeping.

[2020-08-11 19:00] #211 closed

[2020-08-11 19:01] #212 closed

[2020-08-11 19:37] jevakallio commented on #199
Hi @PhilFuster! User @kneely has implemented this in a third-party extension over here: https://github.com/kneely/note-macros -- check it out!

At the time, I think this feature is best implemented in a third-party extension rather than in Foam core, so closing this as wontfix for now!

[2020-08-11 19:37] #199 closed

[2020-08-16 00:53] I4son commented on #44
hi all, reposting here for easier tracking. I've come across this while looking for web clipper extension.

[markdown-clipper](https://github.com/deathau/markdown-clipper) is a chrome extension that use Readability.js and Turndown behind the scene and able to save content fo file.

[2020-08-17 01:34] mgmeyers commented on #94
I noticed this as well when I set up prettier to format line lengths. Could there be an option to wrap the autogenerated link references like so?

[code]

[2020-08-17 12:34] wassona commented on #90
I've been thinking about this and haven't tried anything yet, but could this be solved by git submodules? A core set of public notes could be saved to a main module, backed up to a public repo, and private notes, or a separate subset, could be placed in their own folder within the main repo, saved as a submodule, and backed up to a separate repo with whatever privacy settings are appropriate.

Aga

[2020-08-17 15:03] ShaunaGordon opened #226 "Wiki-links MD compatibility generator spacing from end of content"
**Current behavior:** When Markdown-compatible links are generated and added to the bottom of the document, they add only one additional newline. When VSCode is using application defaults (no newline on save), this results in only one newline between the content and the links, which Markdown doesn't interpret as a new paragraph/element, resulting in the links getting "attached" to the content.

**

[2020-08-18 15:27] Thiruppathi commented on #130
@jevakallio I've fixed it for Gatsby template here.
https://github.com/mathieudutour/foam-gatsby-template/pull/11

Can you please have a look at the PR?

[2020-08-20 11:49] ScientificX commented on #175
The google drive file linked seems to be non publicly shared ?
@Awannaphasch2016

[2020-08-23 13:57] tristansokol opened #229 "First Daily note fails after changing `foam.openDailyNote.directory`"
Hi, I'm new. Thank you for all your work so far, foam has been interesting to check out!

I noticed that immediately after setting `foam.openDailyNote.directory` running the **Open Daily Note** command results in a little error pop-up:
![image](https://user-images.githubusercontent.com/867661/90979921-badbca00-e51d-11ea-8477-4975185e1639.png)
[code]

Running the command again works fine as the fir

[2020-08-24 14:45] Awannaphasch2016 commented on #175
I have shared it publicly now. Thank you for pointing that out. Whenver there is an update on this, I am willing to help contribute to the codebase as well.

[2020-08-26 02:37] zomars commented on #134
I'm also having this issue, I'm using the same eleventy template (I've made a PR also with some improvements) but I'm not using Netlify at all so the redirect solution doesn't work for me.

[2020-08-26 02:38] zomars commented on #134
@LukeStorry I've solved the scss issue in [my PR](https://github.com/juanfrank77/foam-eleventy-template/pull/3).

[2020-08-26 21:29] midopooler opened #233 "How to load GUI graph window in a workspace."
![b2380cf8-eed5-44ca-9186-aa898c4fd1cf](https://user-images.githubusercontent.com/43686606/91358920-4c468700-e811-11ea-80c8-80e9f7da0611.jpg)

[2020-08-26 23:39] juanfrank77 commented on #134
@battermann @jevakallio
Hey guys, update on this.
Thanks to the great work of @zomars the link navigation on the template works as expected now without the need for Netlify redirects so folks can opt to use another hosting service (Vercel for instance) or any other that supports static sites. 🙌

[2020-08-27 00:04] juanfrank77 commented on #233
If you are referring to how to open the graph in your Foam workspace, do `Cmd` + `Shift` + `P` (or use `Ctrl` if you're not on a Mac) and then run the `Show graph` command.

[2020-08-27 12:19] #229 closed

[2020-08-27 12:20] jevakallio commented on #229
Fixed via https://github.com/foambubble/foam/pull/232. Thanks @sksmith! 🙌

[2020-08-27 12:22] jevakallio commented on #233
Yup, this is documented in https://foambubble.github.io/foam/graph-visualisation.

We'll need to improve our onboarding documentation and these basic commands should be part of it, but in the current documentation structure there's no more prominent place for it, so closing this as resolved

[2020-08-27 12:22] #233 closed

[2020-08-27 12:24] jevakallio commented on #134
Amazing! Thank you @zomars for this!

[2020-08-27 12:24] #134 closed

[2020-08-27 13:37] alper opened #235 "Opening Obsidian directory and updating reference list gives error"
I'm trying to not migrate my Obsidian setup but just open that folder with Foam and see if I can use it as a transitional editor.

Updating the reference list gives me this error:
[code]

[2020-08-27 14:46] anku255 commented on #226
@jevakallio  I am working on it. I have found some issues already. Working on a fix.

[2020-08-27 14:57] anku255 commented on #226
@jevakallio Should there always be **two newlines** between the end of the content and the start of link references?

Consider the 3 cases:

**Case 1**

[code]

**Case 2**

[code]

**Case 3**

[code]

For all the three cases, the output should be -

[code]

Is this the expected Behaviour?

[2020-08-27 15:04] jevakallio commented on #226
There should always be exactly one blank line (so, two **newline characters**) between the end of content and beginning of the link reference block, like so:

[code]

Which, escaped, would look like this, assuming the EOL character is a line feed character, `\n`:
[code]

And like, this, if the EOL character is a CR+LF sequence:

[code]

For user friendliness, it might be preferable for there two b

[2020-08-28 09:09] midopooler commented on #233
Ohkay thanks a lot. @jevakallio @juanfrank77  I should have looked at docs first. my bad.

[2020-08-30 09:56] sudeepdino008 opened #237 "Feature request: Backlinks in markdown preview"
The backlinks today are visible only in markdown source mode, and not in markdown preview. I wonder if this intentional.
When exploring my knowledge archive, I would exclusively like to navigate in markdown preview mode (since it's rendered and neater), and backlinks are important for navigation.

[2020-08-30 14:00] sanderdatema commented on #77
Just curious if a fix is on the way?

[2020-08-30 16:32] jcmkk3 commented on #15
The first thing that I thought when seeing foam is “I wonder if they’re familiar with Neuron”. It seems like it would be the perfect backend. Neuron has had very active development.

[2020-08-31 10:24] Jackiexiao commented on #235
I have the same error, and sometimes part of link generated, but for the rest of it, it didn't generate link reference.
![image](https://user-images.githubusercontent.com/18050469/91710557-098d0200-ebb7-11ea-9791-f197de753905.png)

![image](https://user-images.githubusercontent.com/18050469/91710643-30e3cf00-ebb7-11ea-9fd8-25c426c4ab25.png)

[2020-09-01 06:59] hezhizhen opened #240 "If the title contains special characters, link references do not work as expected"
I use `[[]]` to wrap something like `O'Reilly` or `Whitesides' Group: Writing a Paper` and use `Cmd+Click` to create notes for them, there is nothing wrong about the created notes, but the link references do not contain them or use another name.

Below is an example:

<img width="280" alt="截屏2020-09-01 14 57 40" src="https://user-images.githubusercontent.com/7611700/91812423-ad33ec00-ec63-11ea-874

[2020-09-01 12:25] riccardoferretti commented on #240
IIUC you have created the `o-reilly.md` file, and expect the `O'Reilly` string to be sluggified to `o-reilly`; but instead you are getting `oreilly`. I believe this has to do with your "sluggification" logic being different from foam's.

We use github-slugger to generate the slug from the string, which converts `O'Reilly` to `oreilly`. I also tested online at https://slugify.online/ and I get the

[2020-09-01 13:41] hezhizhen commented on #240
As far as I observe, foam replaces all special characters with `-`.

[2020-09-01 15:05] riccardoferretti commented on #240
gotcha, so you are not creating the file but you are clicking through the link to create it. I just tested it and was able to reproduce.

This must be related to markdown-notes, which probably uses a different sluggification logic from foam. Let me look into it, thanks for reporting the issue!

[2020-09-02 01:25] hezhizhen commented on #240
Thank you for your time, and look forward to your solution.

[2020-09-02 04:54] chirag-singhal commented on #235
@alper You need to use [foam-template](https://github.com/foambubble/foam-template) to get started with using foam. For step by step procedure check out https://foambubble.github.io/foam/#getting-started

[2020-09-02 09:24] chirag-singhal commented on #240
Correct @riccardoferretti markdown-notes doesn't use the github slugger instead it replaces special characters with '-'.

[2020-09-02 14:18] argrento opened #241 "Use .bib files for citation and links"
Hi!

While studying a new topic, I try to find papers and store them in jabRef and I would like to link a paper from this library in a markdown file with something like this:
`More at [@BibTexKey]`.

Currently I solve it with a set of .md files in a _papers_ folder inside my Foam workspace. Each file represents one paper.
BibTexKey.md:

[code]

Is it possible to do this in more elegant way?

[2020-09-02 22:25] tlbtlbtlb opened #243 "Install procedure enables Gray Matter for all file types"
After installing foam, I found that all my syntax highlighting in other workspaces was gone and all my source code was black and white. It turned out to be because installing the 'recommended extensions' enables [Gray Matter](https://github.com/philipbelesky/gray-matter) for all file types, when it's only appropriate for markdown.

It's due to this line: https://github.com/foambubble/foam-template

[2020-09-03 13:46] scott-joe commented on #235
For what it's worth, I had some issues yesterday getting/keeping my links updated. If the extension had indexed one location of a file and I'd moved it since, it kept using that old location's relative path no matter how many times I attempted to change it. I actually had to delete the line, close the file, open it again, and try to recreate the link.

[2020-09-04 13:56] vitaly-pevgonen commented on #243
https://github.com/foambubble/foam-template/blob/21605350b458d22f3c37f739809427476530d845/.vscode/settings.json#L6 enables this extension only for current workspace. When I open another workspace (in another window), it uses theme that I have configured globally.

Does VSCode use theme that you expect, if you open another window?

What theme is configured in your user settings (Preferences: Open u

[2020-09-07 07:19] spencerwooo opened #246 "Found a way to use KaTeX and work with custom deployments (like on Vercel)"
I found a really *not-hacky-at-all* way to use KaTeX instead of MathJax. Basically you'll need to:

- Install [linjer/jekyll-katex](https://github.com/linjer/jekyll-katex) as a plugin (and load KaTeX CSS and JS via HTML tags).
- Install all the deps that `github-pages` used to install for you.
- And finally, get rid of the `github-pages` plugin.

Because `linjer/jekyll-katex` doesn't play well wit

[2020-09-07 10:25] riccardoferretti commented on #246
Thanks for this @spencerwooo !
I would suggest organizing this as two different guides:
1. the first one about Vercel deployment (in fact, that is what I would prefer myself)
2. the second one about using KaTeX (this guide would probably have a reference to the first one, but who knows in the future people might figure out how to achieve the same on other hosting solutions)

wdyt?

[2020-09-07 16:06] spencerwooo commented on #246
@riccardoferretti Of course. Let me work on those two guides.

[2020-09-08 12:41] HeroicHitesh opened #248 "License link not working"
On clicking the License button in `readme.md` it should redirect to the file containing MIT License, but it's showing 404.

[2020-09-08 12:55] #226 closed

[2020-09-08 14:51] #248 closed

[2020-09-08 15:27] #246 closed

[2020-09-08 17:15] jevakallio commented on #243
@tlbtlbtlb as @vitaly-pevgonen said, this theme should only apply to a "Foam-enabled workspace", namely a VSCode session where either the `.vscode/settings.json` or a `.code-workspace` file specifies that theme.

If this is not how it works for you, please reopen the issue! Only closing it for housekeeping as, if this is behaving as expected, it's by design.

[2020-09-08 17:15] #243 closed

[2020-09-08 19:55] brentjanderson commented on #149
From https://github.com/mathieudutour/foam-gatsby-template/issues/9

This issue can probably be closed?

[2020-09-08 20:25] jetk opened #257 "Search for hosted Foam?"
# Problem Statement:
No documented way to quickly enable a basic search of a foam project that is hosted on github pages.

# Benefits:
I often want to look through my Foam instance in the browser and also be able to share it with others. Whilst I appreciate that browsing my Foam locally means I can use VScode's search, it would greatly expand the use cases for Foam in general.

# Considerations:
P

[2020-09-09 15:51] nixsee commented on #240
I also create my files via inline [[wiki-links]], so would love a solution to using special characters (at the very "normal" punctuation like -,?!) in file names. Currently, I am just removing all punctuation other than hyphens from titles/filenames when I create them.

I don't know how this affects markdown/html though...

[2020-09-09 16:01] spencerwooo commented on #257
@jetk A published Foam workspace is simply a Jekyll generated static website, so I'd assume this would work: [christian-fei/Simple-Jekyll-Search](https://github.com/christian-fei/Simple-Jekyll-Search).

[2020-09-09 16:54] spencerwooo opened #259 "Render workspace using VuePress with built-in media-wiki links rendering, backlinks and more..."
I spent the past 3 days or so tinkering with Foam and what-not, **and I'd like to share my current progress: <https://wiki.spencerwoo.com/>.**

Some of the features that may interest you:

- Built with VuePress and **rendered into a lightweight, ultra-fast, SPA website.** I like this solution far more than Jekyll for what it's worth. Most of my own project's documentation website is powered by Vue

[2020-09-10 08:49] riccardoferretti commented on #259
In one word: impressive!

Please keep us posted

p.s. love the final quote from your repo, and I totally agree 😁

[2020-09-11 05:09] kortina commented on #240
I started looking into updating to use `github-slugger` in Markdown Notes, and I was originally thinking that I might make it the new default, but given how much breaks, I think it probably does not make sense to default to it:

https://github.com/kortina/vscode-markdown-notes/pull/85/files

[2020-09-12 17:28] mitchellmcm27 commented on #241
I also use bibtex heavily and can share my solution.

I put my .bib file in the root folder. For VS Code, I use the plugin [Pandoc Citer](https://marketplace.visualstudio.com/items?itemName=notZaki.pandocciter), which gives autocomplete for the references from the .bib file. As an aside, I use [Markdown Preview Enhanced](https://marketplace.visualstudio.com/items?itemName=shd101wyy.markdown-previe

[2020-09-14 08:55] hikerpig commented on #257
My approach of this is integrating Algolia into the site. Though if you want it to fit into your own needs, this will still need some level of customization.

Using [jekyll-algolia](https://github.com/algolia/jekyll-algolia)  and my own Jekyll page block https://github.com/hikerpig/wiki/blob/master/_includes/algolia.html

![image](https://user-images.githubusercontent.com/2259688/93065029-ccdb0380

[2020-09-14 18:31] SanketDG commented on #257
There is also https://docsearch.algolia.com/

[2020-09-15 09:41] VPetukhov commented on #44
On the topic of clippers, there is a beta open-source tool https://getmemex.com/, which provides annotation functionality for web pages and it is roam-friendly. I don't mean that it can replace a web-clipper now, but they develop fast, and probably in a half of a year it will be a good addition for the Foam.

[2020-09-15 10:24] riccardoferretti commented on #44
@VPetukhov I have used memex for a bit, really like the project, but I haven't figured out how to properly export/integrate it with other tools. They recently released https://worldbrain.github.io/storex-docs/#/storex-hub/ but haven't had a change to look deeply into it.
What do you mean by the are roam-friendly?

[2020-09-15 10:31] VPetukhov commented on #44
@riccardoferretti , I mainly meant the [Text Export Template](https://www.notion.so/Text-Export-Templates-bb1794c15dea4e588a59b52d37ca0070) feature, which allows to copy-paste individual annotations with references to an external knowledge base. And generally, they reference Roam and Obsidian in several places across the web-site, which makes me think that they will be mindful about integrations.

[2020-09-16 09:37] alan-prudom commented on #237
I believe the (as yet) unimplemented [Roadmap item](https://foambubble.github.io/foam/materialized-backlinks) would satisfy this feature request.

[2020-09-18 03:08] Jackiexiao commented on #259
great work! FYI, I create a similar [foam-mkdocs-template](https://github.com/Jackiexiao/foam-mkdocs-template)  with media-wiki links rendering (also support obsidian workspace), it looks like this:

https://jackiexiao.github.io/foam/
![image](https://user-images.githubusercontent.com/18050469/93550955-399e1880-f99f-11ea-89ed-4026c84eb772.png)

[2020-09-18 03:11] Jackiexiao commented on #257
try this one: https://github.com/Jackiexiao/foam-mkdocs-template

when I have time, I will collect different template from foam users (for example: #259 ) and add to foam document

[2020-09-18 03:17] Jackiexiao opened #264 "auto complete or vscode intellisense for Chinese?"
I want a feature like this
![image](https://user-images.githubusercontent.com/18050469/93551344-30fa1200-f9a0-11ea-8d3f-ab4b30e13387.png)

but currently foam won't pop up candidate for Chinese
![image](https://user-images.githubusercontent.com/18050469/93551461-80d8d900-f9a0-11ea-84db-61738dec419f.png)

same for `[](#..)`  `[[#title anchor]]`

[2020-09-18 04:54] HaroldLee931 opened #265 "Move MD file to other folder"
I found that the markdown link graph will not show the link between the MDs in different folder.
Also when I make a new folder under my foam_working path,  the graph can not display the link relationship for the MDs which are located in the new folder.

[2020-09-18 06:59] ingalless commented on #257
@mathieudutour also recently added search

https://github.com/mathieudutour/gatsby-digital-garden
https://mathieudutour.github.io/gatsby-digital-garden/

He has a template for Foam too!

[2020-09-18 08:46] jetk commented on #257
Thanks all for the suggestions! Feel like this would be a good battery-included feature for Foam in general but for now I'll implement myself thanks to y'all pointing me in the right direction.

[2020-09-23 07:33] dremofly commented on #235
There may be some format error in your files. When I moved from obsidian, I faced this problem, too.
And yesterday, I face this problem again.
I don't know how to find out the error file.

[2020-09-23 10:08] qiwang97 opened #268 "Update document"
I see `"watch:core": "yarn workspace foam-core start"` in `package.json` but no `start` in `/packages/foam-core/package.json` in `master` branch.
Something has changed and I find no docs to work with `foam-core`. Please update the README.

[2020-09-23 18:13] scott-joe commented on #268
If you're talking about the `foam-core` package, it doesn't have a local server, so there wouldn't be a `start` command. I would guess as this is the shared code for the other packages, it probably doesn't "do" much on it's own. You could try [running the vs-code extension locally](https://code.visualstudio.com/api/get-started/your-first-extension) or the CLI, make changes to the core code and wat

[2020-09-23 18:16] scott-joe commented on #265
Are the files linked using the Wikilink format of `[[filename]]`? The filename format and location are all fairly fragile right now. I've found that I have to ensure every file in the workspace has a unique name, it's downward accessible in the directory tree, and has a `#H1` to give it a useful title. I believe the idea right now is that _all_ markdown files would be in the same directory and the

[2020-09-23 18:22] scott-joe commented on #268
Oh I see what you mean. That might be left over from when they moved to a monorepo...

[2020-09-23 18:59] scott-joe opened #269 "Workspace & Note Organization Model"
Like @spencerwooo, I've been kicking around Foam for a little while and was mostly concerned with how I was going to organize all this information, selectively publish, and secure private scopes. This is what I came up with.

[foam--workspace](https://github.com/scott-joe/foam--workspace) & [foam--bottle--*](https://github.com/scott-joe/foam--bottle--personal) to be made into Templates soon.

To p

[2020-09-23 19:21] scott-joe opened #270 "Improve Default Workspace Settings"
Pulled from Roadmap item: [Improve Default Workspace Settings (stub)](https://foambubble.github.io/foam/improve-default-workspace-settings)

### Required
- Are there goals that these settings should meet?

### Conversation Starters
- Is the assumed workspace configuration the most basic one? Notes in the top level?
- How opinionated are these?
- Do they include configs for the required plugins?
-

[2020-09-23 20:41] scott-joe commented on #235
Hm... Yeah, looks like this is still [uncharted territory](https://github.com/foambubble/foam/blob/master/docs/migrating-from-obsidian.md). If you learn anything worth sharing in migrating, please fork and document :)

[2020-09-24 04:52] Am3ra commented on #146
@jevakallio I would like to help resolve this. (btw, the discord link doesn't work anymore.)

Do you know which extensions exactly don't activate on those files correctly?

Additionally, what about including other extensions such as https://marketplace.visualstudio.com/items?itemName=silvenon.mdx

or https://github.com/mdx-js/vscode-mdx ?

point is, why not  include other extensions?

[2020-09-28 02:31] HaroldLee931 commented on #265
OK, I understand. Thanks for your reply.
Seems I need to take care for the filename for now, if I want to make some cross domain(research area) notes.
BTW, this is a really cool tool.

[2020-09-28 07:00] hikerpig commented on #264
Things work smoothly on my side, so I don't think this is foam+Chinese issue. At least not in a clean VS code setup.
But I do find that code-intellisense may have troubles in foam notes project in my regular extensions-heavy VSCode, so it might be a mixed problem of multiple extensions you are using and the specific VSCode config.

[2020-09-29 01:53] Jackiexiao commented on #264
yes.... I try it in a clean vscode insider, it works fine... let me find out which extension cause this problem..

[2020-09-29 02:49] Jackiexiao commented on #264
I believe it is a bug from `markdown note`, when I disable this extension, autocomplete for Chinese works well

related issue

https://github.com/kortina/vscode-markdown-notes/issues/97

[2020-09-30 12:40] jasonwilliams commented on #140
I think this issue can be closed now that https://marketplace.visualstudio.com/items?itemName=jasew.anki is available.
If there's a link of extensions this can be used with maybe it can be added there.

[2020-09-30 13:24] #140 closed

[2020-09-30 17:18] scott-joe commented on #265
Right. I've got a weird solution that I'd like to move into the Foam tool itself, but this may help you organize your notes.

https://github.com/scott-joe/foam--workspace is my workspace and https://github.com/scott-joe/foam--bottle--personal is an example of a collection of notes. There's a description of my approach in the workspace repo. Let me know if it's close to what you're trying to do.

[2020-10-01 09:15] riccardoferretti commented on #268
@qiwang97 we have consolidated the commands available across all packages, you can find them in the top level `package.json`, and are `clean`, `build`, `test`, `watch`, `lint`.

There are still a couple of extra commands, but the ones above are a sort of "public api" for managing all packages - is this addressing your question?

[2020-10-01 09:20] riccardoferretti commented on #265
There are several improvements in the works that would come with support for LSP, including sounder wikilinks - you can see a demo of the current prototype here: https://youtu.be/ZqLEGGmOw-8

This will also have proper support for directories (theoretically it's already there but as you said it's brittle)

[2020-10-02 17:35] scott-joe commented on #265
https://www.youtube.com/watch?v=ZqLEGGmOw-8&feature=youtu.be In this, it looks like some work is being done on how Foam sees files and directories, but the graph is another project. It may require some parallel work or a fork to get it working with sub-directories.

[2020-10-02 17:36] scott-joe commented on #265
Subscribed!

[2020-10-02 17:38] scott-joe commented on #268
@riccardoferretti They mean that [this line](https://github.com/foambubble/foam/blob/master/packages/foam-core/README.md#npm-start-or-yarn-start) is misleading and would like it removed.

[2020-10-03 02:16] jsjoeio commented on #235
I did migrate from Obsidian to Foam and left some notes here in case it helps: https://github.com/foambubble/foam/issues/46

[2020-10-03 09:48] riccardoferretti commented on #268
Great point @scott-joe , I totally missed it. Start might actually be a better name, although for vscode package I would expect that to start an instance of vscode with the extension in "dev" mode (which I am not sure it's possible).
Do you have any suggestion?
Will give it some thought too and update the issue

[2020-10-03 15:41] #209 closed

[2020-10-03 21:54] scott-joe commented on #268
I agree, since it's all being aliased from the mono-repo, you might as well call it "start" and leave the mono-repo passthru as having the namespace alias

[2020-10-04 11:51] riccardoferretti commented on #268
Sorry @scott-joe I didn't quite catch what you meant, can you elaborate?

[2020-10-04 14:02] chrisands opened #275 "Automatic git sync"
Hi, just today started to use foam. Since there is no discussion about automatic git sync...

I think it is possible to use vscode "editor.codeActionsOnSave" to git commit and git push (& pull?) every time file is saved. I'm not familiar with this option, but, briefly looking at it, I think foam needs to be markdown provider to able use it.

What you think about it? I could do this, but I don't th

[2020-10-04 14:27] picolino commented on #34
Well, because we don't have a built-in tags support in foam I want to share how I manage them.

1. Each tag places in a separate file name of which starts with `#`. Like `#idea.md`, `#work.md` etc.
2. Each file-tag must have a file-tag name at the first line and the next lines must be empty or have a short description of the tag itself. For example - `#idea.md` file content:
[code]
3. Use tags as

[2020-10-04 19:13] scott-joe commented on #275
I have this in my personal list of desired features. I had some ideas on how to cut down on the clutter as well. Perhaps some sort of automated time based gitflow? I'm interested in finding a balance between the granularity of backups and overloading the commit log. So, some sort of local branching each day with a squash commit to the week/month/etc and only daily squash commits to remote? The use

[2020-10-04 19:47] scott-joe opened #276 "Empty Title/Line 1 H1 breaks VS Code extension"
## Expected Behavior

- Running `Foam: Update Markdown Reference List` in VS Code within a Foam workspace should add Markdown reference links to the bottom of pages containing wikilinks.

## Actual Behavior

- Running `Foam: Update Markdown Reference List` in VS Code within a Foam workspace yields the following error:

## Steps to Reproduce

1. Create a new markdown file in a Foam workspace
1. Add

[2020-10-05 08:26] riccardoferretti commented on #275
What's the "problem" you are trying to solve with this approach @scott-joe ?
Asking because I have been thinking about it myself, and I wonder whether a EOD commit is best (which would give me timeframes), or editing session commit (which would give some sort of clustering of ideas/notes), or even on save (per @chrisands 's comment) just to ensure things are backed up..

[2020-10-05 10:08] riccardoferretti commented on #270
I didn't create that page so don't have much context on it, but let me share my thoughts.

- Is the assumed workspace configuration the most basic one? Notes in the top level?

My guess is to be unopinionated where possible, and make it easy (docs, cli commands, ...) to change

- How opinionated are these?

Little where possible :)

- Do they include configs for the required plugins?

Yes

- Do we

[2020-10-05 14:04] scott-joe commented on #268
@riccardoferretti so, the monorepo has in it's package.json, a set of scripts that point to the scripts in the various package's own package.json scripts.

Monorepo's package.json

[code]

`start:vscode` is easy to understand and realistically, nothing more is needed from the user if you're working in the monorepo. However, in the `foam-vscode` package under `packages/foam-vscode/package.json`, th

[2020-10-05 14:15] SanketDG commented on #275
I think given the large spectrum of audience that Foam could be useful too, among all other possible options, manually comitting should be _default_, because otherwise, you would be defining for the user.

One thing I'd like to see it commit message summarization based on the changes.

[2020-10-05 15:06] scott-joe commented on #268
https://github.com/foambubble/foam/pull/277

[2020-10-05 15:12] scott-joe commented on #275
@riccardoferretti I'd like to emulate some of the features I rely on in Bear/Notion, such as syncing. To that end, I'd like my workspace to automatically commit or at least stage changes at some regular interval and push those changes to my remote repos.

To keep those repos tidy, I'd like to have some sort of housekeeping done there, but that's just a bonus at this point.

The simplest in-workflo

[2020-10-05 16:16] chrisands commented on #275
So there should be two separate things. First is when and how foam commits changes. And the second thing is how often we sync remote repo with local.

About commits: I think the best would be on save run hook which will check how and when we commit. As options: on save or timer. Also foam can check for last sync with remote repo, compare with last commit time and amend commit, so repo isn't clutte

[2020-10-05 17:03] riccardoferretti commented on #275
@scott-joe is [git integration](https://github.com/foambubble/foam/blob/master/docs/git-integration.md) what you are talking about? That should cover at least the staging of changes.
Possibly in combination with [a vscode macro extension](https://marketplace.visualstudio.com/items?itemName=geddski.macros) it could also push.

I was also wondering whether this could be as easily achieved with a tas

[2020-10-06 06:43] SanketDG commented on #275
I have been trying to look into `git-hooks` with VSCode to see if I can get basic summarization, but unfortunately the support is still WIP at https://github.com/microsoft/vscode/pull/95266, but it can work at the terminal

`.git/hooks/prepare-commit-msg`:
[code]
So if you have a status like this:
[code]
It would summarize:
[code]

I am trying to figure out on how I can extend this, where I can ev

[2020-10-06 13:49] zomars opened #278 "Seems like wiki-links broke with the latest VSCode update"
Is there a way of troubleshooting this? Currently I cannot click on wiki-links nor create new notes from wiki-links.

![Captura de Pantalla 2020-10-06 a la(s) 7 48 01](https://user-images.githubusercontent.com/3504472/95210103-5d879980-07a8-11eb-8d67-d8d667b5ea22.png)

[2020-10-06 14:08] riccardoferretti commented on #278
mmmm.. I just tested with the latest VSCode and things seem to work fine for me.

can you check you have the Markdown Notes extensions installed and enabled?

[2020-10-06 14:30] zomars commented on #278
Hi thanks for the response @riccardoferretti. Yes I have the extension installed I'm following their troubleshooting guide and see what I can find.

On a side note I'm getting this warning also:

![image](https://user-images.githubusercontent.com/3504472/95215444-33d17100-07ae-11eb-8f2d-c0acccdcc371.png)

[2020-10-06 14:44] zomars commented on #278
Checking on the Extension Host Log:

[code]

Seems to be some deprecated regex on my `"search.exclude"` settings, I've removed the entries with regex and now it's working again.

[2020-10-06 15:04] riccardoferretti commented on #278
Glad it's working! will close the issue

[2020-10-06 15:04] #278 closed

[2020-10-06 18:57] Spectrem12 commented on #276
This recently happened to me.
One of my files had an empty heading
EX:
my-file.md
#

vs. what it should be
my-file.md
# my file

This caused the same error you are seeing to occur.
I fixed the header for my one file that had the issue and it did not resolve the problem.
I reinstalled Foam and restarted VS.
Then everything worked after that.

[2020-10-06 23:23] Spectrem12 opened #279 "Ability to create a heading with a new wikilink"
When creating a link to a file that does not exit, similar to this: [[example]]

It would be nice to be able to create headings within that file when the link is created.

EX: `[[example]](#foobar)`
Would create a file called example.md with the following inside of it
[code]

As well, when creating something like

`[example](./../my-example.md)`

The link does not populate in the auto generate lin

[2020-10-07 09:06] treisinger opened #280 "Blank area in explorer view"
Hello,

I have newly installed foam and it shows a big blank area in the explorer view of VSCode.

![image](https://user-images.githubusercontent.com/9279781/95310609-e5df6a80-088c-11eb-8c97-c818e7e0707f.png)

Could you please check. It looks not correct to me.

Best regards,
Tapio Reisinger

[2020-10-07 09:24] riccardoferretti commented on #280
hi @treisinger, I think the reason for the blank area is that your panels are all collapsed.
Try expanding either other panels (e.g. outline, while a markdown file is open), or one of the directories in the foam-workspace section.
Let us know how it goes

[2020-10-07 09:35] treisinger commented on #280
Hi,

there are still some blank areas. It is not a big thing. Just want to scheck if it's done by purpose, as it looks not correct to me.

![image](https://user-images.githubusercontent.com/9279781/95314031-16c19e80-0891-11eb-9cdc-75483f5f5f55.png)

Thank you and kind regards, Tapio

[2020-10-07 10:23] ingalless commented on #280
@treisinger The panels are resizable, could that be the issue? I've been using VS Code pre-Foam with some custom panels, and I get the same experience. See below (it's not a foam repo, but should illustrate the point):

![panels](https://user-images.githubusercontent.com/22981941/95319235-88005200-088f-11eb-8b46-992ca73d8523.gif)

[2020-10-07 10:38] riccardoferretti commented on #280
thanks for the thorough explanation @ingalless!
@treisinger also what I see in your image looks fine so I will close the issue

[2020-10-07 10:38] #280 closed

[2020-10-07 11:11] treisinger commented on #280
Yes it's fine. Sorry didn't noticed that.

Best regards, Tapio

[2020-10-07 16:19] chrisands commented on #275
I'm in progress of implementation auto commit function https://github.com/chrisands/foam/commit/bde65d834677e7fc862ceacf5367d6c06d14429a.

[2020-10-07 21:14] riccardoferretti commented on #276
@scott-joe @Spectrem12 this should fix it https://github.com/foambubble/foam/pull/284

[2020-10-09 13:31] ingalless commented on #275
@chrisands I prefer this approach to the terminal approach from @SanketDG (although those commands are seriously cool!) simply because not _everyone_ will be on a system that is using bash or similar (and perhaps greedily because I'm on windows and would enjoy having this functionality too!)